{{ define "container" }}
<div x-data id="container" class="relative font-montserrat">
    
    <div class="relative px-4 py-0 overflow-hidden lg:py-18 sm:px-20 sm:py-24 bg-radial-at-bl md:bg-radial-at-b from-rookteal-darktwo via-rookteal-light to-rookteal-dark">
        <!-- Shape divider -->
        <div class="absolute left-0 w-full overflow-hidden leading-none rotate-180 -bottom-1">
            <svg class="relative block h-[24px] w-full" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" fill="#F8FAFC"></path>
            </svg>
        </div>
        
        <div class="relative flex flex-col items-center justify-start mx-auto sm:flex-row max-w-7xl z-1 -translate-y-[60px] sm:translate-y-0">
            <div class="w-full p-0 sm:w-2/3 sm:p-8">
                <h1 x-intersect="$el.classList.add('fadeInUp')" class="!leading-tight w-full mb-4 text-3xl font-extrabold tracking-tight text-center pt-28 sm:text-left sm:pt-0 lg:text-6xl text-slate-50">
                    ICON's Basic<br> Branding Kit
                </h1>
                <p x-intersect="$el.classList.add('fadeInUp')" class="z-50 max-w-2xl mb-8 text-lg text-center sm:text-left md:text-xl text-slate-100">
                    Quickly download logos, or go further and see how you can correctly handle ICON's brand assets.
                </p>
                <div x-intersect="$el.classList.add('fadeInUp')" id="hero-buttons" class="flex flex-wrap justify-center gap-4 sm:justify-start">
                    <a class="inline-flex items-center px-6 py-2 text-base font-bold transition duration-200 bg-white rounded-full shadow-sm text-xgray hover:shadow-md hover:bg-white/90 transform-all font-montserrat focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-icon-dark sm:text-base" href="/assets/icon-all-logos.zip">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                          </svg>                     
                        Download All Logos
                    </a>
                </div>
            </div>
            
        </div>
    </div>
      
    <div class="relative overflow-hidden ">       
        <div class="relative px-4 py-16 mx-auto lg:px-8 max-w-7xl sm:py-24">
            <div x-intersect="$el.classList.add('fadeInUp')" class="w-full mb-8 text-left">
                <h1 class="text-3xl font-extrabold !leading-tight text-xgray lg:text-6xl">Let's Upgrade Together</h1>
                <p class="my-4 text-lg lg:text-xl text-xgray">By upgrading your dApp or website you are contributing to a consistent identity and user experience.</p> 
            </div>  
            
            <div x-intersect="$el.classList.add('fadeInUp')" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
                <!-- LIGHT -->
                <div class="flex flex-col items-start space-y-6">
                    <img src="/assets/images/branding-kit/light-palette.jpg" alt="Download the ICON light palette" height="351" width="542"/>
                    <a class="inline-flex items-center px-6 py-2 text-base font-bold text-white transition duration-200 rounded-full shadow-sm bg-icon hover:shadow-md hover:bg-icon/90 transform-all font-montserrat focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-icon-dark" href="/assets/icon-white-palette.zip">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                          </svg>                     
                        Download Light Palette
                    </a>
                </div>
                <!-- TEAL -->
                <div class="flex flex-col items-start space-y-6">
                    <img src="/assets/images/branding-kit/teal-palette.jpg" alt="Download the ICON light palette" height="351" width="542"/>
                    <a class="inline-flex items-center px-6 py-2 text-base font-bold text-white transition duration-200 rounded-full shadow-sm bg-icon hover:shadow-md hover:bg-icon/90 transform-all font-montserrat focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-icon-dark " href="/assets/icon-teal-palette.zip">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                          </svg>                     
                        Download Teal Palette
                    </a>
                </div>
                <!-- DARK -->
                <div class="flex flex-col items-start space-y-6">
                    <img src="/assets/images/branding-kit/black-palette.jpg" alt="Download the ICON light palette" height="351" width="542"/>
                    <a class="inline-flex items-center px-6 py-2 text-base font-bold text-white transition duration-200 rounded-full shadow-sm bg-icon hover:shadow-md hover:bg-icon/90 transform-all font-montserrat focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-icon-dark" href="/assets/icon-black-palette.zip">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                          </svg>                     
                        Download Black Palette
                    </a>
                </div>
            </div>
            
        </div>
    </div>
        
    <div class="relative py-8 sm:py-32 bg-radial-at-br from-rookteal-dark via-rookteal-light to-rookteal-dark ">
            <!-- Shape divider top of panel-->
            <div class="absolute left-0 w-full overflow-hidden leading-none -top-1">
                <svg class="relative scale-x-[-1] block h-[24px] w-full" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" fill="#F8FAFC"></path>
                </svg>
            </div>
            
            <!-- The image -->
        
        <div x-intersect="$el.classList.add('scale')" class="absolute top-0 bottom-0 hidden left-1/2 sm:block xl:hidden">
            <img src="{{ partial "cdn_url.html" }}/assets/images/branding-kit/icon-assets.png" alt="integrate with xcall mid" loading="lazy" class="object-cover w-full h-full"/>
        </div> 
        <div x-intersect="$el.classList.add('scale')" class="absolute top-0 bottom-0 hidden left-1/2 xl:block">
            <img src="{{ partial "cdn_url.html" }}/assets/images/branding-kit/icon-assets.png" alt="integrate with xcall large" loading="lazy" class="object-cover w-full h-full"/>
        </div>  
        
        
        <div class="relative flex flex-col items-center justify-start mx-auto sm:flex-row max-w-7xl z-1 -translate-y-[60px] sm:translate-y-0">
            <div class="w-full p-0 sm:w-2/3 sm:p-8">
                <h1 x-intersect="$el.classList.add('fadeInUp')" class="!leading-tight w-full mb-4 text-3xl font-extrabold tracking-tight text-center pt-28 sm:text-left sm:pt-0 lg:text-6xl text-slate-50">
                    Go Beyond
                </h1>
                <div x-intersect="$el.classList.add('scale')" class="block px-2 -my-8 sm:hidden">
                    <img src="{{ partial "cdn_url.html" }}/assets/images/branding-kit/icon-assets.png" alt="integrate with xcall mobile" loading="lazy" class="object-cover w-full h-full"/>
                </div>
                <p x-intersect="$el.classList.add('fadeInUp')" class="z-50 max-w-2xl mb-8 text-lg text-center sm:text-left md:text-xl text-slate-100">
                    Use assets and gradients to maximize the impact of your ICON project.
                </p>
                <div x-intersect="$el.classList.add('fadeInUp')" id="hero-buttons" class="flex flex-wrap justify-center gap-4 sm:justify-start">
                    <a class="inline-flex items-center px-6 py-2 text-base font-bold transition duration-200 bg-white rounded-full shadow-sm text-xgray hover:shadow-md hover:bg-white/90 transform-all font-montserrat focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-icon-dark sm:text-base" href="/assets/icon-assets.zip">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                          </svg>                     
                        Download Basic Assets
                    </a>
                </div>
            </div>
            
        </div>
        </div>
        
        <div class="relative py-16 sm:py-24">
            <div class="relative flex flex-col items-center justify-center mx-auto sm:justify-start sm:flex-row max-w-7xl z-1 sm:translate-y-0">
                <div class="w-full p-0 sm:w-2/3 sm:p-8">
                    <div class="flex items-center mx-auto ">
                        <h1 x-intersect="$el.classList.add('fadeInUp')" class="w-1/2 pt-0 pl-4 mb-0 text-4xl font-extrabold !leading-tight text-left sm:mb-4 sm:pl-0 sm:w-full  lg:text-6xl text-slate-500">
                            Contribute to<br> ICON's Branding
                        </h1>
                    </div>
                    
                    <p x-intersect="$el.classList.add('fadeInUp')" class="px-4 mb-8 text-lg text-left text-xgray sm:px-0 md:text-xl">
                        Path your way to becoming a WithICONists DAO member and contribute to may areas of the ICON ecosystem. Provide ideas or feedback for growing a stronger and effective brand identity!
                    </p>
                    <div x-intersect="$el.classList.add('fadeInUp')" id="hero-buttons" class="flex flex-wrap justify-center gap-4 sm:justify-start">
                        <a class="inline-flex items-center px-6 py-2 text-base font-bold text-white transition duration-200 rounded-full shadow-sm bg-icon hover:shadow-md hover:bg-icon/90 transform-all font-montserrat focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-icon-dark sm:text-base" href="https://discord.gg/xM2Nh4S6vN">                    
                            Find your way on Discord
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
       
    </div>


    {{ end }}