{{ define "container" }}
    <div class="bg-yellow-400 text-xl font-bold w-full h-20 flex items-center justify-center uppercase tracking-wide">page under construction</div>
<main class="relative flex flex-row">    
    <!-- MAIN SECTION -->
    <div class="w-full sm:w-3/4 p-10 sm:p-20 space-y-4">
        <p class="uppercase"><a class="inline-block hover:text-teal-600" href="/">home</a> / <span class="text-teal-600">contributing</span></p>
        <h1 class="text-2xl font-bold">Contributing to icon.community 🌐</h1>
        <p>The icon.community website, like ICON more broadly, is an open-source project. So if you want to help improve our portal to ICON, here's how you can help out.</p>
        <p class="w-fit rounded-full border px-2 py-1">Potential call-out</p>
        <div class="space-y-2">
            <h2 id="waystocontribute" class="text-xl font-bold">Ways to contribute</h2>
            <ul class="list-disc">
                <li id='openissue'>Work on an open issue <span class="italic text-gray-500">- Work we've identified that needs doing</span></li>
                <li id='communityresources'>Add community resources <span class="italic text-gray-500">- Add a helpful article or resource to a relevant page</span></li>
                <li id='product'>Add a product <span class="italic text-gray-500">- Add a dapp or wallet to a relevant page</span></li>
                <li id='devtools'>Add developer tools <span class="italic text-gray-500">- Add a developer tool to a relevant page</span></li>
            </ul>
            
        </div>
        <div>
            <h2 id="howto" class="text-xl font-bold">How to work on icon.community</h2>
            <p class="border h-40 flex items-center justify-center">textbox</p>
        </div>
        <div>
            <h2 id="howdecisionsaremade" class="text-xl font-bold">How decisions about the site are made</h2>
            <p class="border h-40 flex items-center justify-center">textbox</p>
        </div>
        <div>
            <h2 id="newtoopensource" class="text-xl font-bold">New to open-source?</h2>
            <p class="border h-40 flex items-center justify-center">textbox</p>
        </div>
    </div>
    <!-- SIDEPANEL SECTION -->
    <div class="w-1/4 hidden sm:block py-10">
        <div class="sticky top-0 border-l-2 border-gray-400 px-20 py-10 space-y-4">
            <a class="w-fit hover:shadow-sm px-2 py-2 flex flex-row items-center justify-items border rounded-md" href="https://github.com/icon-community/icon.community">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                        clip-rule="evenodd" />
                </svg>
                <p class="ml-2 font-semibold">Contribute Now</p>
            </a>
            <h1 class="text-xl text-gray-400 uppercase">On this page</h1>
            <a class="block hover:text-teal-600" href="#waystocontribute">Ways to contribute</a>
            <a class="block hover:text-teal-600" href="#howto">How to work on icon.community</a>
            <a class="block hover:text-teal-600" href="#howdecisionsaremade">How decisions about the site are made</a>
            <a class="block hover:text-teal-600" href="#newtoopensource">New to open-source?</a>
        </div>
        
    </div>
</main>
{{ end }}