{{ define "container" }}
    <div class="bg-yellow-400 text-xl font-bold w-full h-20 flex items-center justify-center uppercase tracking-wide">page under construction</div>
<main class="relative flex flex-row">    
    <!-- MAIN SECTION -->
    <div class="w-full sm:w-3/4 p-10 sm:p-20 space-y-4">
        <p class="uppercase"><a class="inline-block hover:text-teal-600" href="/">home</a> / <span class="text-teal-600">contributing</span></p>
        <h1 class="text-2xl font-bold">Contributing to icon.community 🌐</h1>
        <p>The icon.community website, like ICON more broadly, is an open-source project. So if you want to help improve our portal to ICON, here's how you can help out.</p>
        <p class="w-fit rounded-full border px-2 py-1">Potential call-out</p>
        <div class="space-y-2">
            <h2 id="waystocontribute" class="text-xl font-bold">Ways to contribute</h2>
            <ul class="list-disc">
                <li id='openissue'>Work on an open issue <span class="italic text-gray-500">- Work we've identified that needs doing</span></li>
                <li id='communityresources'>Add community resources <span class="italic text-gray-500">- Add a helpful article or resource to a relevant page</span></li>
                <li id='product'>Add a product <span class="italic text-gray-500">- Add a dapp or wallet to a relevant page</span></li>
                <li id='devtools'>Add developer tools <span class="italic text-gray-500">- Add a developer tool to a relevant page</span></li>
            </ul>
            
        </div>
        <div>
            <h2 id="howto" class="text-xl font-bold">How to work on icon.community</h2>
            <p class="border h-40 flex items-center justify-center">textbox</p>
        </div>
        <div>
            <h2 id="howdecisionsaremade" class="text-xl font-bold">How decisions about the site are made</h2>
            <p class="border h-40 flex items-center justify-center">textbox</p>
        </div>
        <div>
            <h2 id="newtoopensource" class="text-xl font-bold">New to open-source?</h2>
            <p class="border h-40 flex items-center justify-center">textbox</p>
        </div>
    </div>
    <!-- SIDEPANEL SECTION -->
    <div class="w-1/4 hidden sm:block py-10">
        <div class="sticky top-0 border-l-2 border-gray-400 px-20 py-10 space-y-2">
            <h1 class="text-xl text-gray-400 uppercase">On this page</h1>
            <a class="block hover:text-teal-600" href="#waystocontribute">Ways to contribute</a>
            <a class="block hover:text-teal-600" href="#howto">How to work on icon.community</a>
            <a class="block hover:text-teal-600" href="#howdecisionsaremade">How decisions about the site are made</a>
            <a class="block hover:text-teal-600" href="#newtoopensource">New to open-source?</a>
        </div>
        
    </div>
</main>
{{ end }}