{{ define "container" }}
<main class="w-full pt-0 overflow-hidden bg-radial-at-t from-indigo-300 via-violet-300 to-violet-300 lg:pt-20">
    <!-- FIRST PANEL -->
    <div class="relative max-w-6xl py-10 mx-auto space-y-4 sm:space-y-8 md:py-20">
        <img class='block w-full my-16 scale-150 sm:hidden sm:right-0 sm:w-5/6 md:w-4/6' src='/assets/images/hanawallet/hana-wallet.png' alt='Hana Wallet Overview'/>
        
        <div class="w-full px-5 text-4xl font-extrabold tracking-tight text-center sm:text-left sm:px-10 sm:text-6xl lg:w-2/3">Multi-chain crypto made simple...</div>
        <div class="w-full px-5 text-xl font-thin tracking-tight text-center uppercase sm:text-left sm:block sm:px-10 sm:text-2xl lg:w-2/3">get hana wallet for icon</div>
        <!-- ACTUAL BUTTONS -->
        <div class="flex flex-row items-center justify-center px-5 space-x-8 sm:px-10 sm:justify-start">
            <a id="hwpchrome1" class='relative z-30 block transition-all duration-300 text-slate-800 hover:cursor-pointer hover:scale-110 hover:rotate-2' href="https://chrome.google.com/webstore/detail/hana-wallet/jfdlamikmbghhapbgfoogdffldioobgl?utm_source=icon.community">
                <svg height="60px" width="60px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                    viewBox="0 0 512 512" xml:space="preserve">
                    <path fill='currentColor' d="M256,386.648c-25.6,0-49.434-7.062-70.621-21.186c-21.186-14.124-37.076-31.779-47.669-53.848
                        L31.779,128C9.71,167.724,0,210.979,0,256c0,64.441,21.186,120.055,62.676,167.724s93.572,75.917,155.366,85.628l74.152-128.883
                        C285.131,383.117,271.89,386.648,256,386.648"/>
                    <path fill='currentColor' d="M175.669,150.069c23.834-18.538,50.317-26.483,80.331-26.483h219.807
                        c-22.952-38.841-53.848-67.09-92.69-89.159C344.276,11.476,301.903,0,256,0c-39.724,0-77.683,8.828-112.11,25.6
                        S76.8,67.09,53.848,98.869L128,220.69C135.062,192.441,151.834,168.607,175.669,150.069"/>
                    <path fill='currentColor' d="M492.579,159.779H344.276c25.6,25.6,43.255,59.145,43.255,96.221
                        c0,27.366-7.945,52.083-22.952,75.034L258.648,512c69.738-0.883,129.766-25.6,179.2-75.917S512,325.738,512,256
                        C512,223.338,506.703,188.91,492.579,159.779"/>
                    <path fill='currentColor' d="M256,158.897c52.966,0,97.103,44.138,97.103,97.103S308.966,353.103,256,353.103
                        S158.897,308.966,158.897,256S203.034,158.897,256,158.897"/>
                </svg>
            </a>  
            <a href='https://play.google.com/store/apps/details?id=com.HanaTech.Wallet&pli=1?utm_source=icon.community' id="hwpandroid1" class='relative z-30 block transition-all duration-300 text-slate-800 hover:cursor-pointer hover:scale-110 hover:rotate-2'>
                <svg width="60px" height="60px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <title>android</title>
                    <g id="Layer_2" data-name="Layer 2">
                    <g id="icons_Q2" data-name="icons Q2">
                        <g>
                        <path fill='currentColor' d="M7.7,16.2A2.7,2.7,0,0,0,5,18.9V30.3a2.8,2.8,0,0,0,1.2,2.3,2.6,2.6,0,0,0,1.5.4,2.7,2.7,0,0,0,2.2-1.1l.2-.3.3-.7v-12A2.7,2.7,0,0,0,7.7,16.2Z"/>
                        <path fill='currentColor' d="M29.6,6l1.9-3.4c0-.1.1-.1.1-.2a.8.8,0,0,0-.2-.4h-.5l-2,3.5a4.9,4.9,0,0,0-1.7-.6,13.6,13.6,0,0,0-3.6-.5H21.8a12.9,12.9,0,0,0-3.5,1L16.4,2.2A.5.5,0,0,0,16,2h-.2a.4.4,0,0,0-.1.3v.2L17.6,6h0a11.8,11.8,0,0,0-4.4,3.9l-.5.8-.6,1.4a8.9,8.9,0,0,0-.7,3.6H35.8A11.1,11.1,0,0,0,29.6,6ZM18.1,11.4A1.1,1.1,0,0,1,17,10.3a1.1,1.1,0,0,1,1.1-1,1.1,1.1,0,0,1,1,1A1.1,1.1,0,0,1,18.1,11.4Zm11.1,0a1,1,0,0,1-1-1.1,1,1,0,0,1,2,0A1,1,0,0,1,29.2,11.4Z"/>
                        <path fill='currentColor' d="M11.5,16.8V34.4a2.9,2.9,0,0,0,2.9,2.9h2v6A2.6,2.6,0,0,0,18,45.8h1.1l1-.2a2.7,2.7,0,0,0,1.7-2.5v-6h3.7v6a2.7,2.7,0,1,0,5.4,0v-6h2a3.5,3.5,0,0,0,1.7-.6,2.9,2.9,0,0,0,1.2-2.3V16.8Z"/>
                        <path fill='currentColor' d="M42.2,18.9a2.6,2.6,0,0,0-2.1-2.6h-.6a2.7,2.7,0,0,0-2.7,2.7V30.3a2.7,2.7,0,1,0,5.4,0Z"/>
                        </g>
                    </g>
                    </g>
                </svg>
                <span class="absolute px-1 mx-auto text-sm font-semibold text-center text-gray-100 transition-opacity bg-gray-800 rounded-md opacity-0 group-hover:opacity-100 hover:cursor-default">Coming soon</span>
            </a>
            <a href="https://apps.apple.com/us/app/hana-wallet/id6447821572?utm_source=icon.community" id="hwpapple1" class='relative z-30 block transition-all duration-300 text-slate-800 hover:cursor-pointer hover:scale-110 hover:rotate-2'>
                <svg width="60px" height="60px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
                    <path fill="currentColor" d="M10.167 3.242c.435-.523.742-1.24.742-1.958 0-.105-.008-.202-.03-.284-.704.03-1.55.47-2.06 1.069-.397.448-.772 1.173-.772 1.891 0 .112.023.217.03.254.045.008.12.015.188.015.636 0 1.43-.419 1.902-.987zm.495 1.144c-1.057 0-1.918.643-2.465.643-.591 0-1.355-.606-2.284-.606C4.168 4.423 2.4 5.866 2.4 8.58c0 1.697.652 3.491 1.46 4.642C4.557 14.193 5.164 15 6.04 15c.869 0 1.251-.575 2.33-.575 1.093 0 1.333.56 2.292.56.95 0 1.587-.867 2.18-1.727.673-.986.95-1.943.958-1.988-.053-.015-1.873-.755-1.873-2.833 0-1.794 1.431-2.6 1.513-2.66-.943-1.354-2.381-1.391-2.778-1.391z"/>
                </svg>
            </a>
        </div> 
        <!-- <a href="https://hanawallet.notion.site/hanawallet/Hana-Mobile-Beta-ec2f93034f1643cab0e3d156379e74a8" class="bg-[#150739] text-white hover:scale-105 transition-all relative rounded-full mx-auto sm:mx-10 w-fit px-4 shadow-lg z-30 py-1 text-xl tracking-tight text-center sm:text-left sm:text-xl flex flex-row items-center justify-start">
            <p class="font-thin text-[#BCFBE3]">Become a mobile beta tester</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#BCFBE3" class="w-6 h-6 ml-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
            </svg>              
        </a> -->
        <img class='absolute z-20 hidden w-5/6 -bottom-8 sm:block sm:right-0' src='/assets/images/hanawallet/hana-wallet.png' alt='Hana Wallet Overview'/>
    </div>
    <!-- SECOND PANEL -->
    <div class="relative max-w-6xl py-10 mx-auto bg-[#0D0229] flex flex-col sm:flex-row rounded-none lg:rounded-3xl">
        <div class="w-full p-8 space-y-8 sm:w-1/2">
            <h1 class='text-5xl font-bold text-white'>Before</h1>
            <p class='text-white'>You needed a different wallet for each blockchain, making it too complicated to manage assets on multiple blockchains.</p>
            <img class='' src='/assets/images/hanawallet/before_hana.png' alt='Hana Wallet Before'/>
        </div>
        <div class="w-full p-8 space-y-8 sm:w-1/2">
            <img class='hidden sm:block' src='/assets/images/hanawallet/after_hana.png' alt='Hana Wallet After'/>
            <h1 class='text-5xl font-bold text-white'>With Hana</h1>
            <p class='text-white'>A single application is all you need to manage your assets and connect to your favourite blockchains.</p>      
            <img class='block sm:hidden' src='/assets/images/hanawallet/after_hana.png' alt='Hana Wallet After'/>      
        </div>
    </div>
    <!-- THIRD PANEL -->
    <div class='relative flex flex-col max-w-6xl pt-10 mx-auto md:pt-20 sm:flex-row'>
        <div class="w-full sm:w-1/2 lg:2/3">
            <img class='block w-full my-4 sm:hidden' src='/assets/images/hanawallet/bg-desk-assets.png' alt='Hana Wallet NFTs'/>
            <div class="block h-full sm:flex sm:flex-col sm:items-center sm:justify-center">
                <h1 class="w-full p-5 text-4xl font-bold sm:p-10 sm:text-6xl ">A bird's eye view of all your assets.</h1>
                <p class="w-full px-5 pb-10 sm:px-10 ">Hana offers a simple and secure way to manage all your tokens and NFTs across multiple blockchains. Visit the <a class='font-semibold text-[#502EB2]' href="https://hanawallet.io/?utm_source=icon.community">Hana Wallet Website</a> and learn more!</p>
            </div>
        </div>
        <img class='hidden w-1/2 sm:block' src='/assets/images/hanawallet/bg-desk-assets.png' alt='Hana Wallet NFTs'/>
    </div>
    <!-- FOURTH PANEL -->
    <div class='relative flex flex-col items-start justify-center max-w-6xl p-4 mx-auto mb-10 space-y-8 text-center border w-fit border-slate-800 rounded-xl'>
        <div class="w-full px-5 text-xl font-thin tracking-tight text-center uppercase sm:text-left sm:block sm:px-10 sm:text-2xl ">get hana wallet for icon</div>
        <!-- ACTUAL BUTTONS -->
        <div class="flex flex-row items-center justify-center px-5 mx-auto space-x-8 sm:px-10">
            <a id="hwpchrome1" class='block transition-all duration-300 text-slate-800 hover:cursor-pointer hover:scale-110 hover:rotate-2' href="https://chrome.google.com/webstore/detail/hana-wallet/jfdlamikmbghhapbgfoogdffldioobgl?utm_source=icon.community">
                <svg height="60px" width="60px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                    viewBox="0 0 512 512" xml:space="preserve">
                    <path fill='currentColor' d="M256,386.648c-25.6,0-49.434-7.062-70.621-21.186c-21.186-14.124-37.076-31.779-47.669-53.848
                        L31.779,128C9.71,167.724,0,210.979,0,256c0,64.441,21.186,120.055,62.676,167.724s93.572,75.917,155.366,85.628l74.152-128.883
                        C285.131,383.117,271.89,386.648,256,386.648"/>
                    <path fill='currentColor' d="M175.669,150.069c23.834-18.538,50.317-26.483,80.331-26.483h219.807
                        c-22.952-38.841-53.848-67.09-92.69-89.159C344.276,11.476,301.903,0,256,0c-39.724,0-77.683,8.828-112.11,25.6
                        S76.8,67.09,53.848,98.869L128,220.69C135.062,192.441,151.834,168.607,175.669,150.069"/>
                    <path fill='currentColor' d="M492.579,159.779H344.276c25.6,25.6,43.255,59.145,43.255,96.221
                        c0,27.366-7.945,52.083-22.952,75.034L258.648,512c69.738-0.883,129.766-25.6,179.2-75.917S512,325.738,512,256
                        C512,223.338,506.703,188.91,492.579,159.779"/>
                    <path fill='currentColor' d="M256,158.897c52.966,0,97.103,44.138,97.103,97.103S308.966,353.103,256,353.103
                        S158.897,308.966,158.897,256S203.034,158.897,256,158.897"/>
                </svg>
            </a>  
            <a href='https://play.google.com/store/apps/details?id=com.HanaTech.Wallet&pli=1?utm_source=icon.community' id="hwpandroid1" class='relative z-30 block transition-all duration-300 text-slate-800 hover:cursor-pointer hover:scale-110 hover:rotate-2'>
                <svg width="60px" height="60px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <title>android</title>
                    <g id="Layer_2" data-name="Layer 2">
                    <g id="icons_Q2" data-name="icons Q2">
                        <g>
                        <path fill='currentColor' d="M7.7,16.2A2.7,2.7,0,0,0,5,18.9V30.3a2.8,2.8,0,0,0,1.2,2.3,2.6,2.6,0,0,0,1.5.4,2.7,2.7,0,0,0,2.2-1.1l.2-.3.3-.7v-12A2.7,2.7,0,0,0,7.7,16.2Z"/>
                        <path fill='currentColor' d="M29.6,6l1.9-3.4c0-.1.1-.1.1-.2a.8.8,0,0,0-.2-.4h-.5l-2,3.5a4.9,4.9,0,0,0-1.7-.6,13.6,13.6,0,0,0-3.6-.5H21.8a12.9,12.9,0,0,0-3.5,1L16.4,2.2A.5.5,0,0,0,16,2h-.2a.4.4,0,0,0-.1.3v.2L17.6,6h0a11.8,11.8,0,0,0-4.4,3.9l-.5.8-.6,1.4a8.9,8.9,0,0,0-.7,3.6H35.8A11.1,11.1,0,0,0,29.6,6ZM18.1,11.4A1.1,1.1,0,0,1,17,10.3a1.1,1.1,0,0,1,1.1-1,1.1,1.1,0,0,1,1,1A1.1,1.1,0,0,1,18.1,11.4Zm11.1,0a1,1,0,0,1-1-1.1,1,1,0,0,1,2,0A1,1,0,0,1,29.2,11.4Z"/>
                        <path fill='currentColor' d="M11.5,16.8V34.4a2.9,2.9,0,0,0,2.9,2.9h2v6A2.6,2.6,0,0,0,18,45.8h1.1l1-.2a2.7,2.7,0,0,0,1.7-2.5v-6h3.7v6a2.7,2.7,0,1,0,5.4,0v-6h2a3.5,3.5,0,0,0,1.7-.6,2.9,2.9,0,0,0,1.2-2.3V16.8Z"/>
                        <path fill='currentColor' d="M42.2,18.9a2.6,2.6,0,0,0-2.1-2.6h-.6a2.7,2.7,0,0,0-2.7,2.7V30.3a2.7,2.7,0,1,0,5.4,0Z"/>
                        </g>
                    </g>
                    </g>
                </svg>
               
            </a>
            <a id="hwpapple1" class='block transition-all duration-300 text-slate-800 hover:cursor-pointer hover:scale-110 hover:rotate-2' href="https://apps.apple.com/us/app/hana-wallet/id6447821572?utm_source=icon.community">
                <svg width="60px" height="60px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
                    <path fill="currentColor" d="M10.167 3.242c.435-.523.742-1.24.742-1.958 0-.105-.008-.202-.03-.284-.704.03-1.55.47-2.06 1.069-.397.448-.772 1.173-.772 1.891 0 .112.023.217.03.254.045.008.12.015.188.015.636 0 1.43-.419 1.902-.987zm.495 1.144c-1.057 0-1.918.643-2.465.643-.591 0-1.355-.606-2.284-.606C4.168 4.423 2.4 5.866 2.4 8.58c0 1.697.652 3.491 1.46 4.642C4.557 14.193 5.164 15 6.04 15c.869 0 1.251-.575 2.33-.575 1.093 0 1.333.56 2.292.56.95 0 1.587-.867 2.18-1.727.673-.986.95-1.943.958-1.988-.053-.015-1.873-.755-1.873-2.833 0-1.794 1.431-2.6 1.513-2.66-.943-1.354-2.381-1.391-2.778-1.391z"/>
                </svg>
                
            </a>
        </div> 
        <!-- <a href="https://hanawallet.notion.site/hanawallet/Hana-Mobile-Beta-ec2f93034f1643cab0e3d156379e74a8" class="bg-[#150739] hover:scale-105 transition-all text-white relative rounded-full mx-auto sm:mx-10 w-fit px-4 shadow-lg z-30 py-1 text-xl tracking-tight text-center sm:text-left sm:text-xl flex flex-row items-center justify-start">
            <p class="font-thin text-[#BCFBE3]">Become a mobile beta tester</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#BCFBE3" class="w-6 h-6 ml-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
            </svg>              
        </a> -->
    </div>
</main>
{{ end }}