{{ define "container" }}
<main class="relative w-full overflow-hidden bg-gradient-to-b from-blue-900 via-teal-400 to-blue-900">
    <img class='absolute top-0 left-0 w-full lg:-top-80' src='/assets/images/icondiscord/icon-mesh-bg.png' alt='ICON Interoperability Mesh'/>
    <img class='absolute bottom-0 left-0 w-full rotate-180 lg:-bottom-80 ' src='/assets/images/icondiscord/icon-mesh-bg.png' alt='ICON Interoperability Mesh'/>
    <!-- FIRST PANEL -->
    <div class="relative max-w-6xl px-4 pt-20 mx-auto text-white md:px-10 lg:px-28">
    
        <img class='absolute right-0 z-20 w-1/2 -bottom-10 sm:-bottom-20 lg:w-2/5' src='/assets/images/icondiscord/icon-discord-phone.png' alt='ICON Discord Community'/>
        <div class="relative space-y-4">
            <div class="text-lg font-thin tracking-tight sm:text-xl w-fit">Home of the ICON Network Community</div>
            <div class="w-full text-4xl font-thin tracking-tight sm:text-6xl lg:text-7xl lg:w-2/3">Join the <span class="block font-extrabold">Conversation</span> on Discord</div> 
            <div class="relative w-fit">
                <a id="idpdis1" class='absolute left-0 block w-48 h-10 rounded-full top-2' href="https://discord.gg/b5QvCXJjJM"></a>
                <img class='w-60' src='/assets/images/icondiscord/go-to-discord-top-button.png' alt='ICON Discord Community'/>
            </div>          
        </div>
        
    </div>
    
    <!-- SECOND PANEL -->
    <div class="relative flex flex-col max-w-4xl px-4 py-10 mx-auto space-y-8 bg-white rounded-none shadow-2xl sm:px-20 lg:rounded-3xl">
        <div class="space-y-4">
            <h1 class='w-full p-1 text-4xl italic font-extrabold text-transparent sm:w-2/3 lg:w-1/2 bg-clip-text bg-gradient-to-br from-indigo-900 via-indigo-700 to-teal-400'>Chat with the <span class="whitespace-nowrap">ICON Community</span></h1>
            <p class='p-1 font-thin text-slate-800'>Immerse yourself in the ICON community, join our exclusive discord events and learn in a safe environment with live support from dedicated community managers. The ICON discord has you covered!</p>           
        </div>
        <div class="space-y-4">            
            <h1 class='w-full p-1 text-4xl italic font-extrabold text-transparent sm:w-2/3 lg:w-1/2 bg-clip-text bg-gradient-to-br from-teal-400 via-teal-400 to-teal-600'>Earn with Crew3 and get ICON merch</h1>
            <div class="flex flex-col items-center justify-center space-y-4 sm:space-y-0 sm:flex-row">
                <p class="p-1 font-thin text-slate-800">Track your engagement and contributions to the ICON network through a series of quests and activities. Increase your XP, level up and earn ICON rewards, all from our Crew3 page!</p>
                <a id="idpcrew3" class="block px-4 py-2 mx-4 italic font-extrabold text-white rounded-full bg-gradient-to-r from-indigo-900 via-blue-900 to-teal-400 whitespace-nowrap" href="https://iconcommunity.crew3.xyz/">Crew3 Extra Rewards</a>
            </div>
                        
        </div>
    </div>
    
    <!-- THIRD PANEL -->
    <div class='relative flex flex-col max-w-xl mx-auto mb-40'>
        <img class='' src='/assets/images/icondiscord/icon-web-logo.png' alt='Technical Discussion in ICON Discord'/>
        <h1 class="w-full p-5 mx-auto text-4xl italic font-extrabold text-center text-teal-300 sm:p-10 sm:text-5xl">Technical discussion in ICON Discord</h1>
        <p class="w-full px-5 pb-10 font-thin text-center text-white sm:px-10">Get support with all your technical challenges and rely on the ICON developer community to help you build succesfully on the ICON Network.</p>
        <div class="relative mx-auto w-fit">
            <a id="idpdis1" class='absolute block h-16 rounded-full left-1 w-72 bottom-4' href="https://discord.gg/b5QvCXJjJM"></a>
            <img class='' src='/assets/images/icondiscord/go-to-discord-bottom-button.png' alt='Join ICON Discord'/>
        </div>

    </div>
    
</main>
{{ end }}