{{ define "container" }}
<main class="relative w-full mx-auto bg-[#34b8bb] font-montserrat overflow-hidden">
    <div class="absolute w-full h-full -top-10 sm:top-0 left-1/2">
        <img src="/assets/images/integrate-with-xcall/devs-xcall-bg.png" alt="Integrate with xCall backdrop" class="object-none object-top h-full transform -translate-x-1/2 ">
    </div>
    
    <div class="relative z-20 h-[1380px] w-[330px] sm:w-[380px] mx-auto text-center text-white">
        <div class="absolute top-[250px] sm:top-[300px] transform -translate-x-1/2 left-1/2 fade-in-delay">
            <div class="rounded-full h-[60px] w-[60px] bg-[#5CFFFF]/60 blur-md animate-pulse"></div>
        </div>
        <h3 class="absolute text-center w-full top-[60px] text-white/80">Standardized Cross-Chain Messages</h3>
        <p class="uppercase absolute text-center w-full top-[90px] text-[#5cffe4] tracking-[0.4em] sm:tracking-[0.3em] text-xl sm:text-2xl font-lemonmilk font-bold">on any protocol</p>
        <h1 class="uppercase absolute w-full top-[545px] text-white tracking-[40px] sm:tracking-[80px] -translate-x-[0px] sm:-translate-x-[40px] text-5xl font-lemonmilk font-weight-300">
            xCall
        </h1>
        <h1 class="uppercase absolute w-full top-[545px] text-white/60 tracking-[46px] sm:tracking-[86px] -translate-x-[12px] sm:-translate-x-[52px] blur-sm text-5xl font-lemonmilk font-weight-300 ">
            xCall
        </h1>
        <h2 class="text-[#5cffe4] absolute text-left uppercase w-full top-[630px] pb-[10px] border-b font-lemonmilk border-[#5cffe4]/60"><span class="font-bold">xCall</span> Incentivized interoperable testnet program for BTP</h2>
        <p class="absolute text-left w-full top-[700px] text-white/80">xCall is a key feature of BTP and ICON’s unique standard for generic cross-chain messaging between heterogeneous blockchains.</p>
        <p class="absolute text-left w-full top-[800px] sm:top-[780px] text-white/80">Participate in these <a href="https://www.notion.so/iconfoundation/Testnet-Challenges-bc1b7de910894307970841d64ea9548f" class="inline-block font-bold">testnet challenges</a> and win up to 40000 ICX per challenge category</p>
        <p class="text-[#5cffe4] absolute text-left uppercase w-full top-[900px] pb-[10px] border-b  font-lemonmilk border-[#5cffe4]/60">Available on</p>
        <div class="absolute top-[945px] w-full left-1/2 transform -translate-x-1/2">
            <img src="/assets/images/integrate-with-xcall/infographic-with-texts.svg" alt="Integrate with xCall on these blockchains">
        </div>
        <div class="absolute z-20 top-[1120px] w-full left-1/2 transform -translate-x-1/2 ">
            <button data-tf-slider="hqBcDkqx" data-tf-position="right" data-tf-opacity="100" data-tf-iframe-props="title=Integrate w/ xCall Interest" data-tf-transitive-search-params data-tf-medium="snippet" 
            class="rounded-full bg-[#4a3d60] text-[#5cffe4] w-full sm:w-[490px] -translate-x-[0px] sm:-translate-x-[55px] h-[48px] font-montserrat font-semibold">Keep me in the loop!</button><script src="//embed.typeform.com/next/embed.js"></script>
        </div>
        <div class="absolute top-[1165px] w-[300px] sm:w-[460px] left-1/2 transform -translate-x-1/2">
            <img src="/assets/images/integrate-with-xcall/button-glow.png" alt="xCall glow">
        </div>
        <div class="absolute top-[1265px] w-full left-1/2 transform -translate-x-1/2">
            <img src="/assets/images/integrate-with-xcall/supported-by-icon-foundation.svg" alt="Integrate with xCall on these blockchains">
        </div>
    </div>
    
    
</main>
{{ end }}