{{ define "container" }}
<main class="relative max-w-6xl px-10 py-10 mx-auto space-y-4 md:px-20 sm:py-20 sm:px-36">
    <h1 class="text-2xl font-bold sm:text-4xl">
        The 200 Million ICX Interoperability Incentive Fund
    </h1>
    <p class="pt-10">
        The 200 Million ICX Interoperability Incentive Program is currently being reworked to better accommodate <a class="underline" href="http://localhost:1313/blog/2023/icon-2022-recap-and-2023-outlook/">ICON's strategic direction in 2023</a>.
    </p>
    <p>
        ICON's new approach involves both deploying xCall as a service across multiple interoperability protocols and continuing to grow the BTP network with ICON as the hub. This shift in strategy will allow ICON to leverage the pace of the wider industry while offering greater flexibility than it could support through BTP alone.
    </p>
    <p>
        The 200 Million ICX Interoperability Incentive Program will continue to incentivize the development of cross-chain use cases, but the allocation of funds will be adjusted to align with the new strategy.
    </p>
    <p class="pb-20">
        Please follow our <a class="underline" href="https://twitter.com/helloiconworld">Twitter</a> or website for the latest news on the grant program. There are also many other ways to get involved in the ICON ecosystem: for more guidance, please join the ICON <a class="underline" href="https://icon.community/icondiscord/">Discord</a> and reach out to our community moderators.
    </p>
    <div class="w-2/3 h-0.5 mx-auto bg-gray-300 border border-gray-300"></div>
        <div id="hero-buttons" class="flex flex-col mx-auto mt-10 space-y-4 text-center">
            <h2 class="text-xl font-semibold">Keep exploring ICON:</h2>
            <div class="flex flex-col items-center justify-center w-full sm:flex-row">
                <div class="m-2">
                    {{ partial "buttons/button_primary_smaller.html" (dict "context" . "buttonText" "ICON Learn Section" "buttonUrl" "/learn/") }}
                </div>
                <div class="m-2">
                    {{ partial "buttons/button_secondary_smaller.html" (dict "context" . "buttonText" "ICON Blog Section" "buttonUrl" "/blog/") }}
                </div>
            
            </div>
        </div>
        <div class="mx-auto overflow-hidden shadow-md w-fit rounded-2xl">
            <iframe src="https://iconnetwork.substack.com/embed" 
            class="w-full h-[250px] sm:w-[480px] sm:h-[250px]" 
            frameborder="0" 
            scrolling="no">
            </iframe>
        </div>
    
</main>
{{ end }}