{{ define "container" }}
<main class="px-10 py-10 mx-auto space-y-4 md:px-20 sm:py-20 sm:px-36 max-w-7xl">
    <h1 class="text-2xl font-bold sm:text-4xl">
        The 200 Million ICX Interoperability Incentive Fund
    </h1>
    <p>
        ICON's Interoperability Incentive Fund is crypto's first fund dedicated entirely to promoting an interoperable future. 200 million ICX will be allocated over a course of 5 years to fund projects that will be used to incentivize the use of Blockchain Transmission Protocol (BTP) technology and the development of cross-chain use cases.
    </p>
    <p>
        ICON's BTP, which has been under development for several years, is a unique, truly decentralized bridging technology that doesn't compromise on security by custodying funds in contracts controlled by hand-picked operators. To learn more, read this BTP overview published by the ICON team.
    </p>
    <h2 class="text-2xl font-bold">
        80 Million ICX for BTP-Enabled Products
    </h2>
    <p>
        This funding category will be reserved for incentivizing the usage of existing products that use BTP technology. These funds will establish long-term adoption of BTP interoperability technology within existing protocols and communities. This can include integration of BTP technology for backend bridging, front-end adoption of bridging solutions on protocol application interfaces and integration with bridging aggregator solutions.
    </p>
    <h2 class="text-2xl font-bold">
        120 Million ICX for Cross-Chain Use Cases
    </h2>
    <p>
        The majority of the incentive program funds will be allocated towards developing high-quality use cases for our BTP technology. There are various cross-chain products that could be built such as DEX aggregators to identify the most optimal routes to fulfill trade orders across chains, yield aggregators that can tap into DeFi products throughout the BTP ecosystem, or structured products such as cross-chain options contracts. There are opportunities to solve issues such as liquidity fragmentation and infinitely wrapped assets.
    </p>
    <p>
        In addition to funding the development of these use cases, the incentive program funds can be used to attract additional developers to aid in the development of these solutions through events like hackathons, developer conferences, high-quality developer education and documentation.
    </p>
    <div class="p-10 mx-auto w-fit">
        <button data-tf-slider="maLYlJ5f" data-tf-position="right" data-tf-opacity="100" data-tf-iframe-props="title=ICON Interoperability Incentive Program - 2023" data-tf-transitive-search-params data-tf-medium="snippet" style="all:unset;font-family:Helvetica,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#087083;color:#fff;font-size:16px;border-radius:4px;padding:0 26px;font-weight:bold;height:40px;cursor:pointer;line-height:40px;text-align:center;margin:0;text-decoration:none;">Open Registration Form</button><script src="//embed.typeform.com/next/embed.js"></script>
    </div>
    
</main>
{{ end }}