{{ define "container" }}
<main class="py-20 bg-radial-at-bl md:bg-radial-at-b from-rookteal-darktwo via-rookteal-light to-rookteal-dark">
    <!-- <div class="w-full">
        <img class="mx-auto mb-10" src="/assets/images/integrations-new.jpg"/>
    </div> -->
    <div class="relative flex-col w-full mx-auto overflow-hidden max-w-7xl font-montserrat ">

        <!-- <div class="grid h-screen grid-cols-2 gap-5 p-20 md:grid-cols-4" id="rss-feed-container-integrations">
            <div id="development" class="flex flex-col p-4 rounded shadow bg-red-100/40"><h2>Development</h2></div>
            <div id="testnet" class="flex flex-col p-4 rounded shadow bg-orange-100/40"><h2>Testnet</h2></div>
            <div id="audits"  class="flex flex-col"><h2>(Internal) Audits</h2></div>
            <div id="mainnet"  class="flex flex-col"><h2>Mainnet</h2></div>
        </div> -->

        <div class="flex items-center mb-4">
            <h1 class="pl-20 pr-10 text-5xl font-thin text-white uppercase">Integrations</h1>
            {{ partial "buttons/button_primary.html" (dict "context" . "buttonText" "View in Docs" "buttonUrl" "https://docs.icon.community/cross-chain-communication/active-development#integrations") }}
        </div>
        
        <div class="grid grid-cols-2 gap-5 px-20 md:grid-cols-4" id="rss-feed-container-integrations">
            <div id="development" class="flex flex-col p-4 rounded shadow bg-red-300/40">
                <h2 class="px-2 py-1 mx-auto mb-8 font-bold rounded bg-white/50 w-fit">Development</h2>
                <div class="flex flex-col justify-center items-container"></div> <!-- Container for development items -->
            </div>
            <div id="testnet" class="flex flex-col p-4 rounded shadow bg-orange-100/40">
                <h2 class="px-2 py-1 mx-auto mb-8 font-bold rounded bg-white/50 w-fit">Testnet</h2>
                <div class="items-container"></div> <!-- Container for testnet items -->
            </div>
            <div id="audits" class="flex flex-col p-4 rounded shadow bg-blue-100/40">
                <h2 class="px-2 py-1 mx-auto mb-8 font-bold rounded bg-white/50 w-fit">(Internal) Audits</h2>
                <div class="items-container"></div> <!-- Container for audits items -->
            </div>
            <div id="mainnet" class="flex flex-col p-4 rounded shadow bg-green-100/40">
                <h2 class="px-2 py-1 mx-auto mb-8 font-bold rounded bg-white/50 w-fit">Mainnet</h2>
                <div class="items-container"></div> <!-- Container for mainnet items -->
            </div>
        </div>

        
        <div class="flex items-center mt-8 mb-4">
            <h1 class="pl-20 pr-10 text-5xl font-thin text-white uppercase">Additional Development</h1>
            {{ partial "buttons/button_primary.html" (dict "context" . "buttonText" "View in Docs" "buttonUrl" "https://docs.icon.community/cross-chain-communication/active-development#additional-development") }}
        </div>
        
        <div class="grid grid-cols-1 gap-5 px-20 py-10 mx-20 rounded shadow bg-white/40" id="rss-feed-container-additional-development">
           
        </div>
        
        <script src="/assets/fetchDocsRssFeed.js"></script>

    </div>
</main>
{{ end }}

