{{ define "container" }}
<main>
    <!-- HEADER BLOCK -->
    <div id="hero" class="relative px-4 py-8 space-y-10 sm:py-24">
        <img class='brightness-50 sm:brightness-100 absolute inset-0 w-[1920px] h-[480px] object-cover object-center -z-10' src='/assets/images/icx-coin-exploding.png' alt='ICX Coins Exploding'/>
        <div>
            <h1 class="mb-4 text-5xl font-extrabold tracking-tight text-left md:text-center text-slate-50">
                Join $ICX on <span class="text-blue-600">CoinMarketCap</span>
            </h1>
            <h2 class="mb-4 text-3xl font-bold tracking-tight text-left md:text-center text-slate-300">
                10 followers win 100 ICX every week, for 4 weeks!
            </h2>
        </div>
        <div class="mb-8 space-y-1">
            <p class="max-w-2xl mx-auto text-left text-md md:text-lg md:text-center text-slate-100">
                40x prizes of 100 ICX will be raffled off to lucky followers of ICON Network on CoinMarketCap.com.
            </p>
            <p class="max-w-2xl mx-auto text-left text-md md:text-lg md:text-center text-slate-100">
                Winners are announced in <a href='https://discord.gg/b5QvCXJjJM' class="font-bold">ICON Discord</a>, every Monday during the daily quiz raffle!
            </p>
        </div>
        <!-- <div id="hero-buttons" class="flex flex-wrap justify-center gap-4">
            {{ partial "buttons/button_quartiary.html" (dict "context" . "buttonText" "Visit CoinMarketCap" "buttonUrl" "https://coinmarketcap.com/community/profile/ICONNetwork") }}
        </div> -->
        <div class="relative p-2 mx-auto transition duration-200 bg-blue-600 rounded-full cursor-pointer w-fit hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:bg-blue-800 text-slate-50">
            <a href="#participate">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3" />
                </svg> 
            </a>             
        </div>
    </div>
    <!-- RESPONSIVEFOLLOW THESE STEPS BLOCK -->
    <div id="participate" class="relative w-11/12 max-w-6xl p-10 m-20 mx-auto -mt-0 bg-white rounded-lg shadow-md">        
        <header class="mb-8 space-y-6">
            <div>
                <h2 class="text-3xl font-bold md:text-4xl">Participate and win:</h2>
                <p class="text-xs italic font-semibold text-gray-400 md:text-base">Campaign active from 19-12-2022 until 15-01-2023</p>  
            </div>          
            <ol class="space-y-2">
                <li class="flex flex-col items-center justify-start p-4 space-y-2 rounded-lg bg-gray-50 md:space-y-0 md:flex-row">
                    <div class="flex items-center justify-start ">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-2 shrink-0">
                            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                        </svg>
                        <p>Follow ICON Network on CoinMarketCap</p>
                    </div>
                    <div class="ml-0 md:ml-4 whitespace-nowrap" target="_blank">
                        {{ partial "buttons/button_quartiary_smaller.html" (dict "context" . "buttonText" "Follow Now" "buttonUrl" "https://coinmarketcap.com/community/profile/ICONNetwork") }}
                    </div>
                </li>
                <li class="flex flex-col items-center justify-start p-4 space-y-2 rounded-lg bg-gray-50 md:space-y-0 md:flex-row">
                    <div class="flex items-center justify-start ">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-2 shrink-0">
                            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                        </svg>
                        <div>
                            <p>Post about your favorite dApp in the ICON ecosystem.</p>
                            <p>Tell us why you like it & don't forget to hit <span class="font-semibold text-green-600">"bullish"</span> and tag <span class="font-semibold">$ICX</span></p>
                        </div>
                    </div>
                    <div class="mt-2 ml-0 md:ml-4 md:mt-0 whitespace-nowrap">
                        {{ partial "buttons/button_quartiary_smaller.html" (dict "context" . "buttonText" "Post Now" "buttonUrl" "https://coinmarketcap.com/community") }}
                    </div>
                </li>
                <li class="flex flex-col items-center justify-start p-4 space-y-2 rounded-lg bg-gray-50 md:space-y-0 md:flex-row">
                    <div class="flex items-center justify-start mb-4 mr-0 md:mr-2 md:mb-0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-2 shrink-0">
                            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                        </svg>
                        <p>Fill in this form in order to confirm your participation</p>
                    </div>
                    <div>
                        <button data-tf-slider="L2cOd75j" data-tf-width="550" data-tf-iframe-props="title=Join CoinMarketCap" data-tf-medium="snippet" style="all:unset;font-family:Helvetica,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#39195B;color:#FFFFFF;font-size:16px;border-radius:7px;padding:0 10px;font-weight:bold;height:33px;cursor:pointer;line-height:0px;text-align:center;text-decoration:none;">Fill in Form</button><script src="//embed.typeform.com/next/embed.js"></script>
                    </div>
                </li>
            </ol>
        </header>
        <div>
            {{ .Content }}
        </div>
    </div>
    <!-- RESPONSIVE IMAGE BLOCK -->
</main>
{{ end }}