{{ define "container" }}
<main class="relative w-full overflow-hidden bg-gradient-to-b from-[#34B8BB] via-[#34B8BB] to-teal-400 font-montserrat">
    <!-- UNCHAINED GRAPHIC -->
    <img class='hidden sm:block absolute z-20 w-full sm:w-[500px] lg:w-[635px] top-8 left-1/2 ' src='/assets/images/unchained-newsletter/unchained-beam.png' alt='ICON Sponsors Unchained Newsletter'/>
    <!-- MESH GRAPHICS -->
    <img class='absolute top-0 left-0 w-full' src='/assets/images/icondiscord/icon-mesh-bg.png' alt='ICON Interoperability Mesh'/>
    <img class='absolute bottom-0 left-0 w-full rotate-180 ' src='/assets/images/icondiscord/icon-mesh-bg.png' alt='ICON Interoperability Mesh'/>
    <!-- FIRST PANEL -->
    <div class="relative flex max-w-4xl mx-auto mb-10 text-white ">      
        <div class="relative w-full pl-0 mt-16 space-y-4 sm:mb-16 sm:pl-6 sm:w-1/2 lg:pl-0 sm:mt-24 lg:mt-36">
            <!-- mobile 12K subscriber counter -->
            <div class="flex flex-row items-end justify-start pl-0 ml-12 text-lg tracking-tight -rotate-12 sm:hidden font-base sm:pl-0 sm:text-lg lg:text-xl w-fit"><img class='w-6 mr-2 lg:w-8' src="/assets/images/unchained-newsletter/ico-person.png" alt="12K Unchained Newsletter Followers" /><span class="mr-2 font-extrabold ">12K </span> Subscribers and Counting!</div>
            <img class='relative z-10 block w-full ml-4 -translate-y-16 sm:hidden' src='/assets/images/unchained-newsletter/unchained-beam.png' alt='ICON Sponsors Unchained Newsletter'/>  
            <div class="pl-6 space-y-4 -translate-y-32 sm:translate-y-0 sm:pl-0">
                <div class="flex-row items-end justify-start hidden pl-0 text-lg tracking-tight sm:flex font-base sm:pl-0 sm:text-lg lg:text-xl w-fit"><img class='w-6 mr-2 lg:w-8' src="/assets/images/unchained-newsletter/ico-person.png" alt="12K Unchained Newsletter Followers" /><span class="mr-2 font-extrabold ">12K </span> Subscribers and Counting!</div>
                <div class="relative z-20 hidden w-full pl-8 text-5xl tracking-tight font-base sm:pl-0 sm:text-5xl lg:text-6xl sm:block">ICON Proudly <span class="inline-block my-2 italic font-bold">Sponsors </span> the</div>
                <div class="relative z-20 block w-full pl-6 text-5xl tracking-tight font-base sm:hidden">Proudly <span class="inline-block italic font-bold">Sponsored </span> <span class="whitespace-nowrap">by ICON</span></div>   
                <a class="relative z-20 block pl-6 mt-6 text-5xl tracking-tight w-fit font-base sm:pl-0 sm:text-5xl lg:text-6xl" href="https://unchainedcrypto.substack.com/?utm_source=iconnetwork">
                    <button class="overflow-hidden relative flex flex-row items-center justify-start w-full px-4 py-2 bg-[#4B2D87] border rounded-full shadow-xl hover:scale-105 transition-all duration-300">
                        <img class="absolute inset-y-0" src="/assets/images/unchained-newsletter/button-shadow.png" alt="Button Shadow" />
                        <img class="absolute inset-y-0 -right-2" src="/assets/images/unchained-newsletter/button-shine.png" alt="Button Shine" />
                        <p class="relative z-20 text-sm font-medium tracking-wider ">Subscribe to Unchained</p>
                    </button>
                </a> 
            </div>
        </div>     
    </div>
    
    <!-- SECOND PANEL -->
    <div class="relative flex flex-col items-start justify-between max-w-4xl mx-auto overflow-hidden -translate-y-20 bg-white shadow-2xl sm:-translate-y-0 sm:mx-5 md:mx-auto lg:mx-auto rounded-3xl ">
        <div class="relative w-full scale-105 sm:-translate-y-10">
            <img class='object-cover object-center w-full' src='/assets/images/unchained-newsletter/cross-chain-hub.png' alt='ICON Cross-chain Hub'/>
        </div>
        
        <div class="relative flex flex-col items-start justify-between max-w-4xl px-2 mx-auto overflow-hidden sm:px-10 sm:flex-row -translate-y-0 sm:-translate-y-28">
            <div class="flex flex-col w-full pr-0 mb-10 sm:pr-10 sm:w-2/3 sm:mb-0">
                <div class="space-y-4">
                    <div class="relative">               
                        <h1 class='sm:w-full text-4xl italic font-black text-transparent lg:text-5xl sm:text-4xl bg-clip-text bg-gradient-to-br from-[#4B2D87] via-[#4B2D87] to-blue-300'>ICON is a <span class="whitespace-nowrap">Cross-Chain Hub</span></h1>
                    </div>
                    
                    <p class='p-1 font-base text-slate-800'>ICON is pushing for wider adoption of ICON interoperability standards in the industry by supporting not only <a class="inline-block font-bold text-icon-dark" href="/learn/btp">BTP</a> but also other interoperability protocols such as IBC, Optimistic Rollups and Zero Knowledge Proofs. We would achieve this by providing xCall services via the aforementioned protocols.</p>
                    <p class='p-1 font-base text-slate-800'>xCall is a key feature of BTP and ICON's unique standard for generic cross-chain messaging between heterogeneous blockchains. Besides using xCall with BTP, the <a class="inline-block font-bold text-icon-dark" href="/glossary/xcall-service/">xCall service</a> can be implemented to work with other interoperability protocols as well. </p>
                    <p class='p-1 font-base text-slate-800'>The ICON Network aims to become a more attractive <a class="inline-block font-bold text-icon-dark" href="/blog/2023/icon-2022-recap-and-2023-outlook/#2023-what-to-expect">cross-chain hub</a> as the xCall service supports multiple protocols, each with their own pros and cons, offering maximum flexibility to developers!</p>           
                </div>
                
            </div>
            <!-- QUICK LINK PANEL -->
            <div class="w-full px-2 pb-8 space-y-5 sm:pb-0 lg:px-8 sm:w-1/3">
                <h2 class="text-[#30B6BA] text-xl text-center sm:text-left font-bold pl-4 leading-tight">Get started <span class="whitespace-nowrap">with ICON</span></h2>
                <div class="space-y-2 text-lg font-semibold text-white ">
                    <!-- latest news button -->
                    <a class="block w-1/2 mx-auto sm:w-full" href="/blog/">
                        <button class="overflow-hidden relative flex flex-row items-center justify-center sm:justify-start w-full px-4 py-2 bg-[#30B6BA] rounded-full hover:scale-105 transition-all duration-300">
                            <img class="absolute inset-y-0 -left-1 -top-1" src="/assets/images/unchained-newsletter/button-shadow.png" alt="Button Shadow" />
                            <img class="absolute inset-y-0 -right-1" src="/assets/images/unchained-newsletter/button-shine.png" alt="Button Shadow" />
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" class='w-5 mr-3' xml:space="preserve">
                            <style type="text/css">
                                .st0{fill:#FFFFFF;}
                            </style>
                                <g>
                                    <g>
                                        <path class="st0" d="M378.6,353.5c38.1,18.2,68.8,14.8,91.3-10c21-23.3,24.4-56.8,8.8-83.1c-13.4-22.5-43.5-42-82.5-30.2
                                            c-0.5-8.8-0.8-17.4-1.5-26.1c-0.8-9.4-6.1-14.3-15.7-14.3c-86.4,0-172.8-0.1-259.3,0c-10,0-16.1,6.2-15.9,16.3
                                            c0.6,26,0.4,52.1,2.7,78c2.8,30.8,9,61,24.3,88.5c11.5,20.7,27.2,36.4,51.2,41.6c6.2,1.3,12.6,2,18.9,2
                                            c31.8,0.2,63.6-0.2,95.5,0.2c29.9,0.3,52.5-12.3,68.3-37.2C369.8,370.9,373.9,362.2,378.6,353.5z M445.1,295.5
                                            c0.2,14.9-11.3,26.9-25.8,27.1c-14.8,0.2-27.2-12-27.2-26.6c0-14,11.8-26.1,25.5-26.3C433.2,269.4,444.9,280.5,445.1,295.5z"/>
                                        <path class="st0" d="M249.7,443.3c-75.9,0-151.9,0.2-227.8-0.2c-10.6,0-15,5.8-9.6,15.2c3.2,5.6,8.3,10.8,13.8,14.2
                                            c14.9,9.4,32.1,13.1,49.1,16.2c33.7,6.3,67.8,9.3,102,9.9c39.6,0.7,79.2,1.7,118.8,1c46.5-0.8,93-2.9,138.5-13.5
                                            c12.4-2.9,24.5-7.7,36.3-12.6c7.6-3.2,13.8-8.9,16.6-17.2c2.9-8.6-0.3-13.1-9.3-13.1C402,443.3,325.9,443.3,249.7,443.3z"/>
                                        <path class="st0" d="M180.2,167.3c13.3,0,25.9,0,38.5,0c1-9.1,1.8-18,3.1-26.9c2.5-17.2,12.6-28.9,27.6-36.7
                                            c7.6-4,15.7-7.1,23.1-11.4c31.3-18.1,41.6-46.6,29.4-80.6c-1.3-3.6-3-7.1-5-11.7c-1.2,7.3-1.9,13.3-3.1,19.3
                                            c-3.3,16.3-12.4,29-26.6,37.4c-10.9,6.4-22.4,11.8-33.7,17.5c-18.1,9-34.5,19.8-43.7,38.8C181.6,130,179.4,148,180.2,167.3z"/>
                                        <path class="st0" d="M311.8,167.5c-0.3-9.9,4.8-16.1,11.9-20.8c4.1-2.7,8.3-5.3,12.7-7.5c8.9-4.5,12.1-12.1,11-21.3
                                            c-1.3-11.7-6-22.2-13.4-31.9c0,1.5,0,3,0,4.5c-0.1,11.4-5,20.1-15.4,25.2c-5.8,2.9-12,5.1-18,7.5c-19.7,8-28.8,22.1-27.9,44.3
                                            c6.4,0,12.9,0,19.4,0C298.6,167.5,304.9,167.5,311.8,167.5z"/>
                                    </g>
                                </g>
                            </svg>
                            <p class="text-sm font-medium tracking-wider ">Latest News</p>
                        </button>
                    </a> 
                    <!-- get wallet button -->
                    <a class="block w-1/2 mx-auto sm:w-full" href="/hanawallet/">
                        <button class="overflow-hidden relative flex flex-row items-center justify-start w-full px-4 py-2 bg-[#8575C9] rounded-full hover:scale-105 transition-all duration-300">
                            <img class="absolute inset-y-0 -left-1 -top-1" src="/assets/images/unchained-newsletter/button-shadow.png" alt="Button Shadow" />
                            <img class="absolute inset-y-0 -right-1" src="/assets/images/unchained-newsletter/button-shine.png" alt="Button Shadow" />
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" class='w-5 mr-3' xml:space="preserve">
                            <style type="text/css">
                                .st0{fill:#FFFFFF;}
                            </style>
                                <g>
                                    <path class="st0" d="M475.4,340.5c-29.6,0-59.1,0-88.7,0c-31.4,0-61.8-25.9-67.6-56.8c-7.8-42.1,19.3-76.3,54-84.2
                                        c4.3-1,8.8-1.6,13.1-1.6c29.8-0.1,59.5-0.1,89.3-0.1c2,0,4,0,7.7,0c-1.1-17.1-0.6-33.9-3.7-50.1c-3.8-20.4-22.5-35.5-42.8-38
                                        c-5.1-0.6-10.3-1.1-15.5-1.1c-117.7-0.1-235.5,0-353.2-0.1c-3.1,0-6.6-0.1-9.1-1.6c-2.4-1.4-4.9-4.6-5-7.1
                                        c-0.1-2.5,2.4-5.7,4.6-7.3c2-1.5,5.2-1.7,7.9-1.7c7.1-0.2,305.3-0.1,335.8-0.1c0.1,0,0.3,0,0.4,0c0.1,0,0.3,0,0.4,0
                                        c0.8,0,1.3,0,1.6,0c0,0,0-0.1,0-0.1c8.9-1,15.9-8.5,15.9-17.7c0-9.9-8-17.8-17.8-17.8c-0.3,0-0.5,0-0.8,0c-0.2,0-0.5,0-0.7,0
                                        c-15.1,0.7-346.3-0.2-361,2.5C19,61.4,4,79.3,1.1,100.5c-0.6,4.6-1.1,9.2-1.1,13.8C0,201,0,287.6,0,374.2c0,32,23.6,55.6,55.8,55.6
                                        c123.5,0,247,0,370.5,0c32.1,0,55.8-23.6,55.8-55.6c0-10.9,0-21.9,0-33.6C479.4,340.5,477.4,340.5,475.4,340.5z"/>
                                    <path class="st0" d="M500,235.4c0-12.2-7.5-19.8-19.7-19.8c-14.3,0-28.6,0-43,0c-13.6,0-27.1,0-40.7,0c-28.1,0-50.8,18.1-54.8,45.7
                                        c-4.5,30.8,16.7,56.2,44.3,60.2c5.8,0.8,11.8,1.1,17.7,1.1c25.5,0.1,50.9,0.1,76.4,0c12.1,0,19.7-7.6,19.7-19.8
                                        C500,280.4,500,257.9,500,235.4z M410.9,290c-10.9,0.2-20.7-9.5-21.1-20.7c-0.3-10.8,9.7-21,20.7-21.1c11-0.1,20.9,9.7,21.1,20.7
                                        C431.8,279.8,422,289.8,410.9,290z"/>
                                </g>
                            </svg>
                            <p class="text-sm font-medium tracking-wider ">Get Wallet</p>
                        </button>
                    </a>
                    <!-- join discord button -->
                    <a class="block w-1/2 mx-auto sm:w-full" href="/icondiscord/">
                        <button class="overflow-hidden relative flex flex-row items-center justify-start w-full px-4 py-2 bg-[#30B6BA] rounded-full hover:scale-105 transition-all duration-300">
                            <img class="absolute inset-y-0 -left-1 -top-1" src="/assets/images/unchained-newsletter/button-shadow.png" alt="Button Shadow" />
                            <img class="absolute inset-y-0 -right-1" src="/assets/images/unchained-newsletter/button-shine.png" alt="Button Shadow" />
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" class='w-5 mr-3' xml:space="preserve">
                            <style type="text/css">
                                .st0{fill:#FFFFFF;}
                            </style>
                                <path class="st0" d="M423.6,90.8c-32.8-15-67.5-25.7-103.1-31.7c-4.9,8.7-9.3,17.7-13.2,26.9c-37.9-5.7-76.5-5.7-114.4,0
                                c-3.9-9.2-8.3-18.1-13.2-26.9c-35.6,6.1-70.3,16.8-103.2,31.8c-65.3,96.6-83,190.7-74.1,283.5l0,0c38.2,28.2,81,49.7,126.5,63.5
                                c10.2-13.8,19.3-28.4,27.1-43.7c-14.8-5.5-29.1-12.3-42.7-20.4c3.6-2.6,7.1-5.3,10.5-7.9c80.1,37.7,172.8,37.7,252.9,0
                                c3.4,2.8,6.9,5.5,10.5,7.9c-13.6,8-27.9,14.9-42.7,20.4c7.8,15.3,16.8,29.9,27.1,43.6c45.5-13.7,88.3-35.2,126.6-63.5l0,0
                                C508.3,266.8,480.1,173.5,423.6,90.8z M167,317.3c-24.7,0-45-22.4-45-49.9c0-27.5,19.7-50.1,44.9-50.1s45.5,22.6,45.1,50.1
                                C211.6,294.9,192.2,317.3,167,317.3z M333.1,317.3c-24.7,0-45-22.4-45-49.9c0-27.5,19.7-50.1,45-50.1c25.3,0,45.4,22.6,44.9,50.1
                                C377.6,294.9,358.2,317.3,333.1,317.3z"/>
                            </svg>
                            <p class="text-sm font-medium tracking-wider ">Join Discord</p>
                        </button>
                    </a>
                    <!-- learn articles button -->
                    <a class="block w-1/2 mx-auto sm:w-full" href="/learn/">
                        <button class="overflow-hidden relative flex flex-row items-center justify-start w-full px-4 py-2 bg-[#8575C9] rounded-full hover:scale-105 transition-all duration-300">
                            <img class="absolute inset-y-0 -left-1 -top-1" src="/assets/images/unchained-newsletter/button-shadow.png" alt="Button Shadow" />
                            <img class="absolute inset-y-0 -right-1" src="/assets/images/unchained-newsletter/button-shine.png" alt="Button Shadow" />
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 500 500" class='w-5 mr-3 ' xml:space="preserve">
                            <style type="text/css">
                                .st0{fill:#FFFFFF;}
                            </style>
                            <g>
                                <g>
                                    <path class="st0" d="M186.8,499.9c1.6,0,3.3,0,4.9,0c6.4-3.5,10.8-8.9,14.6-15c4.8-7.8,9.4-15.7,14.2-23.5
                                        c4.1-6.9,10.3-10.3,18.2-10.7c7.8-0.4,15.5-0.9,23.3-1.3c20-1,22.9,0.4,34.4,16.6c5.3,7.4,10.5,15,16.2,22.2
                                        c5.8,7.4,11.6,9.1,20.3,5.4c14.8-6.3,29.5-12.8,44-19.8c10.3-4.9,12.4-9.8,10.2-20.9c-2.1-10.4-4.6-20.8-7.3-31.1
                                        c-2.5-9.5-0.4-17.5,6.4-24.4c6.4-6.5,13.1-12.9,18.9-19.8c6.8-8.1,14.9-11,25.1-8.7c0.7,0.2,1.3,0.2,2,0.3
                                        c10.8,1.8,21.5,3.6,32.3,5.4c6.1,1,10.6-1.5,14-6.5c1.4-2.1,3-4.3,3.9-6.7c5.6-14.8,11.1-29.6,16.6-44.4
                                        c2.6-7.2,0.4-13.2-5.5-17.8c-3.9-3-8-5.7-12.2-8.2c-6.9-4.2-13.9-8.1-20.8-12.3c-6-3.7-9.3-9.3-9.6-16.2
                                        c-0.6-12.5-0.8-25.1-1-37.6c-0.1-4.6,1.8-8.6,5.2-11.6c4.3-3.8,8.8-7.3,13.4-10.8c6.3-4.7,13.1-9,19.2-13.9
                                        c8.8-7,10.3-13.1,5.8-23.4c-6.3-14.4-12.8-28.6-19.5-42.8c-4.1-8.6-10.5-11.5-19.9-9.5c-11.9,2.6-23.6,5.4-35.5,8
                                        c-7.4,1.6-13.8,0.2-19.5-5.5c-8.4-8.6-17.3-16.7-26-24.9c-4.4-4.2-6-9.3-5.6-15.2c0.3-4.3,1-8.7,1.7-13c1.5-9.1,3.5-18.2,4.5-27.4
                                        c0.8-7.7-3.3-13.7-10.4-16.8c-5.4-2.3-10.8-4.6-16.3-6.6c-11-3.9-22.1-7.6-33.1-11.5c-1.9,0-3.8,0-5.7,0
                                        c-5.7,1.7-9.4,5.6-12.5,10.5c-4.6,7.3-9.1,14.6-13.8,21.8c-2.2,3.4-4.6,6.8-7,10.1c-2.6,3.6-6,6-10.6,6.2c-12,0.6-24,0.8-36,1.7
                                        c-9.5,0.7-16.1-3-21.3-10.8c-6.6-9.7-13.9-18.9-20.8-28.4c-3.9-5.4-9.2-7.2-15.5-5.6c-19.4,5.2-37.2,14.1-54.1,24.7
                                        c-2.4,1.5-3.9,5.6-4.3,8.7c-0.4,4.1,0.4,8.4,1.2,12.5c2.2,10.9,4.9,21.8,7.2,32.7c1.1,5.2,0.6,10.4-3.1,14.3
                                        c-9.8,10.4-19.7,20.8-30.1,30.6c-2.3,2.2-6.6,3.2-10.1,3.2c-4.8,0.1-9.7-1.1-14.6-1.9c-9-1.4-18-3.4-27-4.4
                                        c-8.2-0.9-14.6,3.3-17.7,10.9c-2.4,5.7-4.7,11.3-6.7,17.1C7.6,165.3,3.8,176.5,0,187.7c0,1.4,0,2.7,0,4.1c1.5,2.5,2.7,5.5,4.7,7.5
                                        c3.2,3.1,6.9,5.7,10.7,8.2c9,5.9,18.2,11.6,27.2,17.4c4.2,2.7,6.3,6.8,6.5,11.7c0.6,11.2,0.9,22.4,1.6,33.5
                                        c0.7,10.9-3.4,18.8-12.6,24.8c-8.9,5.8-17.6,12-26,18.5c-7.3,5.5-8.9,10.7-5.5,19c6.5,15.7,13.3,31.3,20.5,46.8
                                        c3.7,7.9,9,10.2,17.8,8.9c2-0.3,4.1-0.6,6-1c10.5-2.4,21-4.7,31.5-7.2c6.8-1.6,12.7-0.4,17.8,4.4c8.6,8,17.1,16,25.8,23.9
                                        c4.3,3.9,5.7,8.8,5.4,14.4c-0.2,3.3-0.4,6.5-1,9.8c-1.6,9.7-3.3,19.4-4.9,29c-1.5,9.2,0.4,13.4,8.4,18.1c3.6,2.1,7.4,4.1,11.4,5.6
                                        C159.1,490.1,173,495,186.8,499.9z M355.7,250.1c2.9,46.8-38,105.9-106.2,105.8c-57.7-0.1-105.2-47.8-105.2-105.6
                                        c0-63.7,55.6-106.6,104.5-106.4C308.4,144.2,355.7,191,355.7,250.1z"/>
                                </g>
                            </g>
                            </svg>
                            <p class="text-sm font-medium tracking-wider ">Learn Articles</p>
                        </button>
                    </a>
                    <!-- whyicx button -->
                    <a class="block w-1/2 mx-auto sm:w-full" href="/icondiscord/">
                        <button class="overflow-hidden relative flex flex-row items-center justify-center w-full px-4 py-2 bg-[#30B6BA] rounded-full hover:scale-105 transition-all duration-300">
                            <img class="absolute inset-y-0 -left-1 -top-1" src="/assets/images/unchained-newsletter/button-shadow.png" alt="Button Shadow" />
                            <img class="absolute inset-y-0 -right-1" src="/assets/images/unchained-newsletter/button-shine.png" alt="Button Shadow" />
                            <p class="ml-1 text-sm font-medium tracking-wider">whyicx.com</p>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class='w-5 ml-2'>
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                            </svg>
                              
                        </button>
                    </a>
                </div>
                
            </div>
        </div>
        <!-- ELEVATOR PITCH -->
        
    </div>
    
    <!-- THIRD PANEL -->
    <div class="relative ">
        
        <div class='relative flex flex-col max-w-xl mx-auto mb-40 sm:py-20'>
            <div class="mx-2 overflow-hidden shadow-xl sm:mx-0 aspect-w-16 aspect-h-9 rounded-2xl">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/eLpn6Z4cAxg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
            <h1 class="w-full p-5 mx-auto text-2xl italic font-extrabold text-center text-white sm:p-10 sm:text-3xl">"BTP's xCall service provides the ultimate flexibility (...) a secure messaging system that can pass messages and data between networks."</h1>
            <p class="w-full px-5 pb-6 text-center text-white font-base sm:px-10">Follow ICON Network on your favorite social channels and stay up to date with all development updates, campaign giveaways and events!</p>
            <!-- Buttons GRID -->
            <div class="relative grid grid-cols-1 gap-4 px-4 mx-auto sm:grid-cols-2 w-fit sm:p-0">
                <a href="https://www.youtube.com/channel/UCI7Z_1sTKN-kCVgFD2a0GXQ"
                    class="flex flex-row items-center justify-start px-4 py-4 space-x-2 font-normal text-[#FF0000] transition-all duration-300 bg-white/90 hover:bg-white rounded-full hover:scale-105" id="f15">
                    <span class="sr-only">YouTube</span>
                    
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"
                            clip-rule="evenodd" />
                    </svg>
                    <p class="text-slate-800">@ICON_Network</p>
                </a>
                <a href="https://twitter.com/helloiconworld"
                    class="flex flex-row items-center justify-start px-4 py-4 space-x-2 font-normal transition-all duration-300 bg-white/90 hover:bg-white rounded-full text-[#1D9BF0] hover:scale-105" id="f15">
                    <span class="sr-only">Twitter</span>
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path
                            d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
                    </svg>
                    <p class=" text-slate-800">@HelloICONWorld</p>
                </a>
                <a href="https://www.reddit.com/r/helloicon/"
                    class="flex flex-row items-center justify-start px-4 py-4 space-x-2 font-normal transition-all duration-300 bg-white/90 hover:bg-white rounded-full text-[#FF4500] hover:scale-105" id="f15">
                    <span class="sr-only">Reddit</span>
                    <svg class="w-6 h-6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0" fill="transparent" width="20" height="20"/>
                        <g>
                            <path fill="currentColor" d="M18 10.1c0-1-.8-1.8-1.8-1.7-.4 0-.9.2-1.2.5-1.4-.9-3-1.5-4.7-1.5l.8-3.8 2.6.6c0 .7.6 1.2 1.3 1.2.7 0 1.2-.6 1.2-1.3 0-.7-.6-1.2-1.3-1.2-.5 0-.9.3-1.1.7L11 2.9h-.2c-.1 0-.1.1-.1.2l-1 4.3C8 7.4 6.4 7.9 5 8.9c-.7-.7-1.8-.7-2.5 0s-.7 1.8 0 2.5c.1.1.3.3.5.3v.5c0 2.7 3.1 4.9 7 4.9s7-2.2 7-4.9v-.5c.6-.3 1-.9 1-1.6zM6 11.4c0-.7.6-1.2 1.2-1.2.7 0 1.2.6 1.2 1.2s-.6 1.2-1.2 1.2c-.7 0-1.2-.5-1.2-1.2zm7 3.3c-.9.6-1.9 1-3 .9-1.1 0-2.1-.3-3-.9-.1-.1-.1-.3 0-.5.1-.1.3-.1.4 0 .7.5 1.6.8 2.5.7.9.1 1.8-.2 2.5-.7.1-.1.3-.1.5 0s.2.3.1.5zm-.3-2.1c-.7 0-1.2-.6-1.2-1.2s.6-1.2 1.2-1.2c.7 0 1.2.6 1.2 1.2.1.7-.5 1.2-1.2 1.2z"/>
                        </g>   
                    </svg>
                    <p class="text-slate-800">@HelloICON</p>
                </a>
                <a href="https://coinmarketcap.com/community/profile/ICONNetwork"
                    class="flex flex-row items-center justify-start px-4 py-4 space-x-2 font-normal transition-all duration-300 bg-white/90 hover:bg-white rounded-full text-[#3861FB] hover:scale-105" id="f15">
                    <span class="sr-only">Coinmarketcap</span>
                    <img class="w-6 h-6" src="/assets/images/unchained-newsletter/coinmarketcap-logo.png" alt="CoinMarketCap logo" />
                    <p class="text-slate-800">@ICONNetwork</p>
                </a>
            </div>
            <div class="mx-auto py-14">
                <p class="w-full px-5 pb-6 text-center text-white font-base sm:px-10">Want to try out the monthly ICON Newsletter as well? Subscribe here!</p>
                <div class="mx-auto overflow-hidden shadow-xl w-fit rounded-2xl">
                    <iframe src="https://iconnetwork.substack.com/embed" 
                    class="w-[360px] h-[300px] sm:w-[480px] sm:h-[320px]" 
                    frameborder="0" 
                    scrolling="no">
                    </iframe>
                </div>
                
                
            </div>
        </div>
    </div>
    
</main>
{{ end }}