{{ define "container" }}
<main class="relative font-montserrat">
    <img src="/assets/images/xcall-landing/images/xcall-top-bg.jpg" alt="xcall-top-bg" class="absolute top-0 left-0 w-full h-full object-cover">
    <!-- HERO SECTION -->
    <div class="border-4 border-red-500 relative z-1 h-screen">
        <h1 class="text-xindigo font-semibold text-[60px] uppercase tracking-[20px]">xCall</h1>
        <h2 class="text-xgreen">One interface for all cross-chain communication</h2>
        <a><button class="text-xgreen bg-xpurple">start building</button></a>
        <h2>Compatible with all existing and future cross-chain protocols</h2>
        <p>xCall completes the modular blockchain stack by providing dApps with a customizable interoperability component.</p>
    </div>
    <!-- PUZZLE SECTION -->
    <div>

    </div>
    <!-- TEAL BANNER SECTION -->
    <div>

    </div>
    <!-- BOTTOM SECTION -->
</main>
{{ end }}