{{ define "container" }}
<main x-data id="container" class="relative bg-white font-montserrat">
    <img src="/assets/images/xcall-landing/images/xcall-top-bg-2.jpg" alt="xcall-top-bg" class="absolute top-0 left-0 w-full h-[850px] sm:h-[1150px] object-cover">
    <!-- HERO SECTION -->
    <div class="h-[720px] sm:h-[950px] xl:h-[900px] relative z-1 leading-none">
        <h1 class="text-xindigo text-[30px] sm:text-[60px] uppercase tracking-[30px] font-lemon absolute left-1/2 -translate-x-1/2 pl-[30px] top-[60px] xl:top-[80px]">xCall</h1>
        <h2 class="text-xgreen font-lemon font-medium text-[16px] sm:text-[24px] uppercase absolute left-1/2 -translate-x-1/2 text-center top-[110px] sm:top-[150px] xl:top-[170px] w-full">One messaging standard for  <br>all cross-chain communication</h2>
        <a target="_blank" href="https://docs.icon.community/cross-chain-communication/xcall"><button class="text-xteal bg-xpurple font-lemon font-thin tracking-[1px] text-[16px] absolute left-1/2 -translate-x-1/2 text-center top-[465px] sm:top-[635px] uppercase py-3 px-8 sm:px-10 rounded-full w-fit whitespace-nowrap">start building</button></a>
        <h2 class="text-xgreen text-[16px] sm:text-[24px] xl:text-[30px] font-lemon font-medium uppercase absolute left-1/2 -translate-x-1/2 text-center top-[590px] sm:top-[800px] xl:top-[770px] w-full">Write once <span class="whitespace-nowrap">deploy everywhere</span> </h2>
        <div class="w-full flex items-center justify-center absolute top-[620px] sm:top-[830px] xl:top-[805px] h-[40px] overflow-hidden">
            <img src="/assets/images/xcall-landing/images/dotted-line.png" alt="Dotted line leading to xCall" class="opacity-40 sm:opacity-80" />
        </div>
        <p class="text-xindigo text-[12px] sm:text-[16px] absolute left-1/2 -translate-x-1/2 text-center top-[670px] sm:top-[880px] xl:top-[850px] w-5/6 lg:w-[650px] z-10">Compatible with all existing and future cross-chain protocols, xCall completes the modular blockchain stack by providing dApps with a customizable interoperability component.</p>
        <div class="top-[267px] sm:top-[345px] left-1/2 -translate-x-[35px] sm:-translate-x-[45px] absolute animate-fade-in-delay">
            <div class="h-[60px] w-[60px] sm:h-[80px] sm:w-[80px] bg-[#67F6FF] rounded-full animate-pulse blur opacity-70"></div>
        </div>
        <div class="w-full h-[60px] absolute bottom-0 bg-gradient-to-b from-transparent to-white"></div>
    </div>
    <!-- PUZZLE SECTION -->
    <div class="relative z-10 pb-20 bg-white h-fit">
        <img src="/assets/images/xcall-landing/images/puzzle.png" alt="xCall is all the puzzle pieces" class="h-[280px] sm:h-[650px] absolute top-0 left-1/2 -translate-x-1/2 object-cover">
        <h2 class="text-xgreen font-lemon text-[36px] w-full text-center sm:text-[56px] font-medium uppercase absolute left-1/2 -translate-x-1/2 top-[230px] sm:top-[540px] sm:pb-0">How it works</h2>
        <div class="pt-[300px] sm:pt-[650px] lg:px-0 w-full lg:w-[930px] mx-auto grid grid-cols-1 lg:grid-cols-3 relative z-10">
            <!-- Card 1 -->
            <div class="w-full lg:w-[290px] mx-auto py-1 lg:py-0">
                <div class="flex flex-col items-center justify-center lg:justify-start h-[230px] lg:h-[60px] bg-[#7D7490] relative pt-8 sm:pt-0 rounded-none lg:rounded">
                    <div class="absolute left-0 lg:-left-[20px] w-full lg:w-[60px] overflow-hidden leading-none rotate-0 -top-[1px] lg:top-[20px] lg:-rotate-90 hidden lg:block">
                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none" class="relative block w-full h-[20px]">
                            <path d="M1200 0L0 0 598.97 114.72 1200 0z" fill="#ffffff"></path>
                        </svg>
                    </div>
                    <div class="z-10 absolute left-0 lg:left-[calc(100%-22px)] w-full lg:w-[60px] overflow-hidden leading-none -bottom-[38px] lg:bottom-[20px] rotate-0 lg:-rotate-90">
                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none" class="relative block w-1/4 lg:w-full mx-auto h-[40px] lg:h-[20px]">
                            <path d="M1200 0L0 0 598.97 114.72 1200 0z" fill="#7D7490"></path>
                        </svg>
                    </div>
                    <h3 class="text-white uppercase w-full text-[20px] font-light h-full lg:flex items-center justify-center hidden">Get familiar with it</h3>
                    <h3 class="text-white uppercase text-[20px] lg:hidden w-5/6 sm:w-2/3 font-lemon">Get familiar with it</h3>
                    <p class="block w-5/6 pt-2 text-white sm:w-2/3 lg:hidden">With xCall, we have you covered with a single interface, regardless of which interoperability protocol you choose.</p>
                </div>
                <p class="hidden py-6 text-xpurple lg:block">With xCall, we have you covered with a single interface, regardless of which interoperability protocol you choose.</p>
            </div>
            <!-- Card 2 -->
            <div class="w-full lg:w-[290px] mx-auto py-1 lg:py-0">
                <div class="flex flex-col items-center justify-center lg:justify-start h-[230px] lg:h-[60px] bg-[#67889D] relative pt-8 sm:pt-0 rounded-none lg:rounded">
                    <div class="absolute left-0 lg:-left-[20px] w-full lg:w-[60px] overflow-hidden leading-none rotate-0 -top-[1px] lg:top-[20px] lg:-rotate-90">
                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none" class="relative block w-1/4 lg:w-full mx-auto h-[40px] lg:h-[20px]">
                            <path d="M1200 0L0 0 598.97 114.72 1200 0z" fill="#ffffff"></path>
                        </svg>
                    </div>
                    <div class="z-10 absolute left-0 lg:left-[calc(100%-22px)] w-full lg:w-[60px] overflow-hidden leading-none -bottom-[38px] lg:bottom-[20px] rotate-0 lg:-rotate-90">
                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none" class="relative block w-1/4 lg:w-full mx-auto h-[40px] lg:h-[20px]">
                            <path d="M1200 0L0 0 598.97 114.72 1200 0z" fill="#67889D"></path>
                        </svg>
                    </div>
                    <h3 class="text-white uppercase w-full text-[20px] font-light h-full lg:flex items-center justify-center hidden">Prepare your dapp</h3>
                    <h3 class="text-white uppercase text-[20px] lg:hidden w-5/6 sm:w-2/3 font-lemon">Prepare your dapp</h3>
                    <p class="block w-5/6 pt-2 text-white sm:w-2/3 lg:hidden">To handle xCall messages from other chains.</p>
                </div>
                <p class="hidden py-6 text-xpurple lg:block">To handle xCall messages from other chains.</p>
            </div>
            <!-- Card 3 -->
            <div class="w-full lg:w-[290px] mx-auto py-1 lg:py-0">
                <div class="flex flex-col items-center justify-center lg:justify-start h-[230px] lg:h-[60px] bg-[#34B7BA] relative pt-8 sm:pt-0 rounded-none lg:rounded">
                    <div class="absolute left-0 lg:-left-[20px] w-full lg:w-[60px] overflow-hidden leading-none rotate-0 -top-[1px] lg:top-[20px] lg:-rotate-90">
                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none" class="relative block w-1/4 lg:w-full mx-auto h-[40px] lg:h-[20px]">
                            <path d="M1200 0L0 0 598.97 114.72 1200 0z" fill="#ffffff"></path>
                        </svg>
                    </div>
                    <div class="absolute left-0 lg:left-[calc(100%-22px)] w-full lg:w-[60px] overflow-hidden leading-none -bottom-[19px] lg:bottom-[20px] rotate-0 lg:-rotate-90 hidden lg:block">
                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none" class="relative block w-full h-[20px]">
                            <path d="M1200 0L0 0 598.97 114.72 1200 0z" fill="#34B7BA"></path>
                        </svg>
                    </div>
                    <h3 class="text-white uppercase w-full text-[20px] font-light h-full lg:flex items-center justify-center hidden">Explore possibilities</h3>
                    <h3 class="text-white uppercase text-[20px] lg:hidden w-5/6 sm:w-2/3 font-lemon">Explore possibilities</h3>
                    <p class="block w-5/6 pt-2 text-white sm:w-2/3 lg:hidden">Your target users can now enjoy a seamless cross-chain experience without having to leave the comfort of their preferred wallets or chains.</p>
                </div>
                <p class="hidden py-6 text-xpurple lg:block">Your target users can now enjoy a seamless cross-chain experience without having to leave the comfort of their preferred wallets or chains.</p>
            </div>
        </div>
    </div>
    <!-- TEAL BANNER SECTION -->
    <div class="h-[1650px] sm:h-[1720px] lg:h-[1460px] pt-[150px] z-1 relative text-white">
        <img src="/assets/images/xcall-landing/images/teal-bg-no-curve.jpg" alt="xCall is Simple, Secure and Futureproof" class="absolute top-0 left-0 w-full h-[1650px] sm:h-[1720px] lg:h-[1460px] object-cover">
        <div class="absolute -bottom-[1px] left-0 w-full overflow-hidden leading-none rotate-180">
            <svg class="relative block w-full h-[10px] sm:h-[25px] md:h-[50px]" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="fill-white"></path>
            </svg>
        </div>
        <div class="absolute -top-[1px] left-0 w-full overflow-hidden leading-none">
            <svg class="relative block w-full h-[10px] sm:h-[25px] md:h-[50px]" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="fill-white"></path>
            </svg>
        </div>
        <h2 x-intersect="$el.classList.add('fadeInUp')" class="relative z-1 font-lemon text-[36px] w-full text-center sm:text-[48px] font-semibold uppercase">Why xCall</h2>
        <div x-intersect="$el.classList.add('fadeInUp')" class="relative z-1 grid grid-cols-1 lg:grid-cols-3 gap-8 w-full sm:w-2/3 lg:w-[930px] py-[30px] mx-auto">
            <!-- Card 1 -->
            <div class="bg-white rounded-lg shadow-lg relative w-11/12 lg:w-[290px] px-8 overflow-hidden mx-auto h-[240px] lg:h-[480px]">
                <img class="absolute top-0 left-0 right-0 w-full transition-all duration-[4000ms] hover:rotate-6 hover:scale-125 hover:cursor-xcall" src="/assets/images/xcall-landing/images/why-1.jpg" alt="Layers of aggregation" >
                <div class="absolute inset-0 block lg:hidden bg-gradient-to-b from-transparent via-white/80 to-white"></div>
                <div class="absolute inset-0 block lg:hidden bg-gradient-to-l from-transparent via-white/80 to-white"></div>
                <div class="h-[0px] lg:h-[150px]"></div>
                <h2 class="text-xgreen uppercase text-[20px] font-lemon py-4 relative z-10 mix-blend-multiply">Multi-protocol verification</h2>
                <p class="text-xpurple text-[14px] relative z-10 mix-blend-multiply">App developers never need to worry about the underlying protocols - they have on simple interface to build all cross-chain use cases using any cross-chain messaging protocol.</p>
            </div>
            <!-- Card 2 -->
            <div class="bg-white rounded-lg shadow-lg relative w-11/12 lg:w-[290px] px-8 overflow-hidden mx-auto h-[240px] lg:h-[480px]">
                <img class="absolute top-0 left-0 right-0 w-full transition-all duration-[4000ms] hover:-rotate-6 hover:scale-125 hover:cursor-xcall" src="/assets/images/xcall-landing/images/why-2.jpg" alt="Layers of aggregation" >
                <div class="absolute inset-0 block lg:hidden bg-gradient-to-b from-transparent via-white/80 to-white"></div>
                <div class="absolute inset-0 block lg:hidden bg-gradient-to-l from-transparent via-white/80 to-white"></div>
                <div class="h-[0px] lg:h-[150px]"></div>
                <h2 class="text-xgreen uppercase text-[20px] font-lemon py-4 relative z-10 mix-blend-multiply">Aggregation</h2>
                <p class="text-xpurple text-[14px] relative z-10 mix-blend-multiply">xCall integrates with and abstracts away all protocol-specific components of sending a cross-chain message by using a standard address format across all protocols, allowing devs to focus on the specifics of their dApps and leave cross-chain messaging up to us.</p>
            </div>
            <!-- Card 3 -->
            <div class="bg-white rounded-lg shadow-lg relative w-11/12 lg:w-[290px] px-8 overflow-hidden mx-auto h-[240px] lg:h-[480px]">
                <img class="absolute top-0 left-0 right-0 w-full transition-all duration-[4000ms] hover:rotate-6 hover:scale-125 hover:cursor-xcall" src="/assets/images/xcall-landing/images/why-3.jpg" alt="Layers of aggregation" >
                <div class="absolute inset-0 block lg:hidden bg-gradient-to-b from-transparent via-white/80 to-white"></div>
                <div class="absolute inset-0 block lg:hidden bg-gradient-to-l from-transparent via-white/80 to-white"></div>
                <div class="h-[0px] lg:h-[150px]"></div>
                <h2 class="text-xgreen uppercase text-[20px] font-lemon py-4 relative z-10 mix-blend-multiple">Future-proof</h2>
                <p class="text-xpurple text-[14px] relative z-10 mix-blend-multiply">xCall integrates all the latest advancements in cross-chain messaging solutions so dApp developers can rest assured that they would never need to update their cross-chain message format in order to build on the newest technology.</p>
            </div>
        </div>
        <h2 class="relative z-1 text-white font-lemon text-[22px] w-full text-center sm:text-[38px] font-semibold uppercase pt-[50px]">Available on</h2>
        <img src="/assets/images/xcall-landing/svg/connected-chains.svg" alt="Chains xCall is Connected with" class="relative z-1 w-11/12 sm:w-[600px] lg:w-[700px] mx-auto py-5">
        <div class="relative z-1 w-11/12 sm:w-[600px] lg:w-[650px] mx-auto">
            <p>xCall currently connects <a href="https://ethereum.org/" target="_blank" ><span class="font-bold">Ethereum (Sepolia)</span></a>, <a href="http://bnbchain.org/" target="_blank" ><span class="font-bold">BSC (BSC)</span></a>, <a href="https://icon.community/" target="_blank" ><span class="font-bold">ICON (Berlin)</span></a>, and <a href="https://havah.io/" target="_blank" ><span class="font-bold">Havah (Vega)</span></a> through its first integration to <a href="https://github.com/iconloop/btp2-testnet" target="_blank"><span class="font-bold">BTP (Blockchain Transmission Protocol)</span></a>, the interoperability protocol for the ICON Network.</p>
            <p class="pt-4">For more on xCall available through the BTP network, <a href="https://github.com/iconloop/btp2-testnet" target="_blank" ><span class="font-bold">read here</span>.</a></p>
        </div>
        <div class="relative w-full py-8 text-center z-1">
            <a target="_blank" href="https://docs.icon.community/cross-chain-communication/xcall"><button class="mx-auto shadow-lg relative z-1 text-xindigo bg-xteal font-lemon tracking-[1px] text-[14px] text-center uppercase py-3 px-8 sm:px-10 rounded-full w-fit whitespace-nowrap">start building </button></a>
        </div>
        
    </div>
    <!-- BOTTOM SECTION -->
    <div class="relative mx-auto bg-white h-fit w-full lg:w-[1000px] xl:w-[1200px] ">
        <img x-intersect="$el.classList.add('scale')" src="/assets/images/xcall-landing/images/ibc-bg-1.jpg" alt="xCall Service on IBC" class="absolute">
        <div class="w-full h-[200px] sm:h-[270px] md:h-[370px] lg:h-[420px] xl:h-[200px]"></div>
        <div class="relative w-11/12 sm:w-[600px] lg:w-[650px] xl:w-[700px]  mx-auto">          
            <div class="relative z-10 flex flex-col items-start justify-center xl:items-end w-fit">
                <h1 class="uppercase text-[24px] sm:text-[32px] font-lemon font-semibold text-xgreen ">
                    Infinitely Scaleable
                </h1>
                <p class="text-[14px] w-full text-left xl:text-right lg:w-4/5">
                    Once <a href="https://github.com/cosmos/ibc" target="_blank"><span class="font-bold text-xindigo">IBC</span></a> integration is complete, xCall users will be able to connect their dApps to such <a href="https://cosmos.network/" target="_blank"><span class="font-bold">Cosmos</span></a> networks as <a href="https://archway.io/" target="_blank"><span class="font-bold">Archway</span></a>, <a href="https://neutron.org/" target="_blank"><span class="font-bold">Neutron</span></a> and more.
                </p>
                <p class="py-2 text-[14px] w-full text-left xl:text-right lg:w-2/3 text-xindigo">
                    For more on the xCall test network, <a href="https://docs.icon.community/cross-chain-communication/xcall" target="_blank" ><span class="relative z-10 font-bold text-black">read here</span>.</a>
                </p>
                
            </div>
        </div>
        <!-- INTEGRATION TIMELINE -->
        <div class="w-full pb-[25px] xl:pb-[60px] pt-0 xl:pt-[120px] mx-auto relative z-10 ">
            <img x-intersect="$el.classList.add('fadeInUp')" src="/assets/images/xcall-landing/images/integration-timeline.png" alt="xCall Integration Timeline" class="w-11/12 sm:w-[600px] lg:w-[650px] xl:w-[830px] mx-auto" />
        </div>
        
        <div class="flex flex-row items-center justify-start border-b border-xgreen py-2 relative z-1 w-11/12 lg:w-[650px] mx-auto">
            <img src="/assets/images/xcall-landing/svg/ico-comet.svg" alt="Layers of aggregation" class="w-[20px] sm:w-[20px] mr-2">
            <h3 class="text-xgreen uppercase font-semibold font-lemon text-[16px]">Get Started</h3>
        </div>
        <!-- LAST CARDS -->
        <div class="relative z-1 w-11/12 lg:w-[650px] mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 pt-8 pb-32 font-medium">
            <a href="https://docs.icon.community/cross-chain-communication/xcall" target="_blank" class="w-[195px] mx-auto inline-block">
                <div class="bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-white via-gray-200 to-gray-300 rounded-lg flex justify-center items-center w-[195px] h-[195px] mx-auto shadow-inner">
                    <img src="/assets/images/xcall-landing/svg/ico-github.svg" alt="Layers of aggregation" class="w-[70px]">
                </div>
                <h2 class="py-2 text-center text-xindigo lg:text-start">xCall Documentation</h2>
            </a>
            <a href="https://discord.gg/3hvJhzvC" target="_blank" class="w-[200195pxpx] mx-auto inline-block">
                <div class="bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-100 via-gray-200 to-gray-300 rounded-lg flex justify-center items-center w-[195px] h-[195px] mx-auto shadow-inner">
                <img src="/assets/images/xcall-landing/svg/ico-discord.svg" alt="Layers of aggregation" class="w-[70px]">
                </div>
                <h2 class="py-2 text-center text-xindigo lg:text-start">Technical Discussion and Support</h2>
            </a>
            <div class="w-[195px] mx-auto inline-block">
                <div class="bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-100 via-gray-200 to-gray-300 rounded-lg flex flex-col justify-center items-center w-[195px] h-[195px] mx-auto shadow-inner">
                <img src="/assets/images/xcall-landing/svg/ico-notion.svg" alt="Layers of aggregation" class="w-[70px] opacity-30">
                <p class="py-2 uppercase text-xpurple/30 ">Coming Soon</p>
                </div>
                <h2 class="py-2 text-center text-gray-300 lg:text-start opacity-80">xCall Incentivized Testnet Program</h2>               
            </div>
        </div>
    </div>
</main>
{{ end }}