{{ define "main" }}
{{ $data := newScratch }}

<div id="container" class="max-w-6xl px-4 mx-auto">
    {{ partial "page_header.html" (dict "context" . ) }}
    <div>
        {{ $ecosystemMembers := where $.Site.RegularPages "Section" "ecosystem" }}
        <ul id="ecosystem-members" class="sm:grid-cols-2 lg:grid-cols-3 gap-y-12 gap-x-12 grid grid-cols-1">
            {{ range $ecosystemMembers }}
            {{ $type := trim (replace .File.Dir "ecosystem/" "") "/" }}

            {{ if eq $type "nft" }}
            {{ $data.Set "type" "NFT" }}
            {{ else if eq $type "defi" }}
            {{ $data.Set "type" "DeFi" }}
            {{ else if eq $type "btp" }}
            {{ $data.Set "type" "BTP" }}
            {{ else }}
            {{ $data.Set "type" (title $type) }}
            {{ end }}

            <li class="flex space-x-4 rounded-lg">
                <div
                    class="w-28 h-28 lg:w-32 lg:h-32 flex items-center flex-shrink-0 p-3 bg-gray-900 border border-gray-800 rounded-lg">
                    <img class="w-full" src="/assets/images/ecosystem/{{ .File.BaseFileName }}.png">
                </div>
                <div class="flex flex-col justify-center space-y-4">
                    <div>
                        <h2 class="font-bold">{{ .Title }}</h2>
                        <p class="text-sm text-gray-400">{{ $data.Get "type" }}</p>
                    </div>
                    <div class="">
                        <a href="{{ .Params.twitter_url }}">
                            {{ partial "svg/twitter.html" }}
                        </a>
                    </div>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>

    <div id="btp-ecosystem">
        <ul class="grid grid-cols-2">
        </ul>
    </div>
</div>
{{ end }}