{{ define "main" }}

<div id="container" class="max-w-7xl px-4 mx-auto">
    {{ $ecosystem := where ($.Site.RegularPages) "Section" "ecosystem" }}
    {{ $btp := where ($.Site.RegularPages) "Type" "in" "btp" }}
    {{ $dapps := where ($.Site.RegularPages) "Type" "in" "dapp" }}

    <div id="btp-ecosystem">
        <ul class="grid grid-cols-2">
            {{ range $btp }}
            <li class="p-4 bg-gray-900">
                {{ .Title }}
                <img src="{{ .Permalink }}/{{ .Params.featured_image }}">
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}