{{ define "container" }}

{{ $authorDetails := index $.Site.Params.authors .Params.author }}

<main>
    <div id="container" class="lg:my-24 px-4 mx-auto my-16 space-y-8">
        <header class="max-w-2xl mx-auto mb-8 space-y-8">
            <img src="{{ partial "featured_image.html" . }}" />
            <div class="space-y-4">
                <h2 class="mb-2 text-4xl font-bold">{{ .Title }}</h2>
                <div class="flex items-center gap-2">
                    <div class="flex-shrink-0">
                        <img class="border-icon-lo w-12 h-12 p-1 border-2 rounded-full"
                            src="{{ partial "cdn_url.html" }}/assets/images/contributors/{{ .Params.author }}.png"
                            alt="{{ $authorDetails.name }}">
                    </div>
                    <div class="flex flex-col">
                        <p class="dark:text-gray-400 text-base font-bold text-gray-800">{{ $authorDetails.name }}
                        </p>
                        <div class="dark:text-gray-400 flex space-x-1 text-base text-gray-600">
                            <time datetime="2020-03-16">
                                {{ $.PublishDate.Format "January 2, 2006" }}
                            </time>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="post-content max-w-2xl mx-auto">
            {{ with $authorDetails.description }}
            <p class="p-4 text-sm bg-gray-200 border border-gray-300 rounded-md">
                {{ . }}
            </p>
            {{ end }}
            {{ .Content }}
        </div>
    </div>
</main>
{{ end }}