<div class="relative font-montserrat" x-data="{ open: false }">
    <button type="button"
        class="inline-flex items-center px-2 py-1 text-base font-medium rounded-md group focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-xindigo "
        aria-expanded="false" @click="open = true" id="hcom1">
        <span class="font-montserrat">Ecosystem</span>
        <svg class="w-5 h-5 transform group" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true" :class="open && 'rotate-180'">
            <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
        </svg>
    </button>
    <div class="absolute z-10 w-screen max-w-xl px-2 mt-3 transform -translate-x-1/2 bg-white rounded-lg left-1/2 sm:px-0 dark:bg-slate-800"
        x-show="open" x-cloak x-transition:enter="duration-200 ease-out"
        x-transition:enter-start="opacity-0 translate-y-1" x-transition:enter-end="opacity-100 translate-y-0"
        x-transition:leave="duration-150 ease-in" x-transition:leave-start="opacity-100 translate-y-0"
        x-transition:leave-end="opacity-0 translate-y-1" @click.outside="open = false">
        <div class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5">
            <div class="relative grid grid-cols-2">
                <div class="p-6 bg-radial-at-b from-purple-100 via-purple-50 to-purple-100">
                    <div class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="flex-shrink-0 w-6 h-6 text-black">
                            <path d="M6 3a3 3 0 00-3 3v1.5a.75.75 0 001.5 0V6A1.5 1.5 0 016 4.5h1.5a.75.75 0 000-1.5H6zM16.5 3a.75.75 0 000 1.5H18A1.5 1.5 0 0119.5 6v1.5a.75.75 0 001.5 0V6a3 3 0 00-3-3h-1.5zM12 8.25a3.75 3.75 0 100 7.5 3.75 3.75 0 000-7.5zM4.5 16.5a.75.75 0 00-1.5 0V18a3 3 0 003 3h1.5a.75.75 0 000-1.5H6A1.5 1.5 0 014.5 18v-1.5zM21 16.5a.75.75 0 00-1.5 0V18a1.5 1.5 0 01-1.5 1.5h-1.5a.75.75 0 000 1.5H18a3 3 0 003-3v-1.5z" />
                          </svg>
                                                   
                        <div class="ml-4 space-y-4">
                            <p class="text-base font-medium text-black">Ecosystem</p>
                            <div>
                                <p class="mt-1 text-sm text-black">Discover the blockchains, dApps, communities, infrastructure, enterprises, and institutions that make up the ICON ecosystem.</p>
                            </div>
                            <p>
                                <a href="/ecosystem"
                                    class="font-bold text-black hover:underline" id="heco1">Visit Ecosystem &#8594</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-center p-3">
                    <div class="flex flex-col space-y-2">
                        <a href="{{ $.Site.Params.social.roadmapUrl }}"
                            class="flex items-start p-3 transition duration-150 ease-in-out border border-white rounded-lg hover:bg-slate-100 hover:border-slate-200 dark:hover:bg-slate-900 dark:hover:border-slate-800 dark:border-slate-800 dark:hover:border-slate-700"
                            id="hres5">
                            <!-- Heroicon name: outline/chart-bar -->
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 019 9v.375M10.125 2.25A3.375 3.375 0 0113.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 013.375 3.375M9 15l2.25 2.25L15 12" />
                            </svg>
                           <div class="ml-4" id="hres5">
                                <p class="text-base font-medium dark:text-slate-100 text-slate-900" id="hres5">BTP Milestones</p>
                                <p class="mt-1 text-sm dark:text-slate-400 text-slate-500" id="hres5">ICON's
                                    BTP 
                                    development milestones.</p>
                            </div>                   
                        </a>
                        <a href="https://iconfoundation.notion.site/IBC-Integrations-Milestones-66221606c1464911be07c4ae73813578"
                        class="flex items-start p-3 transition duration-150 ease-in-out border border-white rounded-lg hover:bg-slate-100 hover:border-slate-200 dark:hover:bg-slate-900 dark:hover:border-slate-800 dark:border-slate-800 dark:hover:border-slate-700"
                        id="hres5">
                        <!-- Heroicon name: outline/chart-bar -->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 019 9v.375M10.125 2.25A3.375 3.375 0 0113.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 013.375 3.375M9 15l2.25 2.25L15 12" />
                        </svg>
                       <div class="ml-4" id="hres5">
                            <p class="text-base font-medium dark:text-slate-100 text-slate-900" id="hres5">IBC Milestones</p>
                            <p class="mt-1 text-sm dark:text-slate-400 text-slate-500" id="hres5">xCall on
                                IBC 
                                development milestones.</p>
                        </div>                   
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>