<div class="relative font-montserrat" x-data="{ open: false }">
    <button type="button"
        class="inline-flex items-center px-2 py-1 text-base font-medium rounded-md group focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-xindigo "
        aria-expanded="false" @click="open = true" id="hcom1">
        <span class="font-montserrat">Ecosystem</span>
        <svg class="w-5 h-5 transform group" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true" :class="open && 'rotate-180'">
            <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
        </svg>
    </button>
    <div class="absolute z-10 w-screen max-w-xl px-2 mt-3 transform -translate-x-1/2 bg-white rounded-lg left-1/2 sm:px-0 dark:bg-slate-800"
        x-show="open" x-cloak x-transition:enter="duration-200 ease-out"
        x-transition:enter-start="opacity-0 translate-y-1" x-transition:enter-end="opacity-100 translate-y-0"
        x-transition:leave="duration-150 ease-in" x-transition:leave-start="opacity-100 translate-y-0"
        x-transition:leave-end="opacity-0 translate-y-1" @click.outside="open = false">
        <div class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5">
            <div class="relative grid grid-cols-2">
                <div class="p-6 bg-radial-at-b from-purple-100 via-purple-50 to-purple-100">
                    <div class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="flex-shrink-0 w-6 h-6 text-black">
                            <path d="M6 3a3 3 0 00-3 3v1.5a.75.75 0 001.5 0V6A1.5 1.5 0 016 4.5h1.5a.75.75 0 000-1.5H6zM16.5 3a.75.75 0 000 1.5H18A1.5 1.5 0 0119.5 6v1.5a.75.75 0 001.5 0V6a3 3 0 00-3-3h-1.5zM12 8.25a3.75 3.75 0 100 7.5 3.75 3.75 0 000-7.5zM4.5 16.5a.75.75 0 00-1.5 0V18a3 3 0 003 3h1.5a.75.75 0 000-1.5H6A1.5 1.5 0 014.5 18v-1.5zM21 16.5a.75.75 0 00-1.5 0V18a1.5 1.5 0 01-1.5 1.5h-1.5a.75.75 0 000 1.5H18a3 3 0 003-3v-1.5z" />
                          </svg>
                                                   
                        <div class="ml-4 space-y-4">
                            <p class="text-base font-medium text-black">Ecosystem</p>
                            <div>
                                <p class="mt-1 text-sm text-black">Discover the blockchains, dApps, communities, infrastructure, enterprises, and institutions that make up the ICON ecosystem.</p>
                            </div>
                            <p>
                                <a href="/ecosystem"
                                    class="font-bold text-black hover:underline" id="heco1">Visit Ecosystem &#8594</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="p-6 bg-radial-at-b from-white via-teal-50 to-white">
                    <div class="flex h-full">
                        <img src="/assets/images/xcall_orb_black.png" alt="Black xCall Orb"  class="w-6 h-6"/>
                                                   
                        <div class="flex flex-col h-full ml-4 space-y-4">
                            <p class="text-base font-medium text-black">xCall Integrations</p>
                            <div>
                                <p class="mt-1 text-sm text-black">Realtime xCall Service integration status and updates.</p>
                            </div>
                            <div class="flex-grow"></div>
                            <p>
                                <a href="https://www.notion.so/iconfoundation/Integrations-66221606c1464911be07c4ae73813578"
                                    class="font-bold text-black hover:underline" id="heco1">xCall Integrations &#8594</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>