<div class="absolute inset-x-0 top-0 z-50 p-2 transition origin-top-right transform md:hidden" x-show="mobileMenuOpen"
    x-cloak>
    <div class="bg-white border divide-y-2 rounded-lg shadow-sm divide-slate-50 border-slate-200">
        <div>
            <div class="flex items-center justify-between p-4 border-b border-slate-200">
                <div>
                    <img class="w-auto h-8" src="{{ partial "cdn_url.html" }}/assets/images/icon/logo-light.png"
                        alt="ICON Community">
                </div>
                <div class="-mr-2">
                    <button type="button"
                        class="inline-flex items-center justify-center p-2 bg-white rounded-md hover:text-slate-500 hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 text-slate-400"
                        @click="mobileMenuOpen = false">
                        <span class="sr-only">Close menu</span>
                        <!-- Heroicon name: outline/x -->
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
            <nav class="grid grid-cols-1 divide-y divide-slate-200">
                <!-- Developers -->
                <div id="developers" class="divide-y divide-slate-200" x-data="{open: false}">
                    <button class="w-full p-4 text-lg font-medium hover:bg-slate-100 text-slate-900"
                        :class="{ 'bg-slate-100': open}" @click="open =! open">Developers</button>
                    <div x-show="open" class="divide-y divide-slate-200">
                        <a href="/interoperability-incentive-program/"
                            class="flex items-start p-4 transition duration-150 ease-in-out hover:bg-slate-100">
                            <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" />
                            </svg>
                            <div class="ml-4">
                                <p class="text-base font-medium text-slate-900">Apply for a Grant</p>
                                <p class="mt-1 text-sm text-slate-500">As part of our Interoperability Incentive
                                    Program,
                                    we've set aside 200 million ICX to incentivize development of products and tools
                                    that use ICON's BTP technology.
                                </p>
                            </div>
                        </a>
                        <a href="https://docs.icon.community"
                            class="flex items-start p-4 transition duration-150 ease-in-out hover:bg-slate-100">
                            <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M10 21h7a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v11m0 5l4.879-4.879m0 0a3 3 0 104.243-4.242 3 3 0 00-4.243 4.242z" />
                            </svg>
                            <div class="ml-4">
                                <p class="text-base font-medium text-slate-900">Documentation</p>
                                <p class="mt-1 text-sm text-slate-500">Learn how to develop dApps and smart contracts on
                                    the ICON
                                    blockchain.
                                </p>
                            </div>
                        </a>
                        <a href="/repos/"
                            class="flex items-start p-4 transition duration-150 ease-in-out hover:bg-slate-100">
                            <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z" />
                            </svg>
                            <div class="ml-4">
                                <p class="text-base font-medium text-slate-900">Popular Repos</p>
                                <p class="mt-1 text-sm text-slate-500">
                                    View the most popular ICON-related GitHub repositories.
                                </p>
                            </div>
                        </a>
                        <a href="https://github.com/icon-project/java-score-examples"
                            class="flex items-start p-4 transition duration-150 ease-in-out hover:bg-slate-100">
                            <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z" />
                            </svg>
                            <div class="ml-4">
                                <p class="text-base font-medium text-slate-900">Example Projects</p>
                                <p class="mt-1 text-sm text-slate-500">Kickstart your smart contract development
                                    workflow
                                    with
                                    these
                                    example projects.
                                </p>
                            </div>
                        </a>
                        <a href="https://immunefi.com/bounty/icon/"
                            class="flex items-start p-3 transition duration-150 ease-in-out border rounded-lg hover:bg-slate-100 hover:border-slate-200 border-slate-50"
                            id="hdev5">
                            <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 12.75c1.148 0 2.278.08 3.383.237 1.037.146 1.866.966 1.866 2.013 0 3.728-2.35 6.75-5.25 6.75S6.75 18.728 6.75 15c0-1.046.83-1.867 1.866-2.013A24.204 24.204 0 0112 12.75zm0 0c2.883 0 5.647.508 8.207 1.44a23.91 23.91 0 01-1.152 6.06M12 12.75c-2.883 0-5.647.508-8.208 1.44.125 2.104.52 4.136 1.153 6.06M12 12.75a2.25 2.25 0 002.248-2.354M12 12.75a2.25 2.25 0 01-2.248-2.354M12 8.25c.995 0 1.971-.08 2.922-.236.403-.066.74-.358.795-.762a3.778 3.778 0 00-.399-2.25M12 8.25c-.995 0-1.97-.08-2.922-.236-.402-.066-.74-.358-.795-.762a3.734 3.734 0 01.4-2.253M12 8.25a2.25 2.25 0 00-2.248 2.146M12 8.25a2.25 2.25 0 012.248 2.146M8.683 5a6.032 6.032 0 01-1.155-1.002c.07-.63.27-1.222.574-1.747m.581 2.749A3.75 3.75 0 0115.318 5m0 0c.427-.283.815-.62 1.155-.999a4.471 4.471 0 00-.575-1.752M4.921 6a24.048 24.048 0 00-.392 3.314c1.668.546 3.416.914 5.223 1.082M19.08 6c.205 1.08.337 2.187.392 3.314a23.882 23.882 0 01-5.223 1.082" />
                            </svg>
                            <div class="ml-4" id="hdev5">
                                <p class="text-base font-medium text-slate-900" id="hdev5">Bug Bounty</p>
                                <p class="mt-1 text-sm text-slate-500" id="hdev5">
                                    Explore active bug bounties for ICON smart contracts and core blockchain software.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Ecosystem -->
                <div id="ecosystem" class="divide-y divide-slate-200" x-data="{open: false}">
                    <button class="w-full p-4 text-lg font-medium hover:bg-slate-100 text-slate-900"
                        onclick="location.href='/ecosystem/'">Ecosystem</button>
                </div>
                <!-- Resources -->
                <div id="resources" class="divide-y divide-slate-200" x-data="{open: false}">
                    <button class="w-full p-4 text-lg font-medium hover:bg-slate-100 text-slate-900"
                        :class="{ 'bg-slate-100': open}" @click=" open=! open">Resources</button>
                    <div x-show="open" class="divide-y divide-slate-200">
                        <a href="/learn/"
                            class="flex items-start p-4 transition duration-150 ease-in-out hover:bg-slate-100">
                            <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                            </svg>
                            <div class="ml-4">
                                <p class="text-base font-medium text-slate-900">Learn</p>
                                <p class="mt-1 text-sm text-slate-500">Learn about key ICON concepts like
                                    interoperability, DeFi, NFTs, and more.</p>
                            </div>
                        </a>
                        <a href="/blog/"
                            class="flex items-start p-4 transition duration-150 ease-in-out hover:bg-slate-100">
                            <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z" />
                            </svg>
                            <div class="ml-4">
                                <p class="text-base font-medium text-slate-900">Blog</p>
                                <p class="mt-1 text-sm text-slate-500">Read the latest news and developments in the
                                    ICON
                                    ecosystem.</p>
                            </div>
                        </a>
                        <a href="https://www.youtube.com/channel/UCI7Z_1sTKN-kCVgFD2a0GXQ"
                            class="flex items-start p-4 transition duration-150 ease-in-out hover:bg-slate-100">
                            <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z" />
                            </svg>
                            <div class="ml-4">
                                <p class="text-base font-medium text-gr1ay-900">Videos</p>
                                <p class="mt-1 text-sm text-slate-500">Watch interviews, tutorials, and more on the ICON
                                    YouTube channel.</p>
                            </div>
                        </a>
                        <a href="/tutorials/"
                            class="flex items-start p-4 transition duration-150 ease-in-out hover:bg-slate-100">
                            <svg class="flex-shrink-0 w-6 h-6 text-indigo-600 dark:text-icon-lo"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" 
                                aria-hidden="true">
                                <path stroke-linecap="round" stroke-width="2" stroke-linejoin="round" d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
                            </svg>
                            <div class="ml-4">
                                <p class="text-base font-medium text-gr1ay-900">Tutorials</p>
                                <p class="mt-1 text-sm text-slate-500">Read in-depth tutorials about how to build on ICON.</p>
                            </div>
                        </a>
                        <a href="/glossary/"
                            class="flex items-start p-4 transition duration-150 ease-in-out hover:bg-slate-100">
                            <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            <div class="ml-4">
                                <p class="text-base font-medium text-gr1ay-900">Glossary</p>
                                <p class="mt-1 text-sm text-slate-500">Everything you need to know about ICON in
                                    a
                                    delicious
                                    bite-sized format.</p>
                            </div>
                        </a>
                        <a href="/assets/btp-litepaper.pdf"
                            class="flex items-start p-4 transition duration-150 ease-in-out hover:bg-slate-100">
                            <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                            </svg>
                            <div class="ml-4">
                                <p class="text-base font-medium text-gr1ay-900">BTP Litepaper</p>
                                <p class="mt-1 text-sm text-slate-500">Learn about ICON's Blockchain Transmission
                                    Protocol interoperability solution.</p>
                            </div>
                        </a>
                        <a href="{{ $.Site.Params.social.roadmapUrl }}"
                            class="flex items-start p-4 transition duration-150 ease-in-out hover:bg-slate-100">
                            <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7" />
                            </svg>
                            <div class="ml-4">
                                <p class="text-base font-medium text-slate-900">BTP Milestones</p>
                                <p class="mt-1 text-sm text-slate-500">Stay up
                                    to date with ICON's
                                    BTP 
                                    development milestones.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Community -->
                <div id="community" class="divide-y divide-slate-200" x-data="{open: false}">
                    <button class="w-full p-4 text-lg font-medium hover:bg-slate-100 text-slate-900"
                        :class="{ 'bg-slate-100': open}" @click="open =! open">Community</button>
                    <div x-show="open" class="divide-y divide-slate-200">
                        <a href="{{ $.Site.Params.social.discordUrl }}"
                            class="flex items-start p-4 transition duration-150 ease-in-out hover:bg-slate-100">
                            <!-- Heroicon name: outline/cursor-click -->
                            <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
                            </svg>
                            <div class="ml-4">
                                <p class="text-base font-medium text-slate-900">Join Discord</p>
                                <p class="mt-1 text-sm text-slate-500">Join the ICON Discord, and start
                                    connecting with our global community.</p>
                            </div>
                        </a>
                        <a href="https://cps.icon.community"
                            class="flex items-start p-4 transition duration-150 ease-in-out hover:bg-slate-100">
                            <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" />
                            </svg>
                            <div class="ml-4">
                                <p class="text-base font-medium text-slate-900">Get Funded</p>
                                <p class="mt-1 text-sm text-slate-500">
                                    Submit a proposal to ICON's Contribution Proposal System to get your idea funded.
                                </p>
                            </div>
                        </a>
                        <a href="https://forum.icon.community"
                            class="flex items-start p-4 transition duration-150 ease-in-out hover:bg-slate-100">
                            <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                            </svg>
                            <div class="ml-4">
                                <p class="text-base font-medium text-slate-900">ICON Forum</p>
                                <p class="mt-1 text-sm text-slate-500">
                                    Participate in governance discussions on the ICON forum.
                                </p>
                            </div>
                        </a>
                        <!-- PLACE ADDITIONAL COMMUNITY CAMPAIGNS HERE -->
                        <!-- <a href="/joincoinmarketcap"
                            class="flex items-start p-4 transition duration-150 ease-in-out hover:bg-slate-100">
                            <svg class="flex-shrink-0 w-6 h-6 text-[#2563EB] dark:text-icon-lo"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            aria-hidden="true">
                                <path stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M21 11.25v8.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 109.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1114.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                            </svg>  
                            <div class="ml-4">
                                <p class="text-base font-medium text-slate-900">Follow on CoinMarketCap</p>
                                <p class="mt-1 text-sm text-slate-500">
                                    Join $ICX on CoinMarketCap and win 100 ICX
                                </p>
                            </div>
                        </a> -->
                    </div>
                </div>
                
                <!-- GET WALLET -->
                <div class="mx-auto my-4 divide-y divide-slate-200" x-data="{open: false}" id="hwal1">
                    {{ partial "buttons/button_primary.html" (dict "context" . "buttonText" "Get Wallet" "buttonUrl" "/hanawallet/" )}}
                </div>
            </nav>
        </div>
    </div>
</div>