<div class="flex items-center justify-between w-full p-4 mb-16 border-b border-gray-800">
    <img class="md:w-24 w-20" src="/assets/images/icon/icon-logo.png">
    <nav class="md:block hidden">
        <ul class="inline-flex flex-wrap gap-8">
            <a href="/learn/">
                <li class="font-medium text-gray-400">Learn</li>
            </a>
            <a href="https://icondev.io">
                <li class="font-medium text-gray-400">Build</li>
            </a>
            <a href="/ecosystem/">
                <li class="font-medium text-gray-400">Ecosystem</li>
            </a>
            <a href="/community/">
                <li class="font-medium text-gray-400">Community</li>
            </a>
        </ul>
    </nav>
    <button type="button"
        class="md:inline-flex hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 items-center hidden px-4 py-2 text-base font-bold text-white bg-indigo-600 border border-transparent rounded-md shadow-sm">
        Buy ICX
    </button>
</div>