<div class="flex items-center justify-between w-full p-4 mb-8 border-b border-gray-800">
    <a href="/"><img class="md:w-24 w-20" src="/assets/images/icon/icon-logo.png"></a>
    <nav class="md:block hidden text-base">
        <ul class="inline-flex flex-wrap gap-8">
            <a href="/learn/">
                <li class="font-medium text-gray-400">Learn</li>
            </a>
            <a href="https://icondev.io">
                <li class="font-medium text-gray-400">Build</li>
            </a>
            <a href="/ecosystem/">
                <li class="font-medium text-gray-400">Ecosystem</li>
            </a>
            <a href="/community/">
                <li class="font-medium text-gray-400">Community</li>
            </a>
        </ul>
    </nav>
    <a href="/icx/">
        <button type="button"
            class="md:inline-flex hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 bg-icon-lo items-center hidden px-4 py-2 text-base font-bold text-white border border-transparent rounded-md shadow-sm">
            Buy ICX
        </button>
    </a>
</div>