{{ $data := newScratch }}
{{ if or (isset . "primaryButtonText") (isset . "secondaryButtonText") }}
{{ $data.Set "isButton" true }}
{{ else }}
{{ $data.Set "isButton" false }}
{{ end }}
{{ $isButton := $data.Get "isButton" }}

<header id="page-header" class="max-w-4xl mx-auto mb-16 text-center">
    <div class="{{ if eq $isButton true }}mb-4 sm:mb-8{{ end }}">
        <h2 id="title" class="mb-4 text-4xl font-bold">{{ .context.Title }}</h2>
        <div id="subtitle" class="max-w-lg mx-auto text-gray-400">{{ .context.Content }}</div>
    </div>
    {{ if eq $isButton true }}
    <div id="cta-buttons" class="space-x-4">
        {{ if (isset . "primaryButtonText") }}
        {{ partial "buttons/button_primary.html" (dict "context" . "buttonText" .primaryButtonText "buttonUrl" .primaryButtonUrl )}}
        {{ end }}
    </div>
    {{ end }}
</header>