<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- structured data -->
        <title>ICON Community</title>
        <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://icon.community/",
        "logo": "https://icon-community.imgix.net/assets/images/icon/logo-light.png"
        }
        </script>
        <!-- end of structured data -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="alternate" type="application/rss+xml" href="/index.xml" title="ICON Community">
        {{ partial "head/canonical_url.html" . }}
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <title>{{ .Title }} | ICON Community</title>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" ></script>
        <meta name="author" content="ICON Community">
        <meta name="description" content="{{ .Params.description }}" />
        <meta name="keywords" content="blockchain, cryptocurrency, interoperability" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        {{ block "prefetch" . }}{{ end }}
        <!-- OpenGraph Tags -->
        <meta property="og:title" content="{{ .Title }}" />
        <meta property="og:description" content="{{ .Params.description }}" />
        <meta property="og:image" content="{{ partial "featured_image.html" . | absURL }}" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:url" content="{{ .Permalink | absURL }}" />
        <!-- Twitter Tags -->
        <meta name="twitter:title" content="{{ .Title }}" />
        <meta name="twitter:description" content="{{ .Params.description }}" />
        <meta name="twitter:image" content="{{ partial "featured_image.html" . | absURL }}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@helloiconworld">
        {{ partialCached "head/css.html" . }}
        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@1.6.1"></script>
        <!-- AlpineJS -->
        <!-- <script src="https://unpkg.com/alpinejs" defer></script> -->
        {{ partialCached "google_analytics.html" . }}
        <!-- Alpine Plugins -->
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
        <!-- More Alpine JS -->
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.11.1/dist/cdn.min.js"></script>
        
    </head>

    <body class="font-sans antialiased bg-slate-50 dark:bg-slate-900 dark:text-slate-100 text-slate-900">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WBTGP42" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        {{ partialCached "navigation_bar.html" . }}
        {{ partialCached "topbar.html" . }}
        {{ block "container" . }}{{ end }}
        {{ partialCached "footer.html" . }}
        {{ partialCached "cookie_notice.html" . }}
    </body>

</html>