<!DOCTYPE html>
<html lang="en">

    <head>
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "Organization",
                "name": "ICON Network",
                "alternateName": "ICON Community",
                "url": "https://icon.community/",
                "logo": "https://icon-community.imgix.net/assets/images/icon/logo-light.png",
                "description": "ICON blockchain is a public blockchain protocol building a hyperconnected future with BTP and xCall service.",
                "sameAs": [
                    "https://twitter.com/helloiconworld",
                    "https://www.youtube.com/channel/UCI7Z_1sTKN-kCVgFD2a0GXQ",
                    "https://github.com/icon-community",
                    "https://icon.community/"
                ],
                "potentialAction": {
                    "@type": "SearchAction",
                    "target": "https://icon.community/search?q={search_term_string}",
                    "query-input": "required name=search_term_string"
                }                
            }
           
        </script>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="alternate" type="application/rss+xml" href="/index.xml" title="ICON Community">
        {{ partial "head/canonical_url.html" . }}
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <title>{{ .Title }} | ICON Community</title>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" ></script>
        <meta name="author" content="ICON Community">
        <meta name="description" content="{{ .Params.description }}" />
        <meta name="keywords" content="blockchain, cryptocurrency, interoperability" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        {{ block "prefetch" . }}{{ end }}
        <!-- OpenGraph Tags -->
        <meta property="og:title" content="{{ .Title }}" />
        <meta property="og:description" content="{{ .Params.description }}" />
        <meta property="og:image" content="{{ partial "featured_image.html" . | absURL }}" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:url" content="{{ .Permalink | absURL }}" />
        <!-- Twitter Tags -->
        <meta name="twitter:title" content="{{ .Title }}" />
        <meta name="twitter:description" content="{{ .Params.description }}" />
        <meta name="twitter:image" content="{{ partial "featured_image.html" . | absURL }}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@helloiconworld">
        {{ partialCached "head/css.html" . }}
        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@1.6.1"></script>
        <!-- AlpineJS -->
        <!-- <script src="https://unpkg.com/alpinejs" defer></script> -->
        {{ partialCached "google_analytics.html" . }}
        <!-- Alpine Plugins -->
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
        <!-- More Alpine JS -->
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.11.1/dist/cdn.min.js"></script>

    </head>

    <body class="relative font-sans antialiased bg-slate-50 dark:bg-slate-900 dark:text-slate-100 text-slate-900">     
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2BEGJ1BMGE"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-2BEGJ1BMGE');
        </script>
        {{ partialCached "navigation_bar.html" . }}
        <!-- {{ partialCached "topbar.html" . }} -->
        {{ block "container" . }}{{ end }}
        {{ partialCached "footer.html" . }}
        {{ partialCached "cookie_notice.html" . }}
        <!-- NOTIFICATION PULSE -->
        <a href="/blog/2023/xcall-public-incentivized-testnet-program/">
            <div class="hover:scale-[102%] fixed z-40 flex flex-row items-center justify-between p-4 space-x-2 transition-all border border-teal-200 sm:space-x-4 transform-origin-top-left rounded-2xl bg-black/60 font-montserrat bottom-2 sm:bottom-8 right-2 sm:right-4 backdrop-blur-lg">
                <div class="relative">
                    <div class="h-[12px] w-[12px] sm:h-[16px] sm:w-[16px] bg-orange-400 rounded-full"></div>
                    <div class="absolute top-0 animate-ping h-[12px] w-[12px] sm:h-[16px] sm:w-[16px] bg-orange-400 rounded-full"></div>
                </div>
                <div>
                    <h1 class="font-semibold text-white text-[12px] sm:text-[16px]">xCall Public Incentivized Testnet!</h1>
                    <p class="text-gray-300 text-[14px] hidden sm:block">Coming soon on the 31st of July</p>
                </div>
            </div>
        </a>
        <a target="_blank" href='https://iconfoundation.notion.site/Testnet-Challenges-bc1b7de910894307970841d64ea9548f' class="border border-teal-200/20 hidden sm:block fixed text-[10px] sm:text-[12px] z-40 text-white bottom-[46px] transition-all sm:bottom-[100px] bg-black/80 backdrop-blur rounded-lg px-2 py-1 right-1 sm:right-2 uppercase font-lemon font-bold hover:scale-[102%]">view challenges</a>
    </body>

</html>