{{ define "container" }}
<div x-data id="container" class="relative font-montserrat">
    
    <div id="hero"
        class="relative px-4 py-0 overflow-hidden lg:py-32 sm:px-20 sm:py-24 bg-radial-at-bl md:bg-radial-at-b from-rookteal-darktwo via-rookteal-light to-rookteal-dark">

        <!-- The image -->
        
        <div x-intersect="$el.classList.add('scale')" class="absolute top-0 bottom-0 hidden left-1/2 sm:block xl:hidden">
            <img src="{{ partial "cdn_url.html" }}/assets/images/welcome.png" alt="integrate with xcall mid" loading="lazy" class="object-cover w-full h-full"/>
        </div> 
        <div x-intersect="$el.classList.add('scale')" class="absolute top-0 bottom-0 hidden left-1/2 xl:block">
            <img src="{{ partial "cdn_url.html" }}/assets/images/welcome.png" alt="integrate with xcall large" loading="lazy" class="object-cover w-full h-full"/>
        </div>  
        <!-- Shape divider -->
        <div class="absolute left-0 w-full overflow-hidden leading-none rotate-180 -bottom-1">
            <svg class="relative block h-[24px] w-full" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" fill="#F8FAFC"></path>
            </svg>
        </div>
        
        <div class="relative flex flex-col items-center justify-start mx-auto sm:flex-row max-w-7xl z-1 -translate-y-[60px] sm:translate-y-0">
            <div class="w-full p-0 sm:w-2/3 sm:p-8">
                <h1 x-intersect="$el.classList.add('fadeInUp')" class="!leading-tight w-full mb-4 text-3xl font-extrabold tracking-tight text-center pt-28 sm:text-left sm:pt-0 lg:text-6xl text-slate-50">
                    Go Cross-Chain<br> with ICON
                </h1>
                <div x-intersect="$el.classList.add('scale')" class="block -my-8 sm:hidden">
                    <img src="{{ partial "cdn_url.html" }}/assets/images/welcome.png" alt="integrate with xcall mobile" loading="lazy" class="object-cover w-full h-full"/>
                </div>
                <p x-intersect="$el.classList.add('fadeInUp')" class="z-50 max-w-2xl mb-8 text-lg text-center sm:text-left md:text-xl text-slate-100">
                    ICON is an interoperability layer that helps teams and developers build successful cross-chain apps.
                </p>
                <div x-intersect="$el.classList.add('fadeInUp')" id="hero-buttons" class="flex flex-wrap justify-center gap-4 sm:justify-start">
                    {{ partial "buttons/button_primary.html" (dict "context" . "buttonText" "Go to Documentation" "buttonUrl" "https://xcall.dev/") }}
                    {{ partial "buttons/button_secondary.html" (dict "context" . "buttonText" "Explore Ecosystem" "buttonUrl" "/ecosystem/") }}
                </div>
            </div>
            
        </div>
    </div>
      
    <div class="relative overflow-hidden">       
        <div id="powered-by-icx" class="relative px-4 py-16 mx-auto lg:px-8 max-w-7xl sm:py-24 ">
            <div x-intersect="$el.classList.add('fadeInFromLeft')" class="w-full text-left  mb-8 md:-mb-[170px] ">
                <h1 class="text-3xl font-extrabold !leading-tight text-xgray lg:text-6xl">Interoperability <br>in Action</h1>
                <p class="my-4 text-lg sm:my-8 lg:text-xl">First use-case to unlock chains beyond Cosmos using native IBC.</p> 
            </div>  
            <div x-intersect="$el.classList.add('scale')" class="">
                <img class="w-full sm:w-[1000px] scale-[140%] sm:scale-100 mt-0 md:mt-[60px] lg:mt-[30px]" 
                            src="{{ partial "cdn_url.html" }}/assets/images/balanced.png"
                            alt="ICON is powered by ICX." loading="lazy">
            </div> 
            <div x-intersect="$el.classList.add('fadeInFromRight')" class="flex flex-col items-end justify-center mt-0 text-right  md:-mt-[180px] lg:-mt-[260px] xl:-mt-[360px] ">
                <h2 class="text-2xl font-extrabold text-xgray lg:text-3xl">Experience the ICON <br>Interoperability Framework</h2>
                <p class="w-11/12 my-4 text-lg sm:my-8 lg:text-xl md:w-1/2">Balanced bridges to Archway using ICON technology, all accessible through native applications (Hana)</p>
                <div class="flex items-center justify-end space-x-4">
                    <img src="{{ partial "cdn_url.html" }}/assets/images/balanced-logo-dark.svg" alt="Balanced bridges to Archway using ICON technology, all accessible through native applications (Hana)" loading="lazy"/>
                    {{ partial "buttons/button_tertiary.html" (dict "context" . "buttonText" "Swap Cross-Chain" "buttonUrl" "https://balanced.network/") }}
                </div>
            </div>
        </div>
    </div>
        
    <div class="relative py-8 bg-radial-at-br from-rookteal-dark via-rookteal-light to-rookteal-dark ">
            <!-- Shape divider top of panel-->
            <div class="absolute left-0 w-full overflow-hidden leading-none -top-1">
                <svg class="relative scale-x-[-1] block h-[48px] md:h-[100px] 2xl:h-[140px] w-full" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" fill="#F8FAFC"></path>
                </svg>
            </div>

            <!-- Shape divider bottom of panel-->
            <div class="absolute left-0 w-full overflow-hidden leading-none -bottom-1 scale-y-[-1]">
                <svg class="relative scale-x-[-1] block h-[48px] md:h-[100px] 2xl:h-[140px] w-full" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" fill="#F8FAFC"></path>
                </svg>
            </div>
            
            <div class="relative flex flex-col justify-between px-2 py-8 mx-auto md:py-24 2xl:py-36 lg:px-8 max-w-7xl md:flex-row">
                <div class="space-y-8 text-center sm:space-y-0 md:text-left">
                    <h3 class="text-3xl font-extrabold text-white lg:text-5xl">Highlighted <br> Connections</h3>
                    <img class="mx-auto md:mx-0" src="{{ partial "cdn_url.html" }}/assets/images/connections.svg" alt="ICON Connects to Ethereum, Injective, BNB Chain, Archway and Neutron" loading="lazy"/>
                    {{ partial "buttons/button_secondary.html" (dict "context" . "buttonText" "View Integrations" "buttonUrl" "/integrations") }}
                </div>
                
                <div class="flex items-start justify-center md:justify-end ">
                    <div class="px-8 mt-16 space-y-4 text-center md:text-right md:mt-0">
                        <h3 class="font-light uppercase text-md text-white/60">Media Partners</h3>
                        <img class="mx-auto md:mx-0"  src="{{ partial "cdn_url.html" }}/assets/images/hackernoon-logo.svg" alt="ICON and Hackernoon work together to Publish and Distribute Cross-chain Content" loading="lazy"/>
                        <img class="block w-1/3 mx-auto md:hidden" src="{{ partial "cdn_url.html" }}/assets/images/highlighted-article-image.png" alt="ICON and Hackernoon work together to Publish and Distribute Cross-chain Content" loading="lazy"/>
                        <a class="block text-center cursor-pointer md:text-right font-courier text-white/80 hover:text-white" href="https://hackernoon.com/archway-users-now-have-access-to-balanced" target="_blank">"Archway Users Now Have <br>Access to Balanced"</a>
                        <p class="font-semibold text-center text-white md:text-right">December 19th 2023</p>
                    </div>
                    <img class="hidden w-1/3 md:block" src="{{ partial "cdn_url.html" }}/assets/images/highlighted-article-image.png" alt="ICON and Hackernoon work together to Publish and Distribute Cross-chain Content" loading="lazy"/>
                </div>
                
            </div>
        </div>
        <!-- INCREASING NETWORK VALUE SECTION -->
        <div class="relative py-16 sm:py-24">
            <div class="relative flex flex-col items-center justify-center mx-auto sm:justify-start sm:flex-row max-w-7xl z-1 sm:translate-y-0">
                <div class="w-full p-0 overflow-hidden sm:w-2/3 sm:p-8">
                    <div class="flex items-center mx-auto ">
                        <h1 x-intersect="$el.classList.add('fadeInUp')" class="w-1/2 pt-0 pl-4 mb-0 text-4xl font-extrabold !leading-tight text-left sm:mb-4 sm:pl-0 sm:w-full  lg:text-6xl text-slate-500">
                            Increasing<br> Network Value
                        </h1>
                        <div  x-intersect="$el.classList.add('fadeInFromRight')" class="block w-1/2 sm:hidden">
                            <img class=" translate-x-16 scale-[100%]" src="{{ partial "cdn_url.html" }}/assets/images/icx.png" alt="integrate with xcall mobile" loading="lazy" class="object-cover w-full h-full"/>
                        </div>
                    </div>
                    <h2 x-intersect="$el.classList.add('fadeInUp')" class="w-full px-4 mb-4 text-xl font-extrabold tracking-tight text-left sm:px-0 lg:text-2xl text-xgray">
                        The value of cross-chain activity gets captured in the ICX token.
                    </h2>
                    
                    <p x-intersect="$el.classList.add('fadeInUp')" class="px-4 mb-8 text-lg text-left sm:px-0 md:text-xl">
                        All fees generated by applications using ICON technology, whether they are on the ICON L1 or not, get burned on-chain.
                    </p>
                    <div x-intersect="$el.classList.add('fadeInUp')" id="hero-buttons" class="flex flex-wrap justify-center gap-4 sm:justify-start">
                        {{ partial "buttons/button_tertiary.html" (dict "context" . "buttonText" "How to get ICX" "buttonUrl" "/hanawallet/") }}
                    </div>
                </div>
                <div x-intersect="$el.classList.add('fadeInFromRight')" class="hidden w-1/2 sm:block">
                    <img class="scale-[120%] translate-y-[20px]" src="{{ partial "cdn_url.html" }}/assets/images/icx.png" alt="integrate with xcall mobile" loading="lazy" class="object-cover w-full h-full"/>
                </div>
            </div>
        </div>
        
    </div>
    <div id="cps"
        class="relative py-16 space-y-16 bg-radial-at-tr md:bg-radial-at-t from-rookteal-dark via-rookteal-light to-rookteal-dark sm:py-24">
        <!-- Shape divider top of panel-->
        <div class="absolute left-0 w-full overflow-hidden leading-none -top-1">
            <svg class="relative block h-[24px] w-full" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" fill="#F8FAFC"></path>
            </svg>
        </div>
        
        <div id="cps_hero" class="relative px-4 space-y-8">
            <h1 x-intersect="$el.classList.add('fadeInUp')" class="text-4xl font-bold tracking-tight text-center lg:text-6xl text-slate-50">
                Get Paid to Build
            </h1>
            <!-- <div class="flex flex-wrap items-center justify-center gap-4">
                <div
                    class="flex flex-col p-2 space-y-1 border rounded-lg grow shrink-0 sm:p-3 dark:border-slate-700 dark:bg-slate-800 bg-slate-100 border-slate-200">
                    <h3 class="text-xs font-bold tracking-tight uppercase dark:text-slate-400 text-slate-600">Active
                        Projects</h3>
                </div>
                <div
                    class="flex flex-col p-2 space-y-1 border rounded-lg grow shrink-0 sm:p-3 dark:border-slate-700 dark:bg-slate-800 bg-slate-100 border-slate-200">
                    <h3 class="text-xs font-bold tracking-tight uppercase dark:text-slate-400 text-slate-600">Funded
                        Projects</h3>
                </div>
                <div
                    class="flex flex-col p-2 space-y-1 border rounded-lg grow shrink-0 sm:p-3 dark:border-slate-700 dark:bg-slate-800 bg-slate-100 border-slate-200">
                    <h3 class="text-xs font-bold tracking-tight uppercase dark:text-slate-400 text-slate-600">
                        Distributed
                        Funds</h3>
                </div>
            </div> -->
            <p x-intersect="$el.classList.add('fadeInUp')" class="z-50 max-w-2xl mx-auto text-lg text-center text-slate-100">
                ICON's <strong>Contribution Proposal System</strong> (CPS) is a decentralized grant program for
                teams building on the ICON blockchain. Whether your focus is
                development, marketing, or community building, the CPS is here to fund you.
            </p>
            <div x-intersect="$el.classList.add('fadeInUp')" id="hero-buttons" class="flex flex-wrap justify-center gap-4">
                {{ partial "buttons/button_primary.html" (dict "context" . "buttonText" "Create a Proposal" "buttonUrl" "https://cps.icon.community") }}
            </div>
        <!-- </div>
        <div x-intersect="$el.classList.add('fadeInUp')" id="cps_features">
            <div class="max-w-xl px-4 mx-auto sm:px-6 lg:max-w-7xl lg:px-4 text-[#E6F7FA]">
                <h2 class="sr-only">Easy Application Process</h2>
                <dl class="space-y-10 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-8">
                    <div>
                        <dt>
                            <div class="flex items-center justify-center w-12 h-12 text-white bg-indigo-500 rounded-md">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 font-bold" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path strokeLinecap="round" strokeLinejoin="round" stroke-width=2
                                        d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                                </svg>
                            </div>
                            <p class="mt-5 text-lg font-bold leading-6 text-slate-50">Easy Application Process
                            </p>
                        </dt>
                        <dd class="mt-2 text-base">Applying for CPS funding is quick and easy.
                            Share your idea on the ICON forum for discussion, and submit a proposal when ready.
                        </dd>
                    </div>
                    <div>
                        <dt>
                            <div class="flex items-center justify-center w-12 h-12 text-white bg-indigo-500 rounded-md">
                                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                                </svg>
                            </div>
                            <p class="mt-5 text-lg font-bold leading-6 text-slate-50">Decentralized Funding</p>
                        </dt>
                        <dd class="mt-2 text-base ">ICON's CPS is a fully decentralized grant
                            program governed by validators on the ICON network.</dd>
                    </div>
                    <div>
                        <dt>
                            <div class="flex items-center justify-center w-12 h-12 text-white bg-indigo-500 rounded-md">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
                                </svg>
                            </div>
                            <p class="mt-5 text-lg font-bold leading-6 text-slate-50">Paid in bnUSD</p>
                        </dt>
                        <dd class="mt-2 text-base ">Unlike grant programs that pay out in a volatile
                            asset,
                            CPS utilizes the <a class="underline hover:no-underline"
                                href="https://balanced.network/stablecoin/">bnUSD stablecoin</a> for predictable income
                            month after month.</dd>
                    </div>
                    <div>
                        <dt>
                            <div class="flex items-center justify-center w-12 h-12 text-white bg-indigo-500 rounded-md">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 20 20"
                                    fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                            <p class="mt-5 text-lg font-bold leading-6 text-slate-50">Consistent Payouts
                            </p>
                        </dt>
                        <dd class="mt-2 text-base">Once your CPS proposal is approved, you'll
                            automatically receive monthly payouts in bnUSD as you hit project milestones.</dd>
                    </div>
                    <div>
                        <dt>
                            <div class="flex items-center justify-center w-12 h-12 text-white bg-indigo-500 rounded-md">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
                                </svg>
                            </div>
                            <p class="mt-5 text-lg font-bold leading-6 text-slate-50">No KYC
                            </p>
                        </dt>
                        <dd class="mt-2 text-base ">Submitting a CPS proposal doesn't require clunky
                            KYC procedures, which means anyone, anywhere can apply for funding with ease.</dd>
                    </div>
                    <div>
                        <dt>
                            <div class="flex items-center justify-center w-12 h-12 text-white bg-indigo-500 rounded-md">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                                </svg>
                            </div>
                            <p class="mt-5 text-lg font-bold leading-6 text-slate-50">Community Support
                            </p>
                        </dt>
                        <dd class="mt-2 text-base ">Looking for beta testers or early adopters for your
                            project? Bootstrap your CPS-funded project with ICON's tight-knit community.</dd>
                    </div>
                </dl>
            </div> -->
        </div> 
    </div>
    <div class="px-4 py-16 sm:py-24 font-montserrat">
        <div>
            <h1 x-intersect="$el.classList.add('fadeInUp')" 
                class="mb-4 text-4xl font-extrabold tracking-tight text-center lg:text-6xl md:text-5xl dark:text-slate-50 text-xgray">
                What's Next?
            </h1>
            <p x-intersect="$el.classList.add('fadeInUp')" class="z-50 max-w-2xl mx-auto mb-8 text-lg text-center md:text-xl dark:text-slate-400 text-xgray">
                ICON is a
                place for everyone, whether you're new to crypto or building a project. Start exploring the ICON
                cross-chain ecosystem today!
            </p>
        </div>
        <div x-intersect="$el.classList.add('fadeInUp')" 
            class="max-w-4xl mx-auto overflow-hidden border divide-y rounded-lg shadow sm:divide-y-0 sm:grid sm:grid-cols-2 sm:gap-px dark:divide-slate-700 dark:bg-slate-700 bg-slate-200 divide-slate-200 dark:border-slate-700">
            <div class="relative p-6 rounded-tl-lg rounded-tr-lg sm:rounded-tr-none group focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500 bg-slate-50 dark:bg-slate-800"
                id="p1">
                <div>
                    <span class="inline-flex p-3 text-teal-700 rounded-lg bg-teal-50 ring-4 ring-white">
                        <!-- Heroicon name: outline/clock -->
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </span>
                </div>
                <div class="mt-6" id="p1">
                    <h3 class="text-lg font-medium">
                        <a href="https://www.xcall.dev/what-is-xcall" class="focus:outline-none dark:text-slate-50">
                            <!-- Extend touch target to entire panel -->
                            <span class="absolute inset-0 text-slate-50" aria-hidden="true" id="p1"></span>
                            What is xCall?
                        </a>
                    </h3>
                    <p class="mt-2 text-sm dark:text-slate-400 text-slate-600" id="p1">Learn about ICON's cross-chain messaging interface deployable on any protocol.</p>
                </div>
                <span class="absolute pointer-events-none top-6 right-6 group-hover:text-slate-400 text-slate-300"
                    aria-hidden="true">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
                    </svg>
                </span>
            </div>

            <div class="relative p-6 sm:rounded-tr-lg group focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500 bg-slate-50 dark:bg-slate-800"
                id="p2">
                <div>
                    <span class="inline-flex p-3 text-purple-700 rounded-lg bg-purple-50 ring-4 ring-white">
                        <!-- Heroicon name: outline/badge-check -->
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                        </svg>
                    </span>
                </div>
                <div class="mt-6" id="p2">
                    <h3 class="text-lg font-medium">
                        <a href="/hanawallet/"
                            class="focus:outline-none dark:text-slate-50">
                            <!-- Extend touch target to entire panel -->
                            <span class="absolute inset-0 text-slate-50" aria-hidden="true" id="p2"></span>
                            Download Wallet
                        </a>
                    </h3>
                    <p class="mt-2 text-sm dark:text-slate-400 text-slate-600" id="hwal1">Learn how to download and use
                        Hana,
                        the
                        official wallet of the
                        ICON ecosystem.</p>
                </div>
                <span class="absolute pointer-events-none top-6 right-6 group-hover:text-slate-400 text-slate-300"
                    aria-hidden="true">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
                    </svg>
                </span>
            </div>

            <div class="relative p-6 group focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500 bg-slate-50 dark:bg-slate-800"
                id="p3">
                <div>
                    <span class="inline-flex p-3 rounded-lg bg-sky-50 text-sky-700 ring-4 ring-white">
                        <!-- Heroicon name: outline/users -->
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4" />
                        </svg>
                    </span>
                </div>
                <div class="mt-6" id="p3">
                    <h3 class="text-lg font-medium">
                        <a href="/integrations/" class="focus:outline-none dark:text-slate-50">
                            <!-- Extend touch target to entire panel -->
                            <span class="absolute inset-0 text-slate-50" aria-hidden="true" id="p3"></span>
                            Which Blockchains Connect?
                        </a>
                    </h3>
                    <p class="mt-2 text-sm dark:text-slate-400 text-slate-600" id="p3">Check out the growing list of bliockchains on which apps, written in any programming language, can use the ICON Cross-Chain Framework.</p>
                </div>
                <span class="absolute pointer-events-none top-6 right-6 group-hover:text-slate-400 text-slate-300"
                    aria-hidden="true">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
                    </svg>
                </span>
            </div>

            <div class="relative p-6 group focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500 bg-slate-50 dark:bg-slate-800"
                id="p4">
                <div>
                    <span class="inline-flex p-3 text-yellow-700 rounded-lg bg-yellow-50 ring-4 ring-white">
                        <!-- Heroicon name: outline/cash -->
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
                        </svg>
                    </span>
                </div>
                <div class="mt-6" id="p4">
                    <h3 class="text-lg font-medium">
                        <a href="/learn/icx/" class="focus:outline-none dark:text-slate-50">
                            <!-- Extend touch target to entire panel -->
                            <span class="absolute inset-0 text-slate-50" aria-hidden="true" id="p4"></span>
                            Purchase ICX
                        </a>
                    </h3>
                    <p class="mt-2 text-sm dark:text-slate-400 text-slate-600" id="p4">Learn how to purchase ICX to
                        interact with
                        ICON dApps like
                        Balanced, Omm, Craft, and more.</p>
                </div>
                <span class="absolute pointer-events-none top-6 right-6 group-hover:text-slate-400 text-slate-300"
                    aria-hidden="true">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
                    </svg>
                </span>
            </div>

            <div class="relative p-6 sm:rounded-bl-lg group focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500 bg-slate-50 dark:bg-slate-800"
                id="p5">
                <div>
                    <span class="inline-flex p-3 rounded-lg bg-rose-50 text-rose-700 ring-4 ring-white">
                        <!-- Heroicon name: outline/receipt-refund -->
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                        </svg>
                    </span>
                </div>
                <div class="mt-6" id="p5">
                    <h3 class="text-lg font-medium">
                        <a href="/learn/icon-governance/" class="focus:outline-none dark:text-slate-50">
                            <!-- Extend touch target to entire panel -->
                            <span class="absolute inset-0 text-slate-50" aria-hidden="true" id="p5"></span>
                            ICON Governance
                        </a>
                    </h3>
                    <p class="mt-2 text-sm dark:text-slate-400 text-slate-600" id="p5">Learn about ICON's DPoS
                        governance
                        model,
                        and how validators, stakers, and ICX issuance all fit into the equation.</p>
                </div>
                <span class="absolute pointer-events-none top-6 right-6 group-hover:text-slate-400 text-slate-300"
                    aria-hidden="true">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
                    </svg>
                </span>
            </div>

            <div class="relative p-6 rounded-bl-lg rounded-br-lg sm:rounded-bl-none group focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500 bg-slate-50 dark:bg-slate-800"
                id="p6">
                <div>
                    <span class="inline-flex p-3 text-indigo-700 rounded-lg bg-indigo-50 ring-4 ring-white">
                        <!-- Heroicon name: outline/academic-cap -->
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 10V3L4 14h7v7l9-11h-7z" />
                        </svg>
                    </span>
                </div>
                <div class="mt-6" id="p6">
                    <h3 class="text-lg font-medium">
                        <a href="/learn/icx/" class="focus:outline-none dark:text-slate-50">
                            <!-- Extend touch target to entire panel -->
                            <span class="absolute inset-0 text-slate-50" aria-hidden="true" id="p6"></span>
                            Stake ICX
                        </a>
                    </h3>
                    <p class="mt-2 text-sm dark:text-slate-400 text-slate-600" id="p6">Learn how to stake ICX to earn
                        <!-- <span id="icx-price" class="font-bold"
                            hx-get="{{ partial "api_url.html" }}/icx/staking-apy/?format=html"
                            hx-trigger="load, every 30s"></span>  -->
                            APY in exchange for helping to
                        secure the ICON network.
                    </p>
                </div>
                <span class="absolute pointer-events-none top-6 right-6 group-hover:text-slate-400 text-slate-300"
                    aria-hidden="true">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
                    </svg>
                </span>
            </div>
        </div>
        <div x-intersect="$el.classList.add('fadeInUp')" class="mx-auto mt-16 overflow-hidden shadow-md w-fit rounded-2xl">
            <iframe src="https://iconnetwork.substack.com/embed" 
            class="w-full h-[250px] sm:w-[480px] sm:h-[250px]" 
            frameborder="0" 
            scrolling="no">
            </iframe>
        </div>
    </div>


    {{ end }}