{{ define "main" }}
<div id="container" class="max-w-3xl px-4 mx-auto">
    <header class="sm:mb-8 mb-6">
        <!--
        {{ if isset .Params "category" }}
        <div id="term-category" class="mb-1">
            <span class="px-1.5 py-0.5 text-xs font-bold uppercase bg-indigo-600 border border-indigo-500 rounded-md">
                {{ .Params.category }}
            </span>
        </div>
        {{ end }}-->
        <div class="sm:space-x-6 flex flex-wrap items-center space-x-4">
            {{ $avatarImagePath := (printf "%s%s%s" "/static/assets/images/glossary/" .File.BaseFileName ".png") }}
            {{ if os.FileExists $avatarImagePath }}
            <div class="sm:w-24 sm:h-24 flex items-center w-20 h-20 p-2 bg-gray-900 border border-gray-800 rounded-lg">
                <img src="/assets/images/glossary/{{ .File.BaseFileName }}.png">
            </div>
            {{ end }}
            <div class="space-y-1">
                <h1 class="sm:text-4xl text-3xl font-bold leading-tight">{{ .Title }}</h1>
                <div class="post-meta flex items-center space-x-2.5">
                    <p id="term-category" class="px-1.5 py-0.5 text-xs font-bold uppercase bg-icon-lo rounded-md">
                        {{ .Params.category }}
                    </p>
                    {{ with .Params.twitter_url }}
                    <a href="{{ . }}">{{ partial "svg/twitter.html" }}</a>
                    {{ end }}
                    {{ with .Params.website_url }}
                    <a href="{{ . }}">{{ partial "svg/website.html" }}</a>
                    {{ end }}
                    {{ with .Params.github_url }}
                    <a href="{{ . }}">{{ partial "svg/github.html" }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </header>

    <div class="post-content mb-8">
        {{ .Content }}
    </div>

    {{ if isset .Params "category" }}
    {{ $categoryTerms := where $.Site.RegularPages "Params.category" .Params.category }}
    {{ $allTerms := where (where $.Site.RegularPages "Section" "glossary") "Title" "!=" .Title }}
    {{ $relatedTerms := intersect $allTerms $categoryTerms }}
    {{ if gt (len $relatedTerms) 0 }}
    <div class="related-terms">
        <h2 class="sm:text-3xl mb-4 text-2xl font-bold">Related Terms</h2>
        <ul>
            {{ range $relatedTerms }}
            <li class="ml-8 list-disc"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    {{ end }}
</div>
{{ end }}