@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-size: 18px;
}

.post-content p,
.post-content ul,
.post-content li {
  font-size: 19px;
}

.post-content p {
  margin-bottom: 1rem;
}

.post-content h1,
.post-content h2 {
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 3rem;
  line-height: 1.2;
}

.post-content h2 {
  font-size: 1.875rem;
}

.post-content li {
  list-style-type: disc;
  margin-bottom: 0.25rem;
}

.post-content ul {
  font-size: 20px;
  margin: 1.5rem 0 1.5rem 2rem;
}

#page-header #subtitle a {
  text-decoration: underline;
}

#page-header #subtitle a:hover {
  text-decoration: none;
}

#pagination ul li {
  display: inline;
}

#pagination ul li.active {
    color: #2ca9b7;
}

#pagination ul li:hover {
    color: #2ca9b7;
}

[x-cloak] {
  display: none !important;
}