@tailwind base;
@tailwind components;
@tailwind utilities;

.post-content p {
  margin-bottom: 1rem;
}

.post-content a {
  color: #087083;
  text-decoration: underline;
}

.post-content a:hover {
  text-decoration: none;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  line-height: 1.25;
  letter-spacing: -0.025em;
}

.post-content h2 {
  font-size: 1.875rem;
}

.post-content h3 {
  font-size: 1.5rem;
}

.post-content h4 {
  font-size: 1.3rem;
}

.post-content li {
  list-style-type: disc;
  margin-bottom: 0.25rem;
}

.post-content ol,
.post-content ul {
  margin: 0 0 1.5rem 2rem;
}

.post-content blockquote {
  border-left: 0.5rem solid #ddd;
  font-style: italic;
  padding-left: 1rem;
}

.post-content table {
  border: 1px solid #ddd;
  min-width: 100%;
  table-layout: auto;
  text-align: left;
}

.post-content td,
.post-content th {
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.post-content code {
  background: #eee;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
}

.post-content pre code {
  background: none;
  border-radius: 0;
  color: #f8f8f2;
  font-weight: 400;
  font-size: 0.9rem;
  padding: 0 0;
}

.post-content pre {
  background: #272822;
  border-radius: 0.5rem;
  margin: 1rem auto;
  overflow-x: scroll;
  padding: 1.5rem;
}

#page-header #subtitle a {
  text-decoration: underline;
}

#page-header #subtitle a:hover {
  text-decoration: none;
}

#pagination ul li {
  display: inline;
}

#pagination ul li.active {
  color: #2ca9b7;
}

#pagination ul li:hover {
  color: #2ca9b7;
}

[x-cloak] {
  display: none !important;
}

.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 10px 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  background: #11a5a5;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}