{{ define "container" }}
<div id="container" class="max-w-xl px-4 mx-auto my-16">
    <div id="hero-buttons" class="flex flex-wrap justify-start gap-4 mb-5">
        {{ partial "buttons/button_tertiary.html" (dict "context" . "buttonText" "Back to Glossary" "buttonUrl" "/glossary/") }}
    </div>
    <header class="mb-6 sm:mb-8">
        <div class="flex flex-wrap items-center space-x-4 sm:space-x-6">
            {{ $avatarImagePath := (printf "%s%s%s" "/static/assets/images/glossary/" .File.BaseFileName ".png") }}
            {{ if os.FileExists $avatarImagePath }}
            <div class="flex items-center w-24 h-24 border rounded-lg lg:w-32 lg:h-32 bg-slate-100 border-slate-200">
                <img class="max-w-full max-h-full p-3 mx-auto lg:p-4"
                    src="{{ partial "cdn_url.html" }}/assets/images/logos/{{ .File.BaseFileName }}_dark.png">
            </div>
            {{ end }}
            <div class="space-y-1">
                <h1 class="text-3xl font-bold leading-tight sm:text-4xl">{{ .Title }}</h1>
                <div class="post-meta flex items-center space-x-2.5">
                    {{ with .Params.synonym }}
                    <p id="term-synonym"
                        class="px-1.5 py-0.5 text-xs text-white font-bold uppercase bg-icon-lo rounded-md">
                        {{ . }}
                    </p>
                    {{ end }}
                </div>
            </div>
        </div>
    </header>
  
    <div class="mb-8 post-content">
        {{ .Content }}
    </div>

    {{ if isset .Params "synonym" }}
    {{ $synonymTerms := where $.Site.RegularPages "Params.synonym" .Params.synonym }}
    {{ $allTerms := where (where $.Site.RegularPages "Section" "glossary") "Title" "!=" .Title }}
    {{ $relatedTerms := intersect $allTerms $synonymTerms }}
    {{ if gt (len $relatedTerms) 0 }}
    <div class="related-terms">
        <h2 class="mb-4 text-2xl font-bold">Related Terms</h2>
        <ul>
            {{ range $relatedTerms }}
            <li class="ml-8 list-disc"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    {{ end }}
    
    <div id="hero-buttons" class="flex flex-col mt-10 space-y-2">
        <h2 class="font-semibold">Keep exploring:</h2>
        {{ partial "buttons/button_primary_smaller.html" (dict "context" . "buttonText" "ICON Learn Section" "buttonUrl" "/learn/") }}
        {{ partial "buttons/button_secondary_smaller.html" (dict "context" . "buttonText" "ICON Blog Section" "buttonUrl" "/blog/") }}
    </div>
</div>
{{ end }}