<div class="relative" x-data="{ open: false }">
    <button type="button"
        class="group focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 inline-flex items-center text-base font-medium rounded-md"
        aria-expanded="false" @click="open = true">
        <span>Resources</span>
        <svg class="group w-5 h-5 transform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true" :class="open && 'rotate-180'">
            <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
        </svg>
    </button>
    <div class="left-1/2 sm:px-0 absolute z-10 w-screen max-w-sm px-2 mt-3 transform -translate-x-1/2" x-show="open"
        x-cloak x-transition:enter="duration-200 ease-out" x-transition:enter-start="opacity-0 translate-y-1"
        x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="duration-150 ease-in"
        x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-1"
        @click.outside="open = false">
        <div class="ring-1 ring-black ring-opacity-5 p-3 overflow-hidden bg-white rounded-lg shadow-lg">
            <div class="relative grid">

                <a href="/learn/"
                    class="hover:bg-gray-100 hover:border-gray-200 flex items-start p-3 transition duration-150 ease-in-out border border-white rounded-lg">
                    <!-- Heroicon name: outline/chart-bar -->
                    <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                    </svg>
                    <div class="ml-4">
                        <p class="text-base font-medium text-gray-900">Learn</p>
                        <p class="mt-1 text-sm text-gray-500">Learn about key ICON concepts like
                            interoperability, DeFi, NFTs, and more.</p>
                    </div>
                </a>

                <a href="/blog/"
                    class="hover:bg-gray-100 hover:border-gray-200 flex items-start p-3 transition duration-150 ease-in-out border border-white rounded-lg">
                    <!-- Heroicon name: outline/chart-bar -->
                    <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z" />
                    </svg>
                    <div class="ml-4">
                        <p class="text-base font-medium text-gray-900">Blog</p>
                        <p class="mt-1 text-sm text-gray-500">Read the latest news and developments in the ICON
                            ecosystem.</p>
                    </div>
                </a>

                <!--
                <a href="/glossary/"
                    class="hover:bg-gray-100 hover:border-gray-200 flex items-start p-3 transition duration-150 ease-in-out border border-white rounded-lg">
                    <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <div class="ml-4">
                        <p class="text-gr1ay-900 text-base font-medium">Glossary</p>
                        <p class="mt-1 text-sm text-gray-500">Everything you need to know about the ICON in a delicious
                            bite-sized format.</p>
                    </div>
                </a>-->

                <a href="{{ $.Site.Params.social.roadmap_url }}"
                    class="hover:bg-gray-100 hover:border-gray-200 flex items-start p-3 transition duration-150 ease-in-out border border-white rounded-lg">
                    <!-- Heroicon name: outline/chart-bar -->
                    <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7" />
                    </svg>
                    <div class="ml-4">
                        <p class="text-base font-medium text-gray-900">Roadmap</p>
                        <p class="mt-1 text-sm text-gray-500">Stay up to date with ICON's development progress and
                            goals.</p>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>