<div class="relative" x-data="{ open: false }">
    <button type="button"
        class="group focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 inline-flex items-center text-base font-medium rounded-md"
        aria-expanded="false" @click="open = true">
        <span>Developers</span>
        <svg class="group w-5 h-5 transform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true" :class="open && 'rotate-180'">
            <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
        </svg>
    </button>
    <div class="left-1/2 sm:px-0 absolute z-10 w-screen max-w-sm px-2 mt-3 transform -translate-x-1/2" x-show="open"
        x-cloak x-transition:enter="duration-200 ease-out" x-transition:enter-start="opacity-0 translate-y-1"
        x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="duration-150 ease-in"
        x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-1"
        @click.outside="open = false">
        <div class="ring-1 ring-black ring-opacity-5 p-3 overflow-hidden bg-white rounded-lg shadow-lg">
            <div class="relative grid">
                <a href="https://icondev.io"
                    class="hover:bg-gray-100 hover:border-gray-200 flex items-start p-3 transition duration-150 ease-in-out border border-white rounded-lg">
                    <!-- Heroicon name: outline/chart-bar -->
                    <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M10 21h7a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v11m0 5l4.879-4.879m0 0a3 3 0 104.243-4.242 3 3 0 00-4.243 4.242z" />
                    </svg>
                    <div class="ml-4">
                        <p class="text-base font-medium text-gray-900">Documentation</p>
                        <p class="mt-1 text-sm text-gray-500">Learn how to develop dApps and smart contracts on the ICON
                            blockchain.
                        </p>
                    </div>
                </a>
                <a href="https://github.com/icon-project/java-score-examples"
                    class="hover:bg-gray-100 hover:border-gray-200 flex items-start p-3 transition duration-150 ease-in-out border border-white rounded-lg">
                    <!-- Heroicon name: outline/chart-bar -->
                    <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z" />
                    </svg>
                    <div class="ml-4">
                        <p class="text-base font-medium text-gray-900">Example Projects</p>
                        <p class="mt-1 text-sm text-gray-500">Kickstart your smart contract development workflow with
                            these
                            example projects.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>