<footer class="bg-gray-900 border-t border-gray-800" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="max-w-7xl px-8 py-16 mx-auto">
        <div class="xl:col-span-2 grid grid-cols-2 gap-8">
            <div class="md:grid md:grid-cols-2 md:gap-8">
                <!-- Developers -->
                <div>
                    <h3 class="text-sm font-bold text-gray-200 uppercase">
                        Developers
                    </h3>
                    <ul role="list" class="mt-4 space-y-4">
                        <li class="text-gray-400">
                            <a href="https://docs.icon.community" id="f1">
                                Docs
                            </a>
                        </li>
                        <li class="text-gray-400">
                            <a href="/repos/" id="f19">
                                Repos
                            </a>
                        </li>
                        <li class="text-gray-400">
                            <a href="https://immunefi.com/bounty/icon/" id="f4">
                                Bug Bounty
                            </a>
                        </li>
                        <li class="text-gray-400">
                            <a href="https://github.com/icon-project/btp" id="f3">
                                BTP
                            </a>
                        </li>
                        <li class="text-gray-400">
                            <a href="https://github.com/icon-project/goloop" id="f4">
                                Goloop
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Ecosystem -->
                <div class="md:mt-0 mt-12">
                    <h3 class="text-sm font-bold text-gray-200 uppercase">
                        Ecosystem
                    </h3>
                    <ul role="list" class="mt-4 space-y-4">
                        <li class="text-gray-400">
                            <a href="https://chrome.google.com/webstore/detail/hana/jfdlamikmbghhapbgfoogdffldioobgl"
                                id="f4">
                                Wallet
                            </a>
                        </li>
                        <li class="text-gray-400">
                            <a href="https://tracker.icon.community" id="f5">
                                Tracker
                            </a>
                        </li>
                        <li class="text-gray-400">
                            <a href="https://www.youtube.com/channel/UCJJ7_44t3DAU_Rgc0LIF4Eg" id="f6">
                                Podcast
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="md:grid md:grid-cols-2 md:gap-8">
                <!-- Resources -->
                <div>
                    <h3 class="text-sm font-bold text-gray-200 uppercase">
                        Resources
                    </h3>
                    <ul role="list" class="mt-4 space-y-4">
                        <li class="text-gray-400">
                            <a href="/blog/" id="f7">
                                Blog
                            </a>
                        </li>
                        <li class="text-gray-400">
                            <a href="/learn/" id="f8">
                                Learn
                            </a>
                        </li>
                        <li class="text-gray-400">
                            <a href="/glossary/" id="f9">
                                Glossary
                            </a>
                        </li>
                        <li class="text-gray-400">
                            <a href="/assets/btp-litepaper.pdf" id="f9">
                                BTP Litepaper
                            </a>
                        </li>
                        <li class="text-gray-400">
                            <a href="/icon-branding-kit.zip" id="f10">
                                Branding Kit
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Community -->
                <div class="md:mt-0 mt-12">
                    <h3 class="text-sm font-bold text-gray-200 uppercase">
                        Community
                    </h3>
                    <ul role="list" class="mt-4 space-y-4">
                        <li class="text-gray-400">
                            <a href="{{ $.Site.Params.social.discordUrl }}" id="f11">
                                Discord
                            </a>
                        </li>
                        <li class="text-gray-400">
                            <a href="{{ $.Site.Params.social.twitterUrl }}" id="f12">
                                Twitter
                            </a>
                        </li>
                        <li class="text-gray-400">
                            <a href="https://forum.icon.community" id="f13">
                                Forum
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div
        class="sm:items-center sm:justify-between sm:flex-row sm:space-y-0 flex flex-col justify-center gap-4 px-8 py-4 border-t border-gray-800">
        <div class="sm:order-2 flex items-center justify-center space-x-4">
            <a href="https://twitter.com/helloiconworld" class="hover:text-gray-500 text-gray-400" id="f14">
                <span class="sr-only">Twitter</span>
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path
                        d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
                </svg>
            </a>
            <a href="https://www.youtube.com/channel/UCI7Z_1sTKN-kCVgFD2a0GXQ" class="hover:text-gray-500 text-gray-400"
                id="f15">
                <span class="sr-only">YouTube</span>
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"
                        clip-rule="evenodd" />
                </svg>
            </a>
            <a href="https://github.com/icon-community" class="hover:text-gray-500 text-gray-400" id="f15">
                <span class="sr-only">GitHub</span>
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                        clip-rule="evenodd" />
                </svg>
            </a>
        </div>

        <div class="sm:flex-row flex flex-col items-center justify-center gap-4">
            <div id="netlify-badge" class="sm:order-1 order-2">
                <a href="https://www.netlify.com">
                    <img class="w-20" src="{{ partial "cdn_url.html" }}/assets/images/netlify.svg"
                        alt="Deploys by Netlify" />
                </a>
            </div>
            <div id="copyright-text"
                class="sm:order-2 sm:text-left order-1 space-y-2 text-xs text-center text-gray-400">
                <div>
                    <p>
                        <a href="https://github.com/icon-community/icon.community" class="hover:underline" id="f16">ICON
                            Community Website</a> &copy;
                        {{ now.Format "2006" }} by <a href="https://icon.foundation" class="hover:underline"
                            target="_blank">ICON Foundation</a>
                    </p>
                    <p>
                        Licensed
                        under <a class="hover:underline no-underline"
                            href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
                    </p>
                </div>
                <div>
                    <ul class="sm:justify-start flex justify-center gap-2">
                        <li class="inline">
                            <a class="hover:underline" href="/privacy-policy/" id="f17">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="inline">
                            <a class="hover:underline" href="mailto:hello@icon.foundation" id="f18">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>