<div class="relative z-50" x-data="{ mobileMenuOpen: false }">
    <div class="flex items-center justify-between max-w-full px-4 py-4">
        <div id="logo">
            <a href="/">
                <picture>
                    <!--<source srcset="/assets/images/icon/logo-dark.png" media="(prefers-color-scheme: dark)">
                    <source srcset="/assets/images/icon/logo-light.png" media="(prefers-color-scheme: light)">-->
                    <img class="w-auto h-8" src="{{ partial "cdn_url.html" }}/assets/images/icon/logo-light.png"
                        alt="ICON Community">
                </picture>
            </a>
        </div>
        <div class="-my-2 -mr-2 lg:hidden">
            <button type="button"
                class="inline-flex items-center justify-center p-2 bg-transparent rounded-md hover:text-slate-500 hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-xindigo text-slate-400"
                aria-expanded="false" @click="mobileMenuOpen =! mobileMenuOpen">
                <span class="sr-only">Open menu</span>
                <!-- Heroicon name: outline/menu -->
                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </button>
        </div>
        <nav role="navigation" class="items-center hidden lg:flex sm:space-x-6 md:space-x-8 lg:space-x-12">
            {{ partial "layout/navigation/dropdown_xcall.html" . }}
            {{ partial "layout/navigation/dropdown_developers.html" . }}
            {{ partial "layout/navigation/dropdown_ecosystem.html" . }}
            {{ partial "layout/navigation/dropdown_resources.html" . }}
            {{ partial "layout/navigation/dropdown_community.html" . }}
        </nav>
        <div class="justify-end hidden lg:block" id="hwal1">
            {{ partial "buttons/button_primary.html" (dict "context" . "buttonText" "Get Wallet" "buttonUrl" "/hanawallet/" )}}
        </div>
    </div>
    {{ partial "layout/navigation/navigation_mobile.html" . }}
</div>

{{ with $.Site.Params.banner }}
{{ $message := .message }}
{{ $url := .url }}
<!-- Only display div if both message and url are specified in config.yml -->
{{ if and $message $url }}
<div id="featured-bar" class="border-t border-b dark:border-slate-800 dark:bg-icon-lo bg-slate-900 border-slate-900">
    <div class="px-4 py-2 mx-auto max-w-7xl">
        <div class="flex flex-wrap items-center justify-center">
            <div class="flex items-center space-x-4">
                <span class="bg-icon-lo dark:bg-slate-800 flex p-1.5 rounded-lg">
                    <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
                    </svg>
                </span>
                <p class="text-sm font-medium sm:text-base text-slate-50">
                    <a href="{{ $url }}?source=featured-bar" class="underline hover:no-underline"
                        id="hbar1">{{ $message }}</a>
                </p>
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ end }}