{{ $data := newScratch }}
{{ if or (isset . "primaryButtonText") (isset . "secondaryButtonText") }}
{{ $data.Set "isButton" true }}
{{ else }}
{{ $data.Set "isButton" false }}
{{ end }}
{{ $isButton := $data.Get "isButton" }}

<header id="page-header" class="mx-auto my-16 text-center max-w-7xl font-montserrat">
    <div class="{{ if eq $isButton true }}mb-4 sm:mb-8{{ end }}">
        <h2 id="title" class="mb-4 text-5xl font-extrabold lg:text-6xl font-lemon">{{ .context.Title }}</h2>
        <div id="subtitle" class="max-w-xl mx-auto text-lg dark:text-slate-400 text-slate-600">{{ .context.Content }}
        </div>
    </div>
    {{ if eq $isButton true }}
    <div id="cta-buttons" class="space-x-4">
        {{ if (isset . "primaryButtonText") }}
        {{ partial "buttons/button_primary.html" (dict "context" . "buttonText" .primaryButtonText "buttonUrl" .primaryButtonUrl )}}
        {{ end }}
    </div>
    {{ end }}
</header>