{{ define "container" }}
{{ $data := newScratch }}
<div id="container" class="max-w-7xl lg:my-24 px-4 mx-auto my-16">
    {{ partial "page_header.html" (dict "context" . "primaryButtonText" "Subscribe to Newsletter" "primaryButtonUrl" $.Site.Params.social.newsletter_url) }}
    <div id="blog-posts"
        class="md:grid-cols-2 xl:grid-cols-3 md:space-y-0 gap-x-4 gap-y-8 xl:gap-y-8 xl:gap-x-8 grid grid-cols-1">
        {{ range first 9 (where $.Site.RegularPages "Section" "blog") }}
        {{ if isset .Params "author" }}
        {{ $data.Set "authorName" .Params.author }}
        {{ else }}
        {{ $data.Set "authorName" "ICON Foundation" }}
        {{ end }}
        {{ $authorName := $data.Get "authorName" }}
        {{ $authorId := replace (lower ($authorName)) " " "-" }}
        <div class="flex flex-col overflow-hidden rounded-lg">
            <div class="flex-shrink-0">
                <img class="h-60 object-cover w-full" src="{{ partial "featured_image.html" . }}"
                    alt="{{ .Params.description }}">
            </div>
            <div
                class="dark:border-gray-700 flex flex-col justify-between flex-1 p-6 border-b border-l border-r border-gray-300 rounded-b-lg">
                <div class="flex-1">
                    {{ with .Params.category }}
                    <p class="text-icon-lo text-sm font-bold">
                        <a href="#" class="hover:underline">
                            {{ . | title }}
                        </a>
                    </p>
                    {{ end }}
                    <a href="{{ .Permalink }}" class="block mt-2">
                        <h2 class="hover:text-icon-lo text-xl font-bold leading-snug">
                            {{ .Title }}
                        </h2>
                        <p class="dark:text-gray-400 mt-3 leading-snug text-gray-600">
                            {{ .Params.description }}
                        </p>
                    </a>
                </div>
                <div class="flex items-center mt-6">
                    <div class="flex-shrink-0">
                        <a href="/contributors/">
                            <span class="sr-only"></span>
                            <img class="border-icon-lo w-10 h-10 p-0.5 border-2 rounded-full"
                                src="/assets/images/contributors/{{ $authorId }}.jpg" alt="{{ $authorName }}">
                        </a>
                    </div>
                    <div class="dark:text-gray-400 ml-3 text-gray-600">
                        <p class="text-sm font-medium">
                            <a href="/contributors/" class="hover:text-icon-lo">{{ $authorName }}</a>
                        </p>
                        <div class="flex space-x-1 text-sm">
                            <time datetime="2020-03-16">
                                {{ .PublishDate.Format "January 2, 2006" }}
                            </time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    <div id="recent-posts">
        <header id="page-header" class="max-w-7xl mx-auto my-16 text-center">
            <h2 id="title" class="lg:text-6xl md:text-5xl mb-4 text-4xl font-extrabold">Recent Posts</h2>
            <div id="subtitle" class="dark:text-gray-400 max-w-xl mx-auto text-lg text-gray-600">Recent blog posts
                published
                by the ICON community.</div>
        </header>
        <div class="sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 sm:gap-6 grid grid-cols-1 gap-4">
            {{ range after 9 (where $.Site.RegularPages "Section" "blog") }}
            {{ if ge .PublishDate.Year 2020 }}
            <div class="space-y-2">
                <header>
                    <a href="{{ .Permalink }}" class="hover:underline">
                        <h2 class="font-bold leading-tight">{{ .Title }}</h2>
                    </a>
                    <time class="dark:text-gray-400 text-sm text-gray-600"
                        t>{{ .PublishDate.Format "Jan 2, 2006" }}</time>
                </header>
                <p class="text-sm leading-snug">{{ .Params.description | safeHTML | truncate 120 }}</p>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}