{{ define "container" }}
<main>
    <div id="container" class="lg:my-24 max-w-2xl px-4 mx-auto my-16 space-y-8">
        <img src="{{ partial "featured_image.html" . }}" />
        <header class="mb-8">
            <h2 class="mb-2 text-4xl font-bold">{{ .Title }}</h2>
            <!--{{ with .Params.subtitle }}
            <p class="text-2xl font-light text-gray-600">{{ . }}</p>
            {{ end }}-->
            <div class="dark:text-gray-400 text-gray-600">{{ .PublishDate.Format "January 2, 2006" }}</div>
        </header>
        <div class="post-content">
            {{ .Content }}
        </div>
    </div>
</main>
{{ end }}