{{ define "container" }}
<main class="border-4 border-red-400 bg-left-to-right-gray-white-gray">
    <head>
        <title>{{ .Title }}</title>
    </head>
    <div itemscope itemtype="https://schema.org/Article">
        <div itemprop="headline"></div>
        <meta itemprop="image" content="{{ partial "featured_image.html" . }}" />
        <meta itemprop="image" content="{{ partial "featured_image.html" . }}" />
        <div>
          <span itemprop="datePublished" content="{{ .PublishDate.Format "January 2, 2006" }}">
          </span>
        </div>
        <span itemprop="author" itemscope itemtype="https://schema.org/Person"></span>
    </div>
    <div id="container" class="px-0 mx-auto my-0 space-y-8 sm:my-16 sm:px-4 lg:my-24">
        <header class="max-w-4xl mx-auto mb-8 space-y-8">
            <div class="overflow-hidden rounded-none shadow-md sm:rounded-2xl">
                <img src="{{ partial "featured_image.html" . }}" />
            </div>
            <div class="px-8 py-2 mx-auto border border-black rounded-lg font-montserrat w-fit">
                <a href="/learn">
                    <button class="flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                        </svg>                         
                        Back to Learn section
                    </button>
                </a>
            </div>
            <h2 itemprop="headline" class="px-4 mb-2 text-4xl font-bold text-left sm:px-0 sm:text-center sm:text-5xl">{{ .Title }}</h2>
        </header>
        <div class="max-w-2xl px-4 mx-auto post-content sm:px-0">
            {{ .Content }}
        </div>
        <div class="w-2/3 h-0.5 mx-auto bg-gray-300 border border-gray-300"></div>
        <div id="hero-buttons" class="flex flex-col mx-auto mt-10 space-y-4 text-center">
            <h2 class="text-xl font-semibold">Keep exploring ICON:</h2>
            <div class="flex flex-col items-center justify-center w-full sm:flex-row">
                <div class="m-2">
                    {{ partial "buttons/button_primary_smaller.html" (dict "context" . "buttonText" "ICON Learn Section" "buttonUrl" "/learn/") }}
                </div>
                <div class="m-2">
                    {{ partial "buttons/button_secondary_smaller.html" (dict "context" . "buttonText" "ICON Blog Section" "buttonUrl" "/blog/") }}
                </div>
            
            </div>
        </div>
        <div class="mx-auto overflow-hidden shadow-md w-fit rounded-2xl">
            <iframe src="https://iconnetwork.substack.com/embed" 
            class="w-full h-[250px] sm:w-[480px] sm:h-[250px]" 
            frameborder="0" 
            scrolling="no">
            </iframe>
        </div>
    </div>
</main>
{{ end }}