{{ define "container" }}
{{ $data := newScratch }}
{{ $ecosystemMembers := where $.Site.RegularPages "Section" "ecosystem" }}

<div x-data="{ visibility: 'all' }" id="container" class="mx-auto mb-16 lg:mb-24 font-montserrat">   

    <header class="relative mx-auto overflow-hidden text-center font-montserrat bg-radial-at-bl md:bg-radial-at-b from-rookteal-darktwo via-rookteal-light to-rookteal-dark">
        <div class="absolute left-0 z-10 w-full overflow-hidden leading-none rotate-180 -bottom-1">
            <svg class="relative block h-[24px] sm:h-[48px] w-full" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" fill="#F8FAFC"></path>
            </svg>
        </div>
        <div class="absolute right-0 hidden w-full overflow-hidden sm:block">
            <img class="" src="/assets/images/bg/bridges-bg.png" alt="" />
        </div>
        <div class="absolute right-0 block w-full overflow-hidden sm:hidden">
            <img class="" src="/assets/images/bg/bridges-mobile.png" alt="" />
        </div>
        <div class="relative py-12 mx-auto sm:py-40 max-w-7xl">
            <!-- Header text -->
            <div class="flex flex-col items-center max-w-6xl px-4 mx-auto mb-20 text-white sm:mb-0 sm:px-12 xl:px-0 sm:flex-row">
                <div class="flex items-center justify-center w-full sm:w-1/2">
                    <div class="font-bold text-[8rem] sm:text-[12rem]">
                        4
                    </div>
                    <div class="p-4 text-2xl text-left sm:p-6 sm:text-4xl opacity-60">
                        Connected <br> bridging protocols
                    </div>
                </div>
                <div class="w-full px-6 py-0 text-center sm:py-6 border-white/0 sm:border-[#B8FBFF] sm:text-left sm:border-l sm:w-1/2">                    
                    <p class="block -translate-y-6 sm:hidden">Apps integrate ICON's General Message Passing (xCall) to operate cross-chain seamlessly.</p>
                    <p class="hidden text-base sm:block">Apps integrate ICON's General Message Passing (xCall) to operate cross-chain seamlessly, build momentum and gain reputation.</p>
                    <!-- <a class="inline-block font-bold " href="https://docs.icon.community/">Can my app go cross-chain with ICON? ↗</a></p> -->
                    <div class="py-0 text-sm sm:py-4">{{ partial "buttons/button_primary_smaller.html" (dict "context" . "buttonText" "Get started with ICX" "buttonUrl" "https://icon.community/hanawallet") }}</div>
                </div>
            </div>
            <!-- Header boxes -->
            <div class="grid w-fit grid-cols-2 gap-[20px] px-4 py-4 mx-auto text-white sm:py-0 lg:grid-cols-4 sm:px-12 xl:px-0 mb-40 sm:mb-0">
                <a href="https://docs.icon.community/cross-chain-communication/active-development" class="block group">
                    <div class="flex flex-col items-center justify-center w-40 h-40 px-6 pt-10 group-hover:pt-0  mx-auto transition-all sm:w-48 bg-[#B8FBFF]/20 backdrop-blur rounded-2xl hover:bg-white hover:cursor-pointer">
                        <div class="flex flex-col items-center justify-start w-full h-full group-hover:hidden">
                            <h3 class="text-2xl font-semibold text-white/60" id="chain-count">-</h3>
                            <p class="pt-1 sm:pt-0">ICON GMP Chains</p>
                        </div>
                        <div class="items-center justify-center hidden w-full h-full font-bold group-hover:flex text-rookteal-light">
                            <p class="">Check Live Integrations</p>
                        </div>
                    </div>
                </a>
                <script src="/assets/fetchChainCount.js"></script>
                <a href="https://coinmarketcap.com/currencies/icon/" target="_blank" class="block group">
                    <div class="flex flex-col group-hover:pt-0 items-center justify-center w-40 h-40 px-6 pt-10 mx-auto transition-all sm:w-48 bg-[#B8FBFF]/20 backdrop-blur rounded-2xl hover:bg-white hover:cursor-pointer">
                        <div class="flex flex-col items-center justify-start w-full h-full group-hover:hidden">
                            <h3 class="text-2xl font-semibold text-white/60" id="market-cap">$ -</h3>
                            <p class="pt-1 sm:pt-0">Fully diluted market cap</p>
                        </div>
                        <div class="items-center justify-center hidden w-full h-full font-bold group-hover:flex text-rookteal-light">
                            <p>Check Market Stats</p>
                        </div>
                    </div>
                </a>
                <script src="/assets/icx-marketcap.js"></script>
                <a href="https://coinmarketcap.com/currencies/icon/" target="_blank" class="block group">
                    <div class="flex flex-col items-center justify-center w-40 h-40 px-6 pt-10 mx-auto group-hover:pt-0  transition-all sm:w-48 bg-[#B8FBFF]/20 backdrop-blur rounded-2xl hover:bg-white hover:cursor-pointer">
                        <div class="flex flex-col items-center justify-start w-full h-full group-hover:hidden">
                            <h3 class="text-2xl font-semibold text-white/60" >$ <span id="stock-price">-</span></h3>
                            <p class="pt-1 sm:pt-0">ICX Price</p>
                        </div>
                        <div class="items-center justify-center hidden w-full h-full font-bold group-hover:flex text-rookteal-light">
                            <p>Check Market Stats</p>
                        </div>
                    </div>
                </a>
                <script src="/assets/icx-price.js"></script>
                <a href="https://burn.icon.community/" class="block group">
                    <div class="group-hover:pt-0  flex flex-col items-center justify-center w-40 h-40 px-6 pt-10 mx-auto transition-all sm:w-48 bg-[#B8FBFF]/20 backdrop-blur rounded-2xl hover:bg-white hover:cursor-pointer">
                        <div class="flex flex-col items-center justify-start w-full h-full group-hover:hidden">
                            <h3 class="text-2xl font-semibold text-white/60"  id="cumulative-burn" >- ICX</h3>
                            <p class="pt-1 sm:pt-0">🔥 last 7 days by Balanced</p>
                        </div>
                        <div class="items-center justify-center hidden w-full h-full font-bold group-hover:flex text-rookteal-light">
                            <p class="">Check Live Stats</p>
                        </div>
                    </div>
                </a>
                <script src="/assets/last7dayburn.js"></script>
            </div>
        </div>      
    </header>  
       
    <!-- MEDIUM AND YOUTUBE CARDS -->
    <div class="grid grid-cols-1 gap-8 mx-auto sm:grid-cols-3 max-w-7xl">
        <!-- MEDIUM CARD -->
        <div  class="relative z-20 flex flex-col w-full h-full col-span-3 p-10 space-y-12 -translate-y-10 bg-white sm:p-12 sm:-translate-y-20 shadow-5xl xl:col-span-2 rounded-xl">
            <!-- title -->
            <h2 class="flex flex-col items-start justify-center pt-4 text-xl font-bold sm:items-center sm:pt-0 sm:flex-row sm:justify-start font-montserrat text-slate-700/40"><span class="ml-5 sm:ml-0">Latest from</span>  <a href="https://medium.com/helloiconworld"><img class="w-60" src="/medium.png" alt="'ICON Content on Medium"/></a></h2>
            <!-- loader -->
            <div id="medium-loader" class="absolute top-0 flex items-center justify-center h-full -translate-x-1/2 left-1/2">
                <div class="loader"></div>
            </div>
            <!-- FIRST CARD -->
            <div id='' class="">
                <button  id="medium-cta" class="flex flex-col items-start justify-start h-full sm:flex-row">
                    <div class="flex-shrink-0 overflow-hidden rounded-xl">
                        <img id="medium-image" class="object-cover h-48 w-80" src="/assets/images/bg/white-bg.jpg" alt="" />
                    </div>
                    <div class="flex flex-col justify-center w-full h-full px-0 py-4 space-y-2 sm:px-4 sm:w-1/2 text-start">
                        <h1 class="text-2xl font-bold text-icon" id="medium-title"></h1>
                        <div class="flex items-center space-x-4 text-sm">
                            <p class="flex items-center font-semibold w-fit text-slate-700/90" id="medium-author"></p>
                            <p class="font-semibold text-slate-700/40" id="medium-date"></p>
                        </div>         
                    </div>
                </button>
            </div>
            <!-- SECOND CARD -->
            <div id='' class="">
                <button  id="medium-cta2" class="flex flex-col items-start justify-start h-full sm:flex-row">
                    <div class="flex-shrink-0 overflow-hidden rounded-xl">
                        <img id="medium-image2" class="object-cover h-48 w-80" src="/assets/images/bg/white-bg.jpg" alt="" />
                    </div>
                    <div class="flex flex-col justify-center w-full h-full px-0 py-4 space-y-2 sm:px-4 text-start sm:w-1/2 ">
                        <h1 class="text-2xl font-bold text-icon" id="medium-title2"></h1>
                        <div class="flex items-center space-x-4 text-sm">
                         
                            <p class="flex items-center font-semibold w-fit text-slate-700/90" id="medium-author2"></p>
                            <p class="font-semibold text-slate-700/40" id="medium-date2"></p>
                               
                    </div>
                </button>
            </div>
            <!-- THIRD CARD -->
            <div class="">
                <button id="medium-cta3" class="flex flex-col items-start justify-start flex-grow h-full sm:flex-row">
                    <div class="flex-shrink-0 overflow-hidden rounded-xl">
                        <img id="medium-image3" class="object-cover h-48 w-80" src="/assets/images/bg/white-bg.jpg" alt="" />
                    </div>
                    <div class="flex flex-col justify-center w-full h-full px-0 py-4 space-y-2 sm:px-4 sm:w-1/2 text-start">
                        <h1 class="text-2xl font-bold text-icon" id="medium-title3"></h1>
                        <div class="flex items-center space-x-4 text-sm ">                              
                            <p class="flex items-center font-semibold w-fit text-slate-700/90" id="medium-author3"></p>
                            <p class="font-semibold text-slate-700/40" id="medium-date3"></p>
                        </div>         
                    </div>
                </button>
            </div>

            <!-- FOURTH CARD -->
            <!-- <div class="">
                <button id="medium-cta4" class="flex flex-col items-center justify-start flex-grow h-full sm:items-start sm:flex-row">
                    <div class="overflow-hidden rounded-xl">
                        <img id="medium-image4" src="" class="object-cover h-48 w-80" src="" alt="" />
                    </div>
                    <div class="flex flex-col justify-center w-1/2 h-full px-4 py-4 space-y-2 text-center sm:text-start">
                        <h1 class="text-2xl font-bold text-icon" id="medium-title4"></h1>
                        <div class="flex items-center space-x-4">
                            <p class="font-semibold text-slate-700/90" id="medium-author4"></p>
                            <p class="font-semibold text-slate-700/40" id="medium-date4"></p>
                        </div>         
                    </div>
                </button>
            </div> -->
                         
            <script src="/assets/fetchMediumRssFeed.js"></script>
        </div>

        <!-- YOUTUBE CARDS -->
        <div id='youtube-card' class="relative z-20 flex-col hidden w-full h-full col-span-1 p-12 space-y-16 -translate-y-20 bg-white shadow-5xl xl:flex rounded-xl">
            <!-- title -->
            <h2 class="flex items-center justify-center font-bold font-montserrat text-slate-700/40"><a href="https://www.youtube.com/channel/UCI7Z_1sTKN-kCVgFD2a0GXQ"><img class="w-60" src="/youtube.png" alt="'ICON Content on YouTube"/></a></h2>
            <!-- loader -->
            <div id="youtube-loader" class="absolute top-0 flex items-center justify-center h-full -translate-x-1/2 left-1/2 ">
                <div class="loader"></div>
            </div>
            <!-- content -->
            <button id="youtube-cta" class="">
                <div class="relative w-full h-40 overflow-hidden rounded-xl">
                    <img id="youtube-image" class="object-contain object-center -translate-y-10" src="" alt="" />
                </div>                 
            </button>
            <button id="youtube-cta2" class="">
                <div class="relative w-full h-40 overflow-hidden rounded-xl">
                    <img id="youtube-image2" class="object-contain object-center -translate-y-10" src="" alt="" />
                </div>                 
            </button>   
            <button id="youtube-cta3"  class="">
                <div class="relative w-full h-40 overflow-hidden rounded-xl">
                    <img id="youtube-image3" class="object-contain object-center -translate-y-10" src="" alt="" />
                </div>                 
            </button>                
            <script src="/assets/fetchYoutubeRssFeed.js"></script>
        </div>
    </div>

    <!-- ECOSYSTEM FILTER SECTION -->
    <div id="filter-buttons" class="px-4 mx-auto mb-16 text-center max-w-7xl font-montserrat">
        <h1 class="w-2/3 pb-20 mx-auto text-xl font-thin sm:text-4xl text-slate-800/80">Join a network of entities connected with ICON and add your project to our ecosystem!</h1>
        <span class="relative z-0 inline-flex flex-wrap items-center justify-center gap-2 mx-auto shadow-none lg:gap-0">
            {{ $types := slice }}
            {{ range $ecosystemMembers }}
            {{ $types = $types | append (trim (replace .File.Dir "ecosystem/" "") "/") }}
            {{ end }}
            {{ $types = $types | uniq }}
            {{ $types = $types | append "all" | sort }}
            {{ range $index, $element := $types }}
            {{ if (eq $index 0) }}
            {{ $data.Set "buttonBorderRadius" "rounded-md lg:rounded-l-md lg:rounded-r-none " }}
            {{ else if (eq $index ( sub (len $types) 1 )) }}
            {{ $data.Set "buttonBorderRadius" "rounded-md lg:rounded-r-md lg:rounded-l-none " }}
            {{ else }}
            {{ $data.Set "buttonBorderRadius" "rounded-md lg:rounded-none" }}
            {{ end}}
            
            <button @click="visibility = '{{ . }}'" type="button"
                class="{{ $data.Get "buttonBorderRadius" }} hover:bg-icon-lo focus:z-10 f focus:bg-icon-lo relative inline-flex items-center px-3 py-1.5 xl:py-2 text-xs font-medium uppercase bg-slate-100 border border-slate-200">
                {{ . }}
            </button>
            {{ end }}
        </span>
    </div>
    <div class="mx-auto max-w-7xl h-[600px] overflow-y-scroll">
        <ul id="ecosystem-members"
            class="grid grid-cols-1 px-4 sm:grid-cols-2 lg:grid-cols-3 gap-x-0 gap-y-4 sm:gap-y-8 sm:gap-x-8">
            <div class="flex flex-row items-center justify-start w-full h-full"> 
                <div class="w-24 h-24 overflow-hidden border lg:h-32 lg:w-32 rounded-xl">
                    <img class='' src='/assets/images/add-your-project.png' alt='ICON Ecosystem'/>
                </div>
                <div class="flex flex-col items-start justify-center p-4 space-y-4 text-lg font-bold leading-tight">
                    <h1>Add your project</h1>
                    <a>
                        
                        <button data-tf-slider="MBBDnTNG" data-tf-width="550" data-tf-iframe-props="title=Add your project to the ICON Ecosystem" data-tf-medium="snippet">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
                                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 9a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V15a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V9z" clip-rule="evenodd" />
                            </svg>
                        </button>
                        <script src="//embed.typeform.com/next/embed.js"></script>
                    </a>
                    
                </div>
            </div>
           
            {{ range $ecosystemMembers }}
            {{ $type := trim (replace .File.Dir "ecosystem/" "") "/" }}
            {{ if eq $type "community" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "defi" }}
            {{ $data.Set "type" "DeFi" }}
            {{ else if eq $type "enterprise" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "exchange" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "gaming" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "government" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "infrastructure" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "interoperability" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "nft" }}
            {{ $data.Set "type" "NFT" }}
            {{ else if eq $type "oracle" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "p-rep" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "wallet" }}
            {{ $data.Set "type" (title $type) }}
            {{ end }}
            
            <!-- Custom background color support for logos. 
            {{ $name := replace (lower .Title) " " "-" }}
            {{ $bgColor := replace (.Params.bg_color) "#" "" }}
            <style>#{{ $name }}-logo { background-color: #{{ $bgColor }};}</style>-->

            <li x-show="['{{ $type }}', 'all'].includes(visibility)" id="{{ $name }}"
                class="{{ $type }} flex space-x-4 rounded-lg">
                <div id="{{ $name }}-logo"
                    class="flex items-center flex-shrink-0 w-24 h-24 border rounded-lg lg:w-32 lg:h-32 bg-slate-100 border-slate-200">
                    <img class="max-w-full max-h-full p-3 mx-auto lg:p-4"
                        src="{{ partial "cdn_url.html" }}/assets/images/logos/{{ .File.BaseFileName }}_dark.png?w=300&fit=max&auto=format&q=50"
                        loading="lazy">
                </div>
                <div class="sm:space-y-4 flex flex-col justify-center space-y-1.5">
                    <div class="space-y-0.5">
                        <h2 class="text-lg font-bold leading-tight">{{ .Title }}</h2>
                        <p class="text-sm text-slate-600">{{ $data.Get "type" }}</p>
                    </div>
                    <div class="flex space-x-2">
                        {{ with .Params.twitterUrl }}
                        <a href="{{ . }}">
                            {{ partial "svg/twitter.html" }}
                        </a>
                        {{ end }}
                        {{ with .Params.website_url }}
                        <a href="{{ . }}">
                            {{ partial "svg/website.html" }}
                        </a>
                        {{ end }}
                        {{ with .Params.githubUrl }}
                        <a href="{{ . }}">
                            {{ partial "svg/github.html" }}
                        </a>
                        {{ end }}
                    </div>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}