{{ define "container" }}
{{ $data := newScratch }}
{{ $ecosystemMembers := where $.Site.RegularPages "Section" "ecosystem" }}
<div class="w-full">
    <img class='object-cover min-h-40' src='/assets/images/ecosystem-hero.png' alt='ICON Ecosystem'/>
</div>
<div x-data="{ visibility: 'all' }" id="container" class="mx-auto mb-16 lg:mb-24 max-w-7xl font-montserrat">   
    <!-- ECOSYSTEM TEXT -->
    <header class="p-6 mx-auto text-center">
        <p class="max-w-6xl mx-auto text-lg font-bold text-[#2FB6B9] mb-6 sm:mb-0">
            Discover the blockchains, dApps, communities, infrastructure, enterprises, and institutions that make up the ICON ecosystem. 
        </p>
        <div class="flex flex-col items-start justify-center p-2 shadow-sm sm:flex-row sm:p-10 lg:items-center bg-slate-100 sm:bg-transparent rounded-xl sm:shadow-none">
            <div class="flex flex-col items-center justify-center w-full p-5 sm:w-1/2 lg:flex-row">
                <div class="w-[100px] lg:w-[250px] ">
                    <a href="https://icon.community/xcall/"><img class="" src='/assets/images/xcall.png' alt='xCall service' height="154" width="542"/></a>
                </div>               
                <p class="px-4 pt-4 text-left lg:pt-0 sm:text-center lg:text-justify">A key feature of BTP and <span class="font-semibold text-[#2FB6B9] ">ICON's unique standard</span> for generic cross-chain messaging between heterogeneous blockchains. </p>
            </div>
            <div class="flex flex-col items-center justify-center w-full p-5 border-l-0 sm:border-l-2 sm:w-1/2 lg:flex-row">
                <div class="w-[100px] lg:w-[200px]  ">
                    <img class="" src='/assets/images/btp.png' alt='Blockchain Transmission Protocol' height="138" width="499"/>
                </div>               
                <p class="px-4 pt-4 text-left lg:pt-0 sm:text-center lg:text-justify">Blockchain Transmission Protocol is an entirely new <span class="font-semibold text-[#2FB6B9] ">protocol for cross-chain messaging</span> which is chain-agnostic, scalable, and secure.</p>
            </div>
        </div>
        <!-- <div class="mt-4">
            <button data-tf-slider="MBBDnTNG" data-tf-width="550" data-tf-iframe-props="title=Add your project to the ICON Ecosystem" data-tf-medium="snippet" 
            style="all:unset;font-family:Helvetica,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#2CA9B7;color:#ffffff;font-size:16px;border-radius:6px;padding:0 20px;font-weight:bold;height:36px;cursor:pointer;line-height:36px;text-align:center;margin:0;text-decoration:none;">Add Your Project</button>
            <script src="//embed.typeform.com/next/embed.js"></script>
        </div> -->
    </header>
    <div id="filter-buttons" class="px-4 mb-16 text-center">
        <span class="relative z-0 inline-flex flex-wrap items-center justify-center gap-2 mx-auto shadow-none lg:shadow-sm lg:gap-0">
            {{ $types := slice }}
            {{ range $ecosystemMembers }}
            {{ $types = $types | append (trim (replace .File.Dir "ecosystem/" "") "/") }}
            {{ end }}
            {{ $types = $types | uniq }}
            {{ $types = $types | append "all" | sort }}
            {{ range $index, $element := $types }}
            {{ if (eq $index 0) }}
            {{ $data.Set "buttonBorderRadius" "rounded-md lg:rounded-l-md lg:rounded-r-none " }}
            {{ else if (eq $index ( sub (len $types) 1 )) }}
            {{ $data.Set "buttonBorderRadius" "rounded-md lg:rounded-r-md lg:rounded-l-none " }}
            {{ else }}
            {{ $data.Set "buttonBorderRadius" "rounded-md lg:rounded-none" }}
            {{ end}}
            <button @click="visibility = '{{ . }}'" type="button"
                class="{{ $data.Get "buttonBorderRadius" }} hover:bg-icon-lo focus:z-10 f focus:bg-icon-lo relative inline-flex items-center px-3 py-1.5 xl:py-2 text-xs font-medium uppercase bg-slate-100 border border-slate-200">
                {{ . }}
            </button>
            {{ end }}
        </span>
    </div>
    <div>
        <ul id="ecosystem-members"
            class="grid grid-cols-1 px-4 sm:grid-cols-2 lg:grid-cols-3 gap-x-0 gap-y-4 sm:gap-y-8 sm:gap-x-8">
            <div class="flex flex-row items-center justify-start w-full h-full"> 
                <div class="w-24 h-24 overflow-hidden border lg:h-32 lg:w-32 rounded-xl">
                    <img class='' src='/assets/images/add-your-project.png' alt='ICON Ecosystem'/>
                </div>
                <div class="flex flex-col items-start justify-center p-4 space-y-4 text-lg font-bold leading-tight">
                    <h1>Add your project</h1>
                    <a>
                        
                        <button data-tf-slider="MBBDnTNG" data-tf-width="550" data-tf-iframe-props="title=Add your project to the ICON Ecosystem" data-tf-medium="snippet">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
                                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 9a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V15a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V9z" clip-rule="evenodd" />
                            </svg>
                        </button>
                        <script src="//embed.typeform.com/next/embed.js"></script>
                    </a>
                    
                </div>
            </div>
            {{ range $ecosystemMembers }}
            {{ $type := trim (replace .File.Dir "ecosystem/" "") "/" }}
            {{ if eq $type "community" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "defi" }}
            {{ $data.Set "type" "DeFi" }}
            {{ else if eq $type "enterprise" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "exchange" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "gaming" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "government" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "infrastructure" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "interoperability" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "nft" }}
            {{ $data.Set "type" "NFT" }}
            {{ else if eq $type "oracle" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "p-rep" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "wallet" }}
            {{ $data.Set "type" (title $type) }}
            {{ end }}

            <!-- Custom background color support for logos. 
            {{ $name := replace (lower .Title) " " "-" }}
            {{ $bgColor := replace (.Params.bg_color) "#" "" }}
            <style>#{{ $name }}-logo { background-color: #{{ $bgColor }};}</style>-->

            <li x-show="['{{ $type }}', 'all'].includes(visibility)" id="{{ $name }}"
                class="{{ $type }} flex space-x-4 rounded-lg">
                <div id="{{ $name }}-logo"
                    class="flex items-center flex-shrink-0 w-24 h-24 border rounded-lg lg:w-32 lg:h-32 bg-slate-100 border-slate-200">
                    <img class="max-w-full max-h-full p-3 mx-auto lg:p-4"
                        src="{{ partial "cdn_url.html" }}/assets/images/logos/{{ .File.BaseFileName }}_dark.png?w=300&fit=max&auto=format&q=50"
                        loading="lazy">
                </div>
                <div class="sm:space-y-4 flex flex-col justify-center space-y-1.5">
                    <div class="space-y-0.5">
                        <h2 class="text-lg font-bold leading-tight">{{ .Title }}</h2>
                        <p class="text-sm text-slate-600">{{ $data.Get "type" }}</p>
                    </div>
                    <div class="flex space-x-2">
                        {{ with .Params.twitterUrl }}
                        <a href="{{ . }}">
                            {{ partial "svg/twitter.html" }}
                        </a>
                        {{ end }}
                        {{ with .Params.website_url }}
                        <a href="{{ . }}">
                            {{ partial "svg/website.html" }}
                        </a>
                        {{ end }}
                        {{ with .Params.githubUrl }}
                        <a href="{{ . }}">
                            {{ partial "svg/github.html" }}
                        </a>
                        {{ end }}
                    </div>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}