{{ define "container" }}
{{ $data := newScratch }}
{{ $ecosystemMembers := where $.Site.RegularPages "Section" "ecosystem" }}
<div class="w-full ">
    <img class='object-cover mx-auto min-h-40' src='/assets/images/ecosystem-hero.png' alt='ICON Ecosystem'/>
</div>
<div x-data="{ visibility: 'all' }" id="container" class="mx-auto mb-16 lg:mb-24 max-w-7xl font-montserrat">   
    <!-- ECOSYSTEM TEXT -->
    <header class="p-6 mx-auto text-center">
        <div class="py-12">
            <!-- <img class="w-40 pb-4 mx-auto" src="/xcall.png" alt="xCall Cross-Chain General Message Passing" /> -->
            <p  x-intersect="$el.classList.add('fadeInFromLeft')" class="w-11/12 mx-auto sm:w-1/2">Apps integrate ICON's General Message Passing (xCall) to operate cross-chain seamlessly, build momentum and gain reputation. <a class="inline-block font-bold text-icon" href="https://docs.icon.community/">Can my app use xCall?</a></p>
            <div x-intersect="$el.classList.add('fadeInFromRight')" class="flex gap-2.5 sm:gap-4 mx-auto w-fit my-8">
                <div
                    class="flex flex-col p-2 space-y-1 border rounded-lg sm:p-3 dark:bg-slate-800 dark:border-slate-700 bg-slate-100 border-slate-200">
                    <h3
                        class="text-xs font-bold tracking-tight uppercase dark:text-slate-400 text-slate-600">
                        ICX Price</h3>
                    <div class='flex space-x-1 font-semibold font-montserrat dark:text-slate-400 text-slate-600'>
                        <h1 class="">$</h1><h1 id="stock-price">---</h1>
                        <script src="/assets/icx-price.js"></script>
                    </div>
                </div>
                <div
                    class="flex flex-col p-2 space-y-1 border rounded-lg sm:p-3 dark:bg-slate-800 dark:border-slate-700 bg-slate-100 border-slate-200">
                    <h3
                        class="text-xs font-bold tracking-tight uppercase dark:text-slate-400 text-slate-600">
                        Market Cap</h3>
                        <div class='flex space-x-1 font-semibold font-montserrat dark:text-slate-400 text-slate-600'>
                            <h1 class="">$</h1><h1 id="market-cap">---</h1>
                            <script src="/assets/icx-marketcap.js"></script>
                        </div>
                </div>
                <div
                    class="flex flex-col p-2 space-y-1 border rounded-lg sm:p-3 dark:bg-slate-800 dark:border-slate-700 bg-slate-100 border-slate-200">
                    <h3
                        class="text-xs font-bold tracking-tight uppercase dark:text-slate-400 text-slate-600">
                        Staking APY
                    </h3>
                    <div class="flex mx-auto text-sm w-fit text-icon-lo font-montserrat ">
                        <a class="inline-block underline" href="https://www.icon.foundation/blog/2024/staking-icx-understanding-the-new-validator-commission-rates">Read ↗</a>
                          
                    </div>
                    
                      
                        <!-- <div class='flex space-x-1 font-semibold font-montserrat dark:text-slate-400 text-slate-600'>
                            <h1 id="staking-rate">---</h1><h1 class=""></h1>
                            <script src="/assets/bignumber.js" ></script>
                            <script src="/assets/icx-staking-rate.js" defer></script>
                        </div> -->
                </div>
            </div>
            <div x-intersect="$el.classList.add('fadeInFromLeft')" class="w-11/12 mx-auto sm:w-1/2 ">
                <p class="">ICON's native ICX coin fuels interoperability by acting as its L1 gas token and xCall cross-chain fee token. 🔥 Fees collected in ICX are <a class="font-semibold text-icon" target="_blank" href="https://docs.icon.community/cross-chain-communication/general-message-passing-xcall/explanations/fees">burned</a>.
                </p>
                <!-- Burn Box -->
                <!-- <div class="flex flex-col p-2 mx-auto my-8 text-white border rounded-lg w-fit sm:p-3 dark:bg-slate-800 dark:border-slate-700 bg-slate-100 border-slate-200 fire-effect">
                    <h3 class="text-xs font-bold tracking-tight uppercase">
                        Total Burn
                    </h3>
                    <div class='flex space-x-1 font-semibold font-montserrat'>
                        <h1 class="mx-auto" id="burn-rate">---</h1>
                        <script src="/assets/bignumber.js"></script>
                        <script src="/assets/icx-staking-rate.js" defer></script>
                    </div>
                </div> -->
            </div>
        </div>
        
           
        <div class="grid grid-cols-1 gap-4 pb-12 sm:grid-cols-2">
            <div id='medium-card' class="flex flex-col w-full px-4 py-8 space-y-4 shadow-md h-[420px] sm:h-[320px] rounded-xl relative">
                <!-- title -->
                <h2 class="flex items-center justify-center font-bold sm:justify-start font-montserrat text-slate-700/40">Latest from <img class="w-40" src="/medium.png" alt="'ICON Content on Medium"/></h2>
                <!-- loader -->
                <div id="medium-loader" class="absolute top-0 flex items-center justify-center h-full -translate-x-1/2 left-1/2">
                    <div class="loader"></div>
                </div>
                <!-- content -->
                <div class="flex flex-col items-center justify-center flex-grow sm:items-start sm:flex-row">
                    <div class="w-2/3 overflow-hidden rounded-xl">
                        <img id="medium-image" class="w-full " src="" alt="" />
                    </div>
                    <div class="px-4 py-4 space-y-2 text-center sm:py-1 sm:text-start">
                        <h1 class="font-bold text-icon" id="medium-title"></h1>
                        <p class="font-semibold text-slate-700/40" id="medium-date"></p>
                    </div>
                </div>               
                <!-- button -->
                <div class="flex justify-center w-full sm:justify-end">
                    <button id="medium-cta" class="px-4 py-2 font-bold text-white rounded-full opacity-0 bg-icon">Read Article ↗</button>
                </div>
                <script src="/assets/fetchMediumRssFeed.js"></script>
            </div>
            <div id='youtube-card' class="transform-all duration-200 flex flex-col w-full px-4 py-8 space-y-4 shadow-md  h-[420px] sm:h-[320px] rounded-xl relative">
                <!-- title -->
                <h2 class="flex items-center justify-center font-bold sm:justify-start font-montserrat text-slate-700/40">Latest from <img class="w-40" src="/youtube.png" alt="'ICON Content on YouTube"/></h2>
                <!-- loader -->
                <div id="youtube-loader" class="absolute top-0 flex items-center justify-center h-full -translate-x-1/2 left-1/2 ">
                    <div class="loader"></div>
                </div>
                <!-- content -->
                <div class="flex flex-col items-center justify-center flex-grow sm:items-start sm:flex-row">
                    <div class="relative w-2/3 overflow-hidden rounded-xl">
                        <div id='padding' class="pt-[56.25%]"></div> 
                        <img id="youtube-image" class="absolute object-cover w-full transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="" alt="" />
                    </div>                 
                    <div class="px-4 py-4 space-y-2 text-center sm:py-1 sm:text-start">
                        <h1 class="font-bold text-icon" id="youtube-title"></h1>
                        <p class="font-semibold text-slate-700/40" id="youtube-date"></p>
                    </div>
                </div>               
                <!-- button -->
                <div class="flex justify-center w-full sm:justify-end">
                    <button id="youtube-cta" class="px-4 py-2 font-bold text-white rounded-full opacity-0 bg-icon">Watch Video ↗</button>
                </div>
                <script src="/assets/fetchYoutubeRssFeed.js"></script>
            </div>
        </div>
    </header>
    <div id="filter-buttons" class="px-4 mb-16 text-center">
        <span class="relative z-0 inline-flex flex-wrap items-center justify-center gap-2 mx-auto shadow-none lg:shadow-sm lg:gap-0">
            {{ $types := slice }}
            {{ range $ecosystemMembers }}
            {{ $types = $types | append (trim (replace .File.Dir "ecosystem/" "") "/") }}
            {{ end }}
            {{ $types = $types | uniq }}
            {{ $types = $types | append "all" | sort }}
            {{ range $index, $element := $types }}
            {{ if (eq $index 0) }}
            {{ $data.Set "buttonBorderRadius" "rounded-md lg:rounded-l-md lg:rounded-r-none " }}
            {{ else if (eq $index ( sub (len $types) 1 )) }}
            {{ $data.Set "buttonBorderRadius" "rounded-md lg:rounded-r-md lg:rounded-l-none " }}
            {{ else }}
            {{ $data.Set "buttonBorderRadius" "rounded-md lg:rounded-none" }}
            {{ end}}
            <button @click="visibility = '{{ . }}'" type="button"
                class="{{ $data.Get "buttonBorderRadius" }} hover:bg-icon-lo focus:z-10 f focus:bg-icon-lo relative inline-flex items-center px-3 py-1.5 xl:py-2 text-xs font-medium uppercase bg-slate-100 border border-slate-200">
                {{ . }}
            </button>
            {{ end }}
        </span>
    </div>
    <div>
        <ul id="ecosystem-members"
            class="grid grid-cols-1 px-4 sm:grid-cols-2 lg:grid-cols-3 gap-x-0 gap-y-4 sm:gap-y-8 sm:gap-x-8">
            <div class="flex flex-row items-center justify-start w-full h-full"> 
                <div class="w-24 h-24 overflow-hidden border lg:h-32 lg:w-32 rounded-xl">
                    <img class='' src='/assets/images/add-your-project.png' alt='ICON Ecosystem'/>
                </div>
                <div class="flex flex-col items-start justify-center p-4 space-y-4 text-lg font-bold leading-tight">
                    <h1>Add your project</h1>
                    <a>
                        
                        <button data-tf-slider="MBBDnTNG" data-tf-width="550" data-tf-iframe-props="title=Add your project to the ICON Ecosystem" data-tf-medium="snippet">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
                                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 9a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V15a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V9z" clip-rule="evenodd" />
                            </svg>
                        </button>
                        <script src="//embed.typeform.com/next/embed.js"></script>
                    </a>
                    
                </div>
            </div>
            {{ range $ecosystemMembers }}
            {{ $type := trim (replace .File.Dir "ecosystem/" "") "/" }}
            {{ if eq $type "community" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "defi" }}
            {{ $data.Set "type" "DeFi" }}
            {{ else if eq $type "enterprise" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "exchange" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "gaming" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "government" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "infrastructure" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "interoperability" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "nft" }}
            {{ $data.Set "type" "NFT" }}
            {{ else if eq $type "oracle" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "p-rep" }}
            {{ $data.Set "type" (title $type) }}
            {{ else if eq $type "wallet" }}
            {{ $data.Set "type" (title $type) }}
            {{ end }}

            <!-- Custom background color support for logos. 
            {{ $name := replace (lower .Title) " " "-" }}
            {{ $bgColor := replace (.Params.bg_color) "#" "" }}
            <style>#{{ $name }}-logo { background-color: #{{ $bgColor }};}</style>-->

            <li x-show="['{{ $type }}', 'all'].includes(visibility)" id="{{ $name }}"
                class="{{ $type }} flex space-x-4 rounded-lg">
                <div id="{{ $name }}-logo"
                    class="flex items-center flex-shrink-0 w-24 h-24 border rounded-lg lg:w-32 lg:h-32 bg-slate-100 border-slate-200">
                    <img class="max-w-full max-h-full p-3 mx-auto lg:p-4"
                        src="{{ partial "cdn_url.html" }}/assets/images/logos/{{ .File.BaseFileName }}_dark.png?w=300&fit=max&auto=format&q=50"
                        loading="lazy">
                </div>
                <div class="sm:space-y-4 flex flex-col justify-center space-y-1.5">
                    <div class="space-y-0.5">
                        <h2 class="text-lg font-bold leading-tight">{{ .Title }}</h2>
                        <p class="text-sm text-slate-600">{{ $data.Get "type" }}</p>
                    </div>
                    <div class="flex space-x-2">
                        {{ with .Params.twitterUrl }}
                        <a href="{{ . }}">
                            {{ partial "svg/twitter.html" }}
                        </a>
                        {{ end }}
                        {{ with .Params.website_url }}
                        <a href="{{ . }}">
                            {{ partial "svg/website.html" }}
                        </a>
                        {{ end }}
                        {{ with .Params.githubUrl }}
                        <a href="{{ . }}">
                            {{ partial "svg/github.html" }}
                        </a>
                        {{ end }}
                    </div>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}