<div x-data="{ mobileMenuOpen: false }" id="navigation-menu" class="relative bg-black">
    <div class="md:mb-16 max-w-full mx-auto mb-8">
        <div class="md:justify-start md:space-x-10 flex items-center justify-between p-4 border-b border-gray-800">
            <div class="lg:w-0 lg:flex-1 flex justify-start">
                <a href="/">
                    <span class="sr-only">Workflow</span>
                    <img class="w-auto h-8" src="/assets/images/icon/icon-logo.png" alt="">
                </a>
            </div>
            <div class="md:hidden flex">
                <button @click="mobileMenuOpen = true"
                    class="focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 inline-flex items-center justify-center bg-black rounded-md"
                    aria-expanded="false">
                    <span class="sr-only">Open menu</span>
                    <!-- Heroicon name: outline/menu -->
                    <svg class="hover:text-gray-400 text-gray-600 fill-current" xmlns="http://www.w3.org/2000/svg"
                        width="28" height="28" viewBox="0 0 24 24">
                        <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z" />
                    </svg>
                </button>
            </div>
            <nav class="md:flex hidden space-x-10">

                <a href="/blog/" class="hover:text-icon-lo text-base font-medium text-gray-500">
                    Blog
                </a>

                <div x-data="{ desktopLearnTabOpen: false }" class="relative">
                    <!-- Item active: "text-gray-900", Item inactive: "text-gray-500" -->
                    <button @click="desktopLearnTabOpen = ! desktopLearnTabOpen" type="button"
                        class="group hover:text-icon-lo focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 inline-flex items-center text-base font-medium text-gray-500 bg-black rounded-md"
                        aria-expanded="false">
                        <span>Learn</span>
                        <!--
              Heroicon name: solid/chevron-down

              Item active: "text-gray-600", Item inactive: ""
            -->
                        <svg class="group-hover:text-gray-500 w-5 h-5 ml-2" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd" />
                        </svg>
                    </button>

                    <div x-show="desktopLearnTabOpen" @click.outside="desktopLearnTabOpen = false" x-cloak
                        x-transition:enter="duration-200 ease-out" x-transition:enter-start="opacity-0 translate-y-1"
                        x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="duration-150 ease-in"
                        x-transition:leave-start="opacity-100 translate-y-0"
                        x-transition:leave-end="opacity-0 translate-y-1"
                        class="sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2 absolute z-10 w-screen max-w-md px-2 mt-3 -ml-4 transform border border-gray-800 rounded-lg">
                        <div class="ring-1 ring-black ring-opacity-5 overflow-hidden rounded-lg shadow-lg">
                            <div class="sm:gap-8 sm:p-8 relative grid gap-6 px-5 py-6 bg-black">
                                <a href="/glossary/" class="hover:bg-gray-900 flex items-start p-3 -m-3 rounded-lg">
                                    <!-- Heroicon name: outline/chart-bar -->
                                    <svg class="flex-shrink-0 w-6 h-6 text-indigo-600"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                                    </svg>
                                    <div class="ml-4">
                                        <p class="text-base font-medium">
                                            Glossary
                                        </p>
                                        <p class="mt-1 text-sm text-gray-500">
                                            Get a better understanding of where your traffic is coming from.
                                        </p>
                                    </div>
                                </a>

                                <a href="/faq/" class="hover:bg-gray-900 flex items-start p-3 -m-3 rounded-lg">
                                    <!-- Heroicon name: outline/cursor-click -->
                                    <svg class="flex-shrink-0 w-6 h-6 text-indigo-600"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
                                    </svg>
                                    <div class="ml-4">
                                        <p class="text-base font-medium">
                                            FAQ
                                        </p>
                                        <p class="mt-1 text-sm text-gray-500">
                                            Speak directly to your customers in a more meaningful way.
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="https://icondev.io" class="hover:text-icon-lo text-base font-medium text-gray-500">
                    Build
                </a>
                <a href="/ecosystem/" class="hover:text-icon-lo text-base font-medium text-gray-500">
                    Ecosystem
                </a>

            </nav>
            <div class="md:flex md:flex-1 lg:w-0 items-center justify-end hidden">
                {{ partial "buttons/button_primary.html" (dict "context" . "buttonText" "Buy ICX" "buttonUrl" "/icx/")}}
            </div>
        </div>
    </div>

    <div id="mobileMenu" x-show="mobileMenuOpen" x-transition:enter="duration-200 ease-out"
        x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="duration-100 ease-in" x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0 scale-95"
        class="md:hidden absolute inset-x-0 top-0 z-50 transition origin-top-right transform border-b border-gray-800">

        <div class="ring-1 ring-black ring-opacity-5 bg-black divide-y divide-gray-800 rounded-lg shadow-lg">
            <div>
                <div class="flex items-center justify-between p-4 border-b border-gray-800">
                    <div>
                        <img class="w-auto h-8" src="/assets/images/icon/icon-logo.png" alt="Workflow">
                    </div>
                    <div class="flex">
                        <button @click="mobileMenuOpen = false"
                            class="focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 inline-flex items-center justify-center bg-black rounded-md">
                            <span class="sr-only">Close menu</span>
                            <!-- Heroicon name: outline/x -->
                            <svg class="hover:text-gray-400 text-gray-600 fill-current"
                                xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                                <path
                                    d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="px-4 my-8">
                    <nav class="gap-y-8 grid">
                        <a href="#"
                            class="hover:bg-gray-900 hover:border hover:border-gray-800 flex items-center p-3 -m-3 rounded-md">
                            <!-- Heroicon name: outline/chart-bar -->
                            <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                            </svg>
                            <p class="ml-3 text-base font-medium">
                                Glossary
                            </p>
                        </a>

                        <a href="#"
                            class="hover:bg-gray-900 hover:border hover:border-gray-800 flex items-center p-3 -m-3 rounded-md">
                            <!-- Heroicon name: outline/cursor-click -->
                            <svg class="flex-shrink-0 w-6 h-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
                            </svg>
                            <p class="ml-3 text-base font-medium">
                                FAQ
                            </p>
                        </a>
                    </nav>
                </div>
            </div>
            <div class="px-4 py-8 space-y-8">
                <div class="gap-y-4 gap-x-8 grid grid-cols-2">
                    <a href="/blog/" class="hover:text-icon-lo text-base font-medium">
                        Blog
                    </a>

                    <a href="/build/" class="hover:text-icon-lo text-base font-medium">
                        Build
                    </a>

                    <a href="/ecosystem/" class="hover:text-icon-lo text-base font-medium">
                        Ecosystem
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>