<div x-data="{ mobileMenuOpen: false }"
    class="sm:mb-16 flex items-center justify-between w-full p-4 mb-8 border-b border-gray-800">
    <a href="/"><img class="md:w-24 w-20" src="/assets/images/icon/icon-logo.png"></a>
    <nav class="md:block hidden text-base">
        <ul class="inline-flex flex-wrap gap-8">
            <a href="/learn/">
                <li class="font-medium text-gray-400">Learn</li>
            </a>
            <a href="https://icondev.io">
                <li class="font-medium text-gray-400">Build</li>
            </a>
            <a href="/ecosystem/">
                <li class="font-medium text-gray-400">Ecosystem</li>
            </a>
            <a href="/community/">
                <li class="font-medium text-gray-400">Community</li>
            </a>
        </ul>
    </nav>
    <div class="md:block hidden">
        {{ partial "buttons/button_primary.html" (dict "context" . "buttonText" "Buy ICX" "buttonUrl" "/icx/")}}
    </div>
</div>