<div id="revue-embed" class="space-y-4">
    <form class="flex" action="https://www.getrevue.co/profile/helloiconworld/add_subscriber" method="post"
        id="revue-form" name="revue-form" target="_blank">
        <div class="revue-form-group flex-1">
            <label for="member_email" class="sr-only">Email address</label>
            <input class="revue-form-field rounded-l-md w-full text-gray-400 bg-gray-200 border border-gray-300"
                placeholder="Your email address..." type="email" name="member[email]" id="member_email">
        </div>
        <div class="revue-form-actions">
            <input
                class="hover:bg-icon-dark border-icon-lo focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-icon-dark text-gray-50 bg-icon-lo sm:text-base rounded-r-md inline-flex items-center px-4 py-2 text-sm font-semibold transition duration-200 border"
                type="submit" value="Subscribe" name="member[subscribe]" id="member_submit">
        </div>
    </form>
    <div class="revue-form-footer text-sm text-gray-400">By subscribing, you agree with Revue’s <a target="_blank"
            href="https://www.getrevue.co/terms">Terms of Service</a> and <a target="_blank"
            href="https://www.getrevue.co/privacy">Privacy Policy</a>.</div>
</div>