@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-size: 18px;
}

.post-content p {
  margin-bottom: 1.5rem;
}

#page-header #subtitle a {
  text-decoration: underline;
}

#page-header #subtitle a:hover {
  text-decoration: none;
}
