<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="alternate" type="application/rss+xml" href="/index.xml" title="brianli.com">
        <link rel="canonical" href="{{ .Permalink | absURL }}" />
        <title>{{ .Title }} | ICON Community</title>
        <meta name="author" content="ICON Community">
        <meta name="description" content="{{ .Params.description }}" />
        <meta name="keywords" content="blockchain, cryptocurrency, interoperability" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&family=PT+Serif:wght@400;700&display=swap"
            rel="stylesheet">
        {{ $styles := resources.Get "css/main.css" | postCSS (dict "config" "./assets/css/postcss.config.js") }}
        {{ if .Site.IsServer }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
        {{ else }}
        {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
        <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
        {{ end }}
        <script src="https://unpkg.com/htmx.org@1.6.1"></script>
        <script src="https://unpkg.com/alpinejs" defer></script>
    </head>

    <body class="bg-gray-50 font-sans antialiased text-gray-900">
        {{ partial "navigation_bar.html" . }}
        {{ block "container" . }}{{ end }}
        {{ partial "footer.html" . }}
    </body>

</html>